<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔馆--登录</title>
    <include file="Index:wap_js_css"/>
<body pagename="login" style="overflow-x:hidden;">
<include file="User:uhead"/>
<div class="container">
    <form role="form" id="loginbox" onsubmit="return false;">
        <div class="form-group">
            <label for="exampleInputEmail1">用户名</label><input type="text" name="username" class="form-control" id="exampleInputEmail1" />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label><input type="password" name="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="checkbox">
            <label><input type="checkbox" style="position: relative;top: 2px;" name="autologin" />记住登录</label>
            <span class="fr borderb-d tc font12 cloc"><a href="/login/reg.html">去注册！</a></span>
        </div>
        <button type="submit" class="btn fr btn-default">登录</button>
    </form>
</div>
<script>
    $('#loginbox').submit(function(){
        $.post('/login/login', $('#loginbox').serialize(), function(data){
            if (data.code == 200) {
                clearpop(data.message,'','/');
            }else if (data.code == 205) { //賬號被禁用
                alert(data.message);
            }else{
                clearpop(data.message);
            }
        });
    })
</script>
</body>
</html>
