<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔堂--登录</title>
    <include file="Index:wap_js_css"/>
<body pagename="login" style="overflow-x:hidden;">
<style>
    input[type=checkbox]{width: 15px;}
    header{background-color: #231f20;background-image: none;height:50px;line-height: 50px;}
</style>
<header class="relative tc font24"> 名叔堂</header>
<div class="container">
    <form role="form" id="loginbox" onsubmit="return false;">
        <div class="form-group">
            <label for="exampleInputEmail1">用户名</label><input type="text" name="username" class="form-control" id="exampleInputEmail1" />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label><input type="password" name="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="checkbox">
            <label><input type="checkbox" class="relative" style="margin-top: -8px; margin-left: 0;" name="autologin" />记住登录</label>
            <span class="fr borderb-d tc font12 cloc"><a href="/login/reg.html">去注册！</a></span>
        </div>
        <a id="registerButtonMobile" href="javascript:void(0);" class="btn btn-ashley btn-large btn-fullwidth">登录</a>
        <!--<a id="goToLogin" href="/login/login.html" class="btn btn-large neighbour-top btn-fullwidth">忘记密码</a>-->
    </form>
</div>
<div data-role="footer" class="footer-public ui-footer tc" style="margin-top: 30px;padding: 5px 0" role="contentinfo">
    <div class="memberFooterCopyright force-ltr"> © 2013 - 2017.</div>
    <div class="memberFooterCopyright"> <a href="/" target="_top" class="ui-link">名叔堂 官方网站</a> </div>
    <div class="memberFooterCopyright">  </div>
</div>
<script>
    $('#registerButtonMobile').click(function(){
        $.post('/login/login', $('#loginbox').serialize(), function(data){
            if (data.code == 200) {
                clearpop(data.message,'',data.data);
            }else if (data.code == 205) { //賬號被禁用
                alert(data.message);
            }else{
                clearpopj(data.message);
            }
        });
    })
</script>
</body>
</html>
