<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔堂--注册</title>
    <include file="Index:wap_js_css"/>

</head>
<body pagename="reg">
<style>
    header{background-color: #231f20;background-image: none;height:50px;line-height: 50px;}
</style>
<header class="relative tc font24"> 名叔堂</header>
<div class="container bodyf">
    <form role="form" id="regbox" class="clo3" style="margin-top: 10px;" onsubmit="return false;">
            <div class="form-group">
                <span class="fontb">用户名</span><input type="text" name="nickname" class="form-control"  />
            </div>
            <div class="form-group">
                <span class="fontb">密码</span><input type="password" name="password" placeholder="5-18个字符" class="form-control"  />
            </div>
            <div class="form-group">
                <span class="fontb">确认密码</span><input type="password" name="repassword" placeholder="重复上面的密码" class="form-control"  />
            </div>
            <div class="form-group">
                <span class="fontb">性别</span>
                <div>
                    <select name="sex" id="sex">
                        <option value="1">女生</option>
                        <option value="2">男生</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="fontb">邮箱</span><input type="text" name="email" placeholder="请输入你的邮箱"  class="form-control"  />
            </div>
            <div class="form-group">
                <span class="fontb">QQ</span><input type="text" name="qqid" placeholder="请输入你的QQ"  class="form-control"  />
            </div>
            <div class="form-group">
                <span class="fontb">城市</span>
                <div>
                    <select name="proivce" id="proivce" class="fl" style="width: 49%;" onchange="checkeSupsort($(this).val(), $('#regbox select[name=city]'));">
                        <option value="">请选择省</option>
                        <volist name="proivce" id="vo">
                            <option value="{$vo.aid}">{$vo.name}</option>
                        </volist>
                    </select>
                    <select name="city" class="fl" id="city" style="width: 49%;">
                        <option value="">请选择城市</option>
                    </select>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="form-group">
                <span class="fontb">微信</span><input type="text" name="qqid" placeholder="请输入你的微信号"  class="form-control"  />
            </div>
            <div class="form-group">
                <div class="next_btn tc clof" onclick="subReg();">注册</div>
            </div>
            <div class="checkbox  font12 cloc">
                <span style="margin-left: 10%;display: none" onclick="$('#box_2').addClass('hide');$('#box_1').removeClass('hide');$(this).hide();" id="up">&lt;&lt;上一步</span>
                <span class="fr borderb-d tc "><a href="/login/login.html"><span class="clo9">已有账号,</span>去登录</a>！</span>
                <div class="clr"></div>
            </div>
    </form>
</div>
<div data-role="footer" class="footer-public ui-footer tc" style="padding: 5px 0" role="contentinfo">
    <div class="memberFooterCopyright force-ltr"> © 2013 - 2017.</div>
    <div class="memberFooterCopyright"> <a href="/" target="_top" class="ui-link">名叔堂 官方网站</a> </div>
    <div class="memberFooterCopyright">  </div>
</div>
<script>
    /*阻塞标志，防止重复提交；预设不阻塞*/
    window.subBlock=false;
    function subReg(){
        if(subBlock){
            return false;
        }
        if(!$('#regbox input[name=nickname]').val()){
            clearpop('请输入用户名');
            $('#regbox input[name=nickname]').focus();
            subBlock = false;
            return false;
        }
        var password = $('#regbox input[name=password]').val();
        if(!password){
            clearpop('请输入密码');
            $('#regbox input[name=password]').focus();
            subBlock = false;
            return false;
        }
        if(password.length <4){
            clearpop('密码位数不能小于4');
            $('#regbox input[name=password]').focus();
            subBlock = false;
            return false;
        }
        if(password != $('#regbox input[name=repassword]').val()){
            clearpop('两次密码输入不一致');
            $('#regbox input[name=repassword]').focus();
            subBlock = false;
            return false;
        }
        var $email = $('#regbox input[name=email]').val()
        if(!$email){
            clearpop('请填写邮箱地址');
            $('#regbox input[name=email]').focus();
            subBlock = false;
            return false;
        }
        if($email && !regex($email,'email')){
            clearpop('邮箱格式不正确');
            $('#regbox input[name=email]').focus();
            subBlock = false;
            return false;
        }
        subBlock = true;
        $.post('/login/reg', $('#regbox').serialize(), function(data){
            subBlock = false;
            if (data.code == 200) {
                clearpop(data.message,'',data.data);
            }else{
                clearpopj(data.message);
            }
        });
    }
</script>
</body>
</html>
