<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>节点列表</title>
<include file="Index:_js_css" />
</head>
<body>
	<table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
		<tr class="toolbar">
			<td colspan="6" class="tc">【 管理节点 】</td>
		</tr>
		<tr class="row0">
			<td colspan="6"><a href="{:U('Admin/Rbac/addNode')}"
				class="btnAdd">添加</a></td>
		</tr>
		<tr class="header">
			<td width="50">ID</td>
			<td>节点名称</td>
			<td>节点描述</td>
			<td width="70">排序</td>
			<td width="50">状态</td>
			<td width="150">操作</td>
		</tr>
		<volist id="vo" name="list">
		<tr class="row{$i % 2+1}">
			<td>{$vo.id}</td>
			<td>{$vo.title}【{$vo.name}】</td>
			<td>{$vo.remark}&nbsp;</td>
			<td><input name="Item_1" id="Item_1"
				onchange="setVal('node','sort',{$vo.id},$(this).val())"
				class="inputText1 numeric w50" value="{$vo.sort}" /></td>
			<td><if condition="($vo.status eq 1)"> <a
					href="javascript:void(0);"
					onclick="setVal('node','status',{$vo.id},0,this,'隐藏')">显示</a> <else />
				<a href="javascript:void(0);"
					onclick="setVal('node','status',{$vo.id},1,this,'显示')" class="fc_red">隐藏</a> </if></td>
			<td><a href="{:U('Rbac/addNode',Array("pid"=>$vo["id"],"level"=>$vo["level"]))}"
				class="btnAdd">添加</a> <a
				href="{:U('Rbac/editNode','id='.$vo['id'])}" class="btnEdit">修改</a>
				<a class="btnDel" href="javascript:void(0);"
				onclick="var url='{:U("Rbac/deleteNode","id=".$vo['id'])}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a></td>
		</tr>
		<volist id="action" name="vo.child">
		<tr class="row1">
			<td>{$action.id}</td>
			<td><?php echo(str_repeat("&nbsp;",4));?>|-{$action.title}【{$action.name}】</td>
			<td>{$action.remark}&nbsp;</td>
			<td><input name="Item_1" id="Item_1"
				onchange="setVal('node','sort',{$action.id},$(this).val())"
				class="inputText1 numeric w50" value="{$action.sort}" /></td>
			<td><if condition="($action.status eq 1)"> <a
					href="javascript:void(0);"
					onclick="setVal('node','status',{$action.id},0,this,'隐藏')">显示</a> <else />
				<a href="javascript:void(0);"
					onclick="setVal('node','status',{$action.id},1,this,'显示')" class="fc_red">隐藏</a> </if></td>
			<td><a href="{:U('Rbac/addNode',Array("pid"=>$action["id"],"level"=>$action["level"]))}"
				class="btnAdd">添加</a> <a
				href="{:U('Rbac/editNode','id='.$action['id'])}" class="btnEdit">修改</a>
				<a class="btnDel" href="javascript:void(0);"
				onclick="var url='{:U("Rbac/deleteNode","id=".$action['id'])}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a></td>
		</tr>
		
		<volist id="method" name="action.child">
		<tr class="row1">
			<td>{$method.id}</td>
			<td><?php echo(str_repeat("&nbsp;",8));?>|-{$method.title}【{$method.name}】</td>
			<td>{$method.remark}&nbsp;</td>
			<td><input name="Item_1" id="Item_1"
				onchange="setVal('node','sort',{$method.id},$(this).val())"
				class="inputText1 numeric w50" value="{$method.sort}" /></td>
			<td><if condition="($method.status eq 1)"> <a
					href="javascript:void(0);"
					onclick="setVal('node','status',{$method.id},0,this,'隐藏')">显示</a> <else />
				<a href="javascript:void(0);"
					onclick="setVal('node','status',{$method.id},1,this,'显示')" class="fc_red">隐藏</a> </if></td>
			<td><a
				href="{:U('Rbac/editNode','id='.$method['id'])}" class="btnEdit">修改</a>
				<a class="btnDel" href="javascript:void(0);"
				onclick="var url='{:U("Rbac/deleteNode","id=".$method['id'])}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a></td>
		</tr>
		</volist>
		
		
		</volist>
		
		</volist>

	</table>
	<include file="Index:footer" />
</body>
</html>