<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔堂-发送传情</title>
    <include file="Index:_js_css"/>
</head>
<body style="background: #f6f8f8 ;overflow-x: hidden">
<include file="Index:bar"/>
<div class="container page-content profile content-960 light-bg" >
    <div class="box-center tc ">
        <div id="resultsTable" class="light-bg content-780">
            <div id="contactMessageContainer" class="content-750 rtl-theme neighbour-bottom" >
                <div id="backbutton" class="text-right"><a href="javascript:window.history.back(-1);">返回简介</a></div>
                <div id="messageHeader">
                    <div class="row">
                        <div id="profileImage" class="col-xs-4">
                            <img border="0" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" class="messageImage preview-thumb">
                        </div>
                        <div id="messageInfo" class="winkHeader">
                            <div>
                                <span class="inline">至:</span>
                                <span class="messageRecipient inline">{$user.nickname}</span>

                                <div id="messageIcons">
                                    <div id="icon_privatekey" class="robby-tooltip pull-right hidden icon-sm icon-key"></div>
                                </div>
                                <div class="inline">主题:</div>
                                <div class="inline subject" id="winkSubject">传情讯息</div>
                                <div></div>
                                <div class="viewProfile">
                                    <a id="viewProfile" href="javascript:void(0);" class="btn-link">显示此会员的个人简介</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profileInfo" class="" style="display: none">
                    <span class="inline font-color pink">简介详细资讯</span>: <a href="/index/uinfo.html?uid={$user.uid}">(移至会员简介)</a>
                    <div class="search-results no-border row">
                        <ul class="col-xs-6 results-info">
                            <li><span>年龄: </span>{:getAge($user['birthdate'])}岁({:get_constellation($user['birthdate'])})</li>
                            <li><span>身高: </span> {$user['height']}cm</li>
                            <li><span>体重: </span> {$user['weight']}kg -{:getUserShape($user['shape'])}</li>
                        </ul>
                        <ul class="col-xs-6 results-info">
                            <li><span>位置&nbsp;: </span>{:getAreaByAid($user['proivce'])} {:getAreaByAid($user['city'])}</li>
                            <li><span>性别: </span><if condition="$user['sex'] eq 1">女士<else/>男士</if></li></ul>
                    </div>
                    <hr>
                </div>
                <style>
                    .row.wink label{cursor: pointer}
                    .row.wink label input[type=radio]{position: relative;top: 2px;}
                    .row.wink:hover{background: #eeeeee;cursor: pointer}
                    .dropDownWink,.row.wink{height: 34px;margin-bottom: 10px;}
                </style>

                <form  id="winks" onsubmit="return false;" class="col-xs-12 neighbour-top box-hmarg" style="margin-bottom: 50px;">
                    <input type="hidden" name="uid" value="{$_REQUEST['uid']}"/>
                    <div class="row wink winkSelect">
                        <label for="wink_1" class="fontn ">
                            <input type="radio" name="main_wink" id="wink_1" value="1" checked="" class="box-marg-t box-marg-l ">
                            &nbsp;&nbsp;&nbsp;&nbsp;{:getcontact(1)}
                        </label>
                    </div>
                    <div class="row wink">
                        <label for="wink_5" class="fontn ">
                            <input type="radio" name="main_wink" id="wink_5" value="2" class="box-marg-t box-marg-l">
                            &nbsp;&nbsp;&nbsp;&nbsp;{:getcontact(2)}
                        </label>
                    </div>
                    <div class="row wink">
                        <label for="wink_6" class="fontn ">
                            <input type="radio" name="main_wink" id="wink_6" value="3" class="box-marg-t box-marg-l">
                            &nbsp;&nbsp;&nbsp;&nbsp;{:getcontact(3)}
                        </label>
                    </div>
                    <div class="row wink text-left dropDownWink">
                        <label for="wink_7" class="fontn ">
                            <input type="radio" name="main_wink" id="wink_7" value="4" class="box-marg-t fl box-marg-l">
                            <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;{:getcontact(4)}</span>
                            <div class="pull-right winkSelect">
                                <select id="turnsmeon" name="turnsmeon" class="selectpicker form-control">
                                    <option value="">选择...</option>
                                    <option value="">--------</option>
                                    <option value="成熟/老练">成熟/老练</option>
                                    <option value="身高">身高</option>
                                    <option value="性感气质">性感气质</option>
                                    <option value="因为你和我在一个地方">因为你和我在一个地方</option>
                                    <option value="你的性取向">你的性取向</option>
                                    <option value="你的相片">你的相片</option>
                                    <option value="你的怪癖">你的怪癖</option>
                                    <option value="你的性欲">你的性欲</option>
                                    <option value="你的主导天性">你的主导天性</option>
                                    <option value="因为你和我一样喜欢性">因为你和我一样喜欢性</option>
                                    <option value="你有家室，而且也我一样不开心...">你有家室，而且也我一样不开心...</option>
                                    <option value="你的决心和承担能力">你的决心和承担能力</option>
                                    <option value="你不怕尝试新事物">你不怕尝试新事物</option>
                                    <option value="因为你要拍打我因为你要拍打我">因为你要拍打我因为你要拍打我</option>
                                    <option value="你的激情(非常火辣)">你的激情 (非常火辣)</option>
                                    <option value="因为你知道你想要甚麽">因为你知道你想要甚麽</option>
                                    <option value="你想被我拍打">你想被我拍打</option>
                                </select>
                            </div>
                        </label>
                    </div>

                    <div class="row wink text-left dropDownWink">
                        <label for="wink_8" class="fontn ">
                            <input type="radio" name="main_wink" id="wink_8" value="5" class="box-marg-t fl box-marg-l">
                            <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;{:getcontact(5)}</span>
                            <div class="pull-right winkSelect">
                                <select id="cantwait" name="cantwait" class="selectpicker form-control">
                                    <option value="">选择...</option>
                                    <option value="">--------</option>
                                    <option value="我对我们的幻想">我对我们的幻想</option>
                                    <option value="我最喜欢做爱的地方"></option>
                                    <option value="甚麽让我狂热"></option>
                                    <option value="我将会改变你的世界"></option>
                                    <option value="我破处时的有趣方法"></option>
                                    <option value="我一定会让你感到刺激"></option>
                                    <option value="我喜欢如何寻开心"></option>
                                    <option value="我邂逅一夜情的最爱之地"></option>
                                    <option value="我最狂野的电话性爱体验">我最狂野的电话性爱体验</option>
                                    <option value="对上次自慰的想法">对上次自慰的想法</option>
                                    <option value="我的秘密爱巢">我的秘密爱巢</option>
                                    <option value="我美妙绝伦的'玩具'">我美妙绝伦的'玩具'</option>
                                    <option value="我的“老头子”经验">我的“老头子”经验</option>
                                    <option value="我的“小伙子”体验">我的“小伙子”体验</option>
                                    <option value="我的'同性'体验">我的'同性'体验</option>
                                    <option value="我的'熟女'体验">我的'熟女'体验</option>
                                    <option value="我的“少女”经验">我的“少女”经验</option>
                                </select>
                            </div>
                        </label>
                    </div>
                    <div id="actions" class="col-xs-12 padding-top-30">
                        <button type="submit" id="sendButton"  class="btn btn-primary">发送传情</button>
                    </div>
                </form>

                <script type="text/javascript">

                    jQuery(document).ready(function () {
                        $('#winks .row.wink ')
                        // disable the drop downs by default
                        jQuery('td.winkSelect select').attr('disabled', true);

                        // hack for IE... parent div onclick events getting fired were
                        // making it hard to select something
                        jQuery('td.winkSelect select').click(function (event) {
                            event.stopPropagation();
                        });

                        // disable the drop downs when a wink message is selected
                        jQuery('input[name=main_wink]').click(function (event) {
                            jQuery('td.winkSelect select').attr('disabled', true);
                            event.stopPropagation();
                        });

                        // and only enable one if appropriate
                        jQuery('input.dropDownWink').click(function () {
                            jQuery(this).parent().parent().find('select').attr('disabled', false);
                        });
                        $('#viewProfile').click(function(){
                            if($('#profileInfo').css('display')=='none'){
                                $('#profileInfo').show();
                                $(this).html('隐藏此会员的个人简介');
                            }else{
                                $('#profileInfo').hide();
                                $(this).html('显示此会员的个人简介');
                            }
                        })
                        // validate form submissions
                        $('#sendButton').click(function () {
                            var checked_wink = $('input[name=main_wink]:checked');
                            if (checked_wink.val() == 'turnsmeon' || checked_wink.val() == 'cantwait'){
                                if (!checked_wink.parent().parent().find('select').val()){
                                    alert('需要选择');
                                    return false;
                                }
                            }
                            var data = $("#winks").serialize();
                            $.post('/index/contact.html',data,function(data){
                                clearpop(data.message);
                            })
                            console.log(checked_wink);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
</body>
</html>

