<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔馆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="description" content="名叔馆">
    <meta name="keywords" content="名叔馆">
    <meta property="og:title" content="名叔馆">
    <meta property="og:description" content="名叔馆">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.adsvip.cn/">
    <meta name="copyright" content="名叔馆. 2013-2017">
    <meta name="type" content="adsvip.com">
    <meta name="robots" content="index,follow">
    <meta name="distribution" content="global">

    <link rel="stylesheet" type="text/css" href="__STATIC__/common/css/sweetalert.css"/>
    <script type="text/javascript" src="__STATIC__/common/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/common/css/site-public.css"/>

    <script type="text/javascript" src="__STATIC__/common/js/jquery.2.2.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/common/js/jquery.browser.min.js"></script>
    <script type="text/javascript" src="__STATIC__/common/js/jquery.cookies.2.2.0.js"></script>
    <script type="text/javascript" src="__STATIC__/common/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-select.min.js"></script>
</head>

<body class="landing-body">

<div class="content">
    <button type="button" class="btn btn-white-border white login-btn" data-toggle="modal" data-target="#loginModal">
        登录
    </button>
    <div class="left-content">
        <div class="logo-top-section">
            <h1 class="clof" style="font-size: 40px;">名叔馆</h1>
            <br/>
        </div>
        <div>
            <p class="logo-tagline">  寻找心动瞬间</p>
        </div>

        <div id="membersCount" class="member-count-section">
            超过 53,020,000 会员*
        </div>
    </div>
    <div class="full-width seo-content">
        <div class="discreet-connection-section">
            <div class="discreet-img">
                <p class="disclaimer-note">*不是adsvip.cn的实际成员</p>
                <img src="__STATIC__/image/page/home/lander_seo_section1.png" border="0">
            </div>
            <div class="discreet-copy">
                <h2>上百万和您一样的人正在寻找保密艳遇</h2>
                <p>每天有上千人加入 名叔馆，寻找各种保密艳遇。无论单身或有伴侣、寻找探险机会，或只是好奇外面的世界──名叔馆 是全世界最开放包容的约会社区。</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="discretion-matters-section full-width">
            <div class="discretion-matters-header">
                保密至关重要
            </div>
            <div class="discretion-matters-subheader">
                我们知道您很看重隐私，我们也是。我们绝对不会要求您使用公开的社交网络账号来登录，我们还有多种专门为您设计的功能，为您的私密生活保持隐密──无论您的原因为何。
            </div>
            <div class="discretion-matters">
                <div class="completely-independent half-width">
                    <div class="discretion-matters-img">
                        <img src="__STATIC__/image/page/home/lander_seo_section2.1.png" border="0">
                    </div>
                    <div class="discretion-matters-copy">
                        <h3>完全独立</h3>
                        <p>您无需将名叔馆账户与您任何其他社交账户链接。事实上，您不能这么做。请使用一个私人电子邮箱来注册（为了更加隐秘，我们建议为了这个账户单独建立一个电子邮箱）。</p>
                    </div>
                </div>
                <div class="discreet-photos half-width">
                    <div class="discretion-matters-img">
                        <img src="__STATIC__/image/page/home/lander_seo_section2.2.png" border="0">
                    </div>
                    <div class="discretion-matters-copy">
                        <h3>保密照片</h3>
                        <p>您可以全权控制您要让他人看到的照片！要在个人档案上展现您的笑容？非常好！但是如果您想要增添一丝神秘气氛，您也可以使用我们的模糊或面具工具。如果要更保密，您也可以将照片设定为私人模式，只与您看上眼的会员分享。</p>
                    </div>
                </div>
            </div>
            <div class="discretion-matters">
                <div class="inbox-control half-width">
                    <div class="discretion-matters-img">
                        <img src="__STATIC__/image/page/home/lander_seo_section2.3.png" border="0">
                    </div>
                    <div class="discretion-matters-copy">
                        <h3>收件箱控制</h3>
                        <p>我们知道有时候收件箱里太多信会令人抗拒。我们的「快速回复」功能，能够帮您管理时间以及您的联系对象。如果您收到太多眨眼或喜爱，您可方便快速的让这些会员知道您愿意回复完整的信息。这样能让您节省下回复可能并不相配的人的时间，而把时间多花在寻找您真正想要建立私密关系的人身上。</p>
                    </div>
                </div>
                <div class="travel-perks half-width">
                    <div class="discretion-matters-img">
                        <img src="__STATIC__/image/page/home/lander_seo_section2.4.png" border="0">
                    </div>
                    <div class="discretion-matters-copy">
                        <h3>旅游红利</h3>
                        <p>认识新朋友能够让您在别的城市旅行时享受更多乐趣。利用「旅行男士」与「旅行女士」的功能，您甚至能在打包之前就先找到联系对象。事先发信息给位于您目的城市的会员，为公务增添私人乐趣。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="only-a-moment-section">
            <div class="only-a-moment-img">
                <img src="__STATIC__/image/page/home/lander_seo_section3.jpg" border="0">
            </div>
            <div class="only-a-moment-copy">
                <h2>只要一下下</h2>
                <p>生活常常不知不觉就埋没在例行公事中。我们数着日子而不是把握日子，常常梦想要更多，最后生活却只剩下世俗无趣的日常琐事。</p>
                <p>有时候，特别的事情就发生了。擦肩而过、匆匆一瞥、回眸相视而笑……这些时刻往往让我们感受到那特别的一瞬间。回想起来，那些没有把握的当下、没有实际去过的生活，对我们来说会有怎样的可能性？</p>
                <p>要是自己能够主动去让那一刻发生呢？感觉内心小鹿乱撞，体会那样的渴望，不是为了生活而生活，而是好好的活一回？名叔馆 就是崭新旅程的起点，寻找属于你的那一瞬间。</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="for-everyone-section">
            <div class="for-everyone-copy">
                <h2>名叔馆 是属于每一个人的</h2>
                <p>无论您是因为何种原因来到 名叔馆，您都能感到安心，因为在这里您并不孤单。我们的会员可能是单身或有伴侣的人寻找艳遇对象，或者是伴侣寻找多人关系。会员们寻找网络暧昧、没有约束或是保密的关系。有可能是学生、家庭主妇或主夫、上班族、商人、企业家、退休人员，或是任何介于这些身分之间的人。性倾向、目前的情感关系、年龄、财富或宗教，在这里都不重要。每个人都因为不同的原因加入像 名叔馆 这样的免费交友网站，但是都渴望寻找真正的保密对象。无论您的原因理由为何，或是您寻找的关系为何，您都能在 名叔馆 找到人生缺少的那一块。</p>
            </div>
            <div class="for-everyone-img">
                <img src="__STATIC__/image/page/home/lander_seo_section4.jpg" border="0">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="first-dating-section">
            <div class="first-dating-img">
                <img src="__STATIC__/image/page/home/lander_seo_section5.png" border="0">
            </div>
            <div class="first-dating-copy">
                <h2>前所未有的独特交友网站</h2>
                <p>当 名叔馆 在 2001 年成立时，成人保密约会并没有很多选择。当保密是您最看重的条件时，从职场上或朋友之间认识对象的风险太高。很多人转而到传统在线交友网站，但是发现那里很难找到想要类似关系的人。因此，名叔馆 做为第一个对这种需求坦诚开放的网站而成立：想法类似的人们寻找已婚的约会对象。这里没有人会有偏见，名叔馆 的理念是成人在互相同意下应该能够过自己想要的私人生活。十年前开始的想法很快就成为全球领先的外遇交友空间。一开始专为寻找外遇关系的已婚男女，设计最具有隐私的交友方式，逐渐发展出更多可能性。</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="more-than-affair-section">
            <div class="more-than-affair-copy">
                <h2>不只是外遇网站</h2>
                <p>今日的 名叔馆 不仅只是个外遇的地方，而是充满各种成人交友的机会。事实上，我们分布全球的上百万会员中，有很大的一部分是单身人士，因为他们想要拥有 名叔馆 超过十年来所代表的隐私保密。许多会员都拥有令人满意的亲密关系，可是想要一起在一个安全的空间寻求更开放的关系。其他人仍在寻找同性对象，但是希望能与个人生活或职场区隔。当然，仍然有许多男男女女在 名叔馆 寻找外遇，但我们不希望被局限住，您也不该被局限住。名叔馆 是与心态开放的成人产生真正私密关系的最佳地点。</p>
                <form action="" method="post" id="noseekingregistration">
                    <input type="submit" value="到 名叔馆 寻找属于你的那一瞬间" class="btn btn-pink">
                </form>
            </div>
            <div class="more-than-affair-img">
                <img src="__STATIC__/image/page/home/lander_seo_section6.jpg" border="0">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="content">
    <div class="landing-footer-section">
        <div class="full-width">
            <div class="half-width footer-links-section">
                <ul class="footer-navs pull-left">
                    <li class="pull-left"><a href="/app/public/faq.p" title="常见问题">常见问题</a></li>
                    <li class="pull-left"><a href="/index/newinfo.html?id=3" rel="nofollow" class="legal-link" title="Terms &amp; Conditions">条款</a></li>
                    <li class="pull-left"><a href="/index/newinfo.html?id=4" rel="nofollow">隐私</a></li>
                    <li class="pull-left"><a href="/app/public/contact.p" rel="nofollow" title="联系我们">联系我们</a></li>
                    <li class="pull-left"><a id="safetytips" href="/security-privacy/" title="Safety Tips" target="_blank">安全贴士</a></li>
                </ul>
            </div>
            <div class="half-width copyright-section">
                <p class="legal pull-right box-pad-r-lg text-right box-marg-r">
                    <span class="memberFooterCopyright force-ltr"> &copy; 2013 - 2017.  - <a href="http://www.adsvip.cn/" class="nopadding">名叔馆官方网站</a></span>
                    <span class="age-restriction">所有会员均年满18岁或以上</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h2>登录</h2>
                <form class="pure-form-aligned" id="loginform" onsubmit="return false"> 
                     <div class="form-group">
                        <label class="form_label">用户名称</label>
                        <input  type="text" name="username" value="" size="20" class="amLoginInputHilite username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form_label">密码</label>
                        <input  type="password" id="password" name="userpwd" size="20" autocomplete="off" class="amLoginInputHilite password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" onclick="login();">登录</button>
                </form> 
                <small class="block forgot-password"> 
                    <a class="fontn" href="/login/register.html">注册</a>  <a class="fontn fr" style="color: #666666" href="/login/findpwd.html">忘记密码？</a> 
                    <div class="clr"></div>
                </small>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        var searchString = window.location.search.replace("?", "").split("&");
        var showSEOContent = true;
        for (i in searchString) {
            var individualString = searchString[i].split("=");
            if (individualString[0] == "age_gate") {
                if (individualString[1] == "2") {
                    jQuery('.seo-content').addClass('hide');
                    jQuery('#ageGateModal').modal('show');
                    showSEOContent = false;
                }
            }
        }

        var screenHeight = screen.height * 2;

        if (showSEOContent) {
            jQuery('.left-content').css('min-height', screenHeight);
        }

        jQuery(document).scroll(function(){
            if (showSEOContent) {
                jQuery('.seo-content').removeClass('hide');
            }
            jQuery('.left-content').css('min-height', screenHeight/4);
            jQuery('.landing-footer-section').addClass('background-shade');
            jQuery('.landing-footer-section').css('position', 'relative');

            if(jQuery(document).scrollTop() == 0) {
                if (showSEOContent) {
                    jQuery('.seo-content').addClass('hide');
                    jQuery('.left-content').css('min-height', screenHeight);
                }
                jQuery('.landing-footer-section').css('position', 'absolute');
            }

        });
    });
</script>

</body>
</html>
