<php>$user = Common\Model\UserModel::getUser();$currentuid=$user['uid'];</php>
<div class="">
    <div class="container">
        <nav class="navbar " role="navigation">
            <div class="collapse navbar-collapse relative" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="height: 100px;">
                    <li class="active">
                       <a href="/">
                           <!--<img src="__STATIC__/image/logo.png" width="190"  alt=""/>-->
                           <span class="fontb clo6" style="font-size: 50px;line-height: 80px;">爱大叔</span>
                       </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="height: 40px;">
                    <li class="dropdown ">
                        <if condition="$user['uid']">
                            <a href="/member/index.html"  style="height: 40px;" class="dropdown-toggle clo6" data-toggle="dropdown">
                                <img src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" width="25" class="user_noavatar_img"/>
                                {$user.nickname|msubstr=0,9,'UTF-8',true}&nbsp;
                                <strong class="caret"></strong>
                            </a>
                        <else/>
                            <a href="/login/index.html" class="dropdown-toggle" data-toggle="dropdown">
                               登录/注册
                            </a>
                        </if>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                            <li>
                                <a href="#">帖子文章</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="/login/logout.html">退出登录</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="clo6">设位置</a>
                    </li>
                    <li>
                        <a href="#" class="clo6">消息</a>
                    </li>
                </ul>
                <form onsubmit='return false;' id="searchForm" class="absolute nav navbar-nav navbar-right" style="top: 50px;right: 0" >
                        <select name="proivce" onchange="checkeSupsort($(this).val(), $('#searchForm select[name=city]'));"  style="width: 80px;height: 32px;">
                            <option value="">请选择</option>
                            <volist name="priovce" id="vo">
                                <option value="{$vo.aid}">{$vo.name}</option>
                            </volist>
                        </select>
                        <select name="city" style="width: 80px;height: 32px;">
                            <option value="">请选择</option>

                        </select>
                        <select name="ren" style="width: 80px;height: 32px;">
                            <option value="1">游伴</option>
                            <option value="2">游客</option>
                        </select>
                        <img src="__STATIC__/image/page/home/search_flat.png" width="31" alt=""/>
                    </ul>
                </form>
            </div>
        </nav>
    </div>
</div>
