<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔馆 | 注册</title>
    <include file="Index:_js_css"/>
    <style>
        .main-header .menu-nav-section .public-nav li a{font-size: 14px;;}
        .landing-footer-section{position: relative; border-top: 1px solid #eee; padding: 0 0 0 20px ; bottom: 0; height: 100px; width: 100%;}
        .landing-footer-section span, .landing-footer-section .copyright-section p a , .landing-footer-section .footer-navs li a{font-size: 12px; font-family: Helvetica,Arial,sans-serif; font-weight: 100;color: #454545; margin-bottom: 8px;}
    </style>
</head>
<body style="background: #f6f8f8">
<header class="navbar navbar-default main-header public-pages">
    <div class="menu-nav-section pull-right">
        <div class="navbar-collapse" id="main-public-nav">
            <ul class="nav navbar-nav public-nav pull-left">
                <li class="pull-left"><a href="/" title="首页">首页</a></li>
                <li class="pull-left"><a href="/login/index.html" title="登录">登录</a></li>
                <li class="pull-left"><a href="/index/newinfo.html?id=3" title="常见问题">常见问题</a></li>
                <li class="pull-left"><a href="/index/newinfo.html?id=1" rel="nofollow" title="联络我们">联络我们</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="main-content container" style="min-height: 559px;">
    <div id="content">
        <div id="container" class="box-pad-lg light-bg">
            <if condition="isset($_REQUEST['type']) && $_REQUEST['type'] eq 'sm'">
                <div style="height: 50px;line-height: 50px;text-indent: 10px;" class="font24">{$info.title}<span class="font12 clo9">&nbsp;&nbsp;{$info.createtime}</span></div>
                <div>{$info.message}</div>
            <else/>
                <div style="height: 50px;line-height: 50px;text-indent: 10px;" class="font24">{$info.title}<span class="font12 clo9">&nbsp;&nbsp;{$info.addtime}</span></div>
                <div>{$info.content|htmlspecialchars_decode}</div>
                <!--<p><span class="font14 clo3">阅读：{$info.hits}</span></p>-->
            </if>
        </div>
    </div>
</div>
<include file="Index:footer"/>
</body>
</html>
