<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔堂--{$plan.title}</title>
    <include file="Index:_js_css"/>
</head>
<body style="background: #f6f8f8">
<include file="Index:bar"/>
<style>
    .container.page-content {padding: 10px 30px 65px; }
    .container textarea {border-color: #cccccc;width: 860px;height: 50px;resize: none;margin-top: 20px;text-indent: 5px;}
</style>
<div class="container page-content profile light-bg bordert-d" style="width: 960px;">
    <div class="topic-itme "  style="width: 850px;margin:40px 0;border-bottom: 1px dashed #cccccc;">
        <div>
            <div class="fl" style="width:100px;">
                <img id="picture" src="__PUBLIC__{$plan.avatar|default='/static/image/noavatar_middle.gif'}" width="80" /><br/>
                <div>{$plan.nickname}</div>
            </div>
            <div class="fl" style="width: 700px;">
                <div class="fontb font18">{$plan.title}</div>
                <div>{:timeTran($plan['createtime'])}</div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="topic_content font14 clo6 " style="padding-bottom:30px ;"  >
            {$plan.contentcn|htmlspecialchars_decode}
            <if condition="$plan['sex'] neq 1">
                <if condition="$plan['img']">
                    <volist name="vo['img']" id="img">
                        <img src="__PUBLIC__/{$img}" style="max-width: 100%"  alt=""/>
                    </volist>
                </if>
                <else/>
                <i>想看美女照片,请联系客服!</i>
            </if>
        </div>
    </div>
</div>

<include file="Index:footer"/>
</body>
</html>

