<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔堂--悬赏任务</title>
    <include file="Index:_js_css"/>
    <style>
        /*table{border: 1px solid #E4E4E4}*/
        a:hover,a:active{text-decoration: none}
        table tr th:first-child,table tr td:first-child{text-indent: 10px;}
    </style>
</head>
<body style="background: #f6f8f8">
<include file="Index:bar"/>
<style>
    .container.page-content {padding: 10px 30px 65px; }
    .container textarea {border-color: #cccccc;width: 860px;height: 50px;resize: none;margin-top: 20px;text-indent: 5px;}
</style>
<div class="container page-content profile light-bg bordert-d" style="width: 960px;">
    <div class="topic-itme "  style="width: 850px;margin:40px 0;border-bottom: 1px dashed #cccccc;">
        <div style="height: 50px;line-height: 50px;background: #7EE0D9;text-indent: 10px;" class="font24">悬赏列表</div>
        <form role="form" id="seachform" style="margin: 20px 0">
            <input type="text"  class="form-control fl" name="keyword" style="width: 280px;" placeholder="请输出:目的地,计划标题，内容等关键字" value="{$_REQUEST['keyword']}"/>
            <span class="fl">&nbsp;&nbsp;</span>
            <input type="text" id="seachstime"  value="{$_REQUEST['startime']}" class="form-control fl"  placeholder="选择开始日期" style="width: 100px;" name="startime"/>
            <span class="fl">&nbsp;&nbsp;</span>
            <input type="text" id="seachetime"  value="{$_REQUEST['startime']}" class="form-control fl"  placeholder="选择开始日期" style="width: 100px;" name="startime"/>
            <span class="fl">&nbsp;&nbsp;</span>
            <button type="submit" style="background: #7EE0D9" class=" btn clof " >搜索</button>
            <button onclick="getMask().maskShow({'tit': '发布需求','width':500, 'cont': '#rkbox'});return false;" class=" btn clof " >发布悬赏</button>
            <div class="clr"></div>
        </form>
        <table class="list-task" width="910">

            <volist name="list" id="vo">
                <tr onclick="window.location.href='/index/plan.html?pid={$vo.pid}'" >
                    <td class="borderb-d " style="padding:  10px 0; ">
                        <a href="/index/plan.html?pid={$vo.pid}">
                            <em class="list-task-reward font18 fontb clo3">
                                {:str_ireplace($_REQUEST['keyword'],'<span class="red">'.$_REQUEST['keyword'].'</span>',$vo['title'])}
                            </em>
                            <span></span>
                            <span class="font13 clo6 fr">{:timeTran($vo['createtime'])}</span>
                            <div class="clr"></div>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="page tc">{$page}</div>

    </div>
</div>
<include file="Index:footer"/>
<div id="rkbox" style="display: none;">
    <form role="form" class="regform" style="width: 460px;" id="myform" onsubmit="return false;">
        <input type="hidden" name="type" value="1"/>
        <div class="form-group">
            <label for="tel" class="clo6">联系方式 </label><input type="text" placeholder="请填写您的手机号" class="form-control" name="tel" id="tel" />
        </div>
        <div class="form-group">
            <label for="info" class="clo6">你需要 </label><input type="text" name="note" placeholder="请用一句话概括您要做什么" id="info" class="form-control " />
        </div>
        <div class="form-group">
            <em>不懂怎么发布,提交让管理员代发</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/index/planpost.html">我要自己发布需求</a>
        </div>
        <div class="form-group tc">
            <input type="submit" onclick="sub();" class="clof" style="border: none;background: #FB7D24;width: 400px;height:40px;border-radius: 4px;;" value="立即提交" />
        </div>
    </form>
</div>
<script src="__STATIC__/common/js/jquery.lhgcalendar.min.js"></script>
<script>
    $('#exampleInputBirthdate1').calendar({
        format: 'yyyy-MM-dd',
        minDate: '%y-%M-%d',
        btnBar: false
    });
    $('#exampleInputBirthdate1').calendar({
        format: 'yyyy-MM-dd',
        minDate: '%y-%M-%d',
        btnBar: false
    });

    function sub(){
        $.post('/home/index/subform.html',{tel:$('#rkbox input[name=tel]').val(),type:$('#rkbox input[name=type]').val(),note:$('#rkbox input[name=note]').val()},function(data){
            clearpop(data.message);
            if(data.code ==200){
                $('#rkbox input[name=tel]').val('');
                $('#rkbox input[name=note]').val('')
            }
        })
    }
</script>
</body>
</html>
