<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔馆--{$topic.title}</title>
    <include file="Index:_js_css"/>
</head>
<body style="background: #f6f8f8">
<include file="Index:bar"/>
<style>
    .container.page-content {padding: 10px 30px 65px; }
    .container textarea {border-color: #cccccc;width: 860px;height: 50px;resize: none;margin-top: 20px;text-indent: 5px;}
</style>
<div class="container page-content profile light-bg bordert-d" style="width: 960px;">
        <div class="topic-itme "  style="width: 850px;margin:40px 0;border-bottom: 1px dashed #cccccc;">
            <div>
                <div class="fl" style="width:100px;">
                    <img id="picture" src="__PUBLIC__{$topic.avatar|default='/static/image/noavatar_middle.gif'}" title="{$topic.nickname}" width="80" /><br/>
                    <div></div>
                    <!--<div><if condition="$topic['city']">{:getAreaByAid($topic['city'])}<elseif condition="$topic['proivce']"/>{:getAreaByAid($topic['proivce'])}</if></div>-->
                </div>
                <div class="fl" style="width: 700px;">
                    <div class="fontb font18">{$topic.title}</div>
                    <div class="clo6 font14">{$topic.nickname}</div>

                    <div>{:timeTran($topic['createtime'])}</div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="topic_content font14 clo6 " style="padding-bottom:30px ;"  >
                {$topic.message|htmlspecialchars_decode}
                <if condition="$topic['img']">
                    <volist name="vo['img']" id="img">
                        <if condition="$img">
                            <img src="__PUBLIC__/{$img}" style="max-width: 100%"  alt=""/>
                        </if>
                    </volist>
                </if>
            </div>
            <div>
                <a href="javascript: void(0);">阅读</a>({$topic.read|default=0}) &nbsp;
                <a href="javascript: likeTopic('{$topic.tid}');">点赞</a>(<span id="likeit">{$topic.likeit|default=0}</span>) &nbsp;
                <a href="javascript: $('#reply textarea[name=message]').focus();">评论</a>({$topic.comments|default=0})
            </div>
        </div>
        <div class="reply-box" style="border: 2px solid #BCEFEB">
            <div style="width: 860px;margin: 20px;">
                <div class="fontb" style="border-bottom: 1px solid #CBD9EA">发布评论</div>
                <div class="height10"></div>
                <div class="reply-input" id="reply">
                    <input type="hidden" name="type" value="reply"/>
                    <input type="hidden" name="tid" value="{$topic.tid}"/>
                    <input type="hidden" name="touser" value="{$topic.nickname}"/>
                    <textarea name="message" id="" placeholder="温馨提示：系统自动删除包含联系方式，色情低俗，重复等信息的评论"></textarea>
                    <span style="background: #7CC67C;padding: 5px 10px;cursor: pointer" class="clof" onclick="subReply()">发表评论
</span>
                </div>
            </div>
        </div>
        <if condition="!empty($reply)">
            <div class="reply-box borderb-d" style="border: 2px solid #BCEFEB;margin-top: 10px;">
                <ul class="" style="width: 860px;margin: 20px;">
                    <volist name="reply" id="vo">
                        <li class="reply-item bordert-d">
                            <div style="margin: 5px">
                                <a href="/user/userinfo.html?uid={$vo.uid}" class="item-user">
                                    <img src="__PUBLIC__{$topic.avatar|default='/static/image/noavatar_middle.gif'}" width="40" />
                                    <span class="font18 clo6">{$vo.nickname}</span>
                                    <span class="fr font12 clo9">{:timeTran($vo['createtime'])}</span>
                                </a>
                            </div>
                            <div class="clo9" style="background:#F1FBFD;border: 1px solid #BFD2DC;margin: 5px 0 10px 0; ">{$vo.message}
                                <if condition="$currentuid neq $vo['uid']">
                                    <div class="fr relative top5">
                                        <a class="green" href="javascript:reply('{$vo.nickname}','{$vo.uid}')">回复</a>
                                    </div>
                                </if>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="tc">{$page}</div>
            </div>
        </if>
</div>

<include file="Index:footer"/>
<script>
    function reply(touser,tuid){
        if(touser){
            $('#reply input[name=touser]').val(touser);
            $('#reply textarea[name=message]').val("@"+touser+" ");
            $('#reply textarea[name=message]').focus();
        }
        if(tuid){
            $('#reply input[name=uid]').val(tuid);
        }
        $('#reply input[name=type]').val('reply');
    }

    //点赞
    function likeTopic(tid){
        $.post('/wap/index/likeTopic.html',{tid:tid},function(data){
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }
    //收藏
    function favorite(tid){
        $.post('/wap/index/favorite.html',{tid:tid},function(data){
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

    //提交评论
    function subReply(){
        var tid = $('#reply input[name=tid]').val();
        var touser = $('#reply input[name=touser]').val();
        var message = $('#reply textarea[name=message]').val();
        if(!tid){
            clearpop('提交错误，请刷新重试！');
            return false;
        }
        if(!message || (touser.length+2) == message.length){
            clearpop('请填写回复内容');
            return false;
        }
        if(regex(message,'tel') && regex(message,'short_tel') && regex(message,'email') &&  regex(message,'qq') && regex(message,'mob')){
            clearpop('请不要填写任何联系方式！');
            return false;
        }
        var data = {
            tid : tid,
            message : message,
            touser : touser
        }
        $.post('/wap/index/subReply.html',data,function(data){
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

</script>
</body>
</html>