<!DOCTYPE html>
<html class="no-js webkit safari chrome win"><head>

    <title>名叔堂-{$user.nickname}</title>
    <include file="Index:_js_css"/>



    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version(3)}"/>

<body marginwidth="0" marginheight="0"  style="background: #f6f8f8">
<include file="Index:bar"/>
<div class="container page-content profile light-bg">
    <div class="box-center">
        <div id="viewprofile_container" class="block box-pad-t">
            <div id="profileContainer" class="full-width">
                <div id="profileLeft" class="profileLeft pull-left">
                    <div>
                        <a class="featured_photo" href=""><img border="0" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" width="200">
                        </a>
                    </div>
                    <div class="profileDetailsBorder neighbour-top">
                        <div class="left-link-container">
                            <div class="pull-left">
                                <img src="__STATIC__/image/page/home/wink.daeda.png">
                            </div>
                            <a class="tm_ad_trigger  profile-left-links" href="/index/contact.html?uid={$user.uid}">发送传情</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--不是本人-->
                        <if condition="$currentuid neq $user['uid']">
                            <if condition="$isfriends eq 1">
                                <div class="left-link-container favorite"><i class="material-icons md-18"></i><a class="addFav icon-heart clo6" href="javascript:void(0);">已申请好友</a></div>
                                <elseif condition="$isfriends eq 2"/>
                                    <div class="left-link-container favorite"><i class="favorite material-icons md-dark md-18"></i><a class="cloc" href="javascript:void(0);">已经是我的好友</a></div>
                                <else/>
                                    <div class="left-link-container favorite"><i class="favorite material-icons md-dark md-18"></i><a class="addFav icon-heart profile-left-links" href="javascript:addFrinds('{$user.uid}')">新增到我的好友</a></div>
                            </if>
                        </if>
                    </div>
                </div>
                <div id="profileMiddle" class="profileMiddle pull-left" style="min-width: 400px;;">
                    <div class="profileHeader">
                        <div>
                            <span class="collapse-margin display-name">{$user.nickname}</span>
                            <a id="onlineStatus" href="#" data-toggle="tooltip" data-placement="bottom" class="middle inline neighbour status-online" title=" :: 此会员目前在线上。"></a>
                            <div id="caption" class="translate_me caption-msg" translated="no">{$user.describe}</div>
                        </div>
                        <div></div>
                    </div>
                    <div class="no-border">
                        <ul class="profileDetails results-info neighbour-bottom clo3">
                            <li><span class="profile-details-label">年龄: </span> <span class="profile-details-data">{:getAge($user['birthdate'])}岁({:get_constellation($user['birthdate'])})</span></li>
                            <li><span class="profile-details-label">位置: </span> <span class="profile-details-data">{:getAreaByAid($user['proivce'])}&nbsp;&nbsp;{:getAreaByAid($user['city'])}</span></li>
                            <li><span class="profile-details-label">身高: </span> <span class="profile-details-data">{$user.height}cm</span></li>
                            <li><span class="profile-details-label">体重: </span> <span class="profile-details-data">{$user.weight}kg &nbsp;&nbsp; {:getUserShape($user['shape'])}</span></li>
                            <li><span class="profile-details-label">性别: </span> <span class="profile-details-data"><if condition="$user['sex'] eq 1">女士<else/>男士 </if></span></li>
                            <li><span class="profile-details-label">吸烟习惯: </span> <span class="profile-details-data">
                                <if condition="$user['smoking'] eq 1">
                                    保密
                                <elseif condition="$user['smoking'] eq 2"/>
                                    从不
                                <elseif condition="$user['smoking'] eq 3"/>
                                    偶尔
                                <elseif condition="$user['smoking'] eq 4"/>
                                    经常
                                </if>
                            </span></li>
                        </ul>
                    </div>
                    <div class="thumbnails box-marg-t"></div>
                </div>
                <div id="profileRight" class="profileRight pull-left">
                    <div class="profileright_data pull-right">
                        <a href="/member/chat.html?uid={$user.uid}" class="btn pull-right box-marg-b uppercase btn-primary btn-icon"><i class="material-icons md-light md-18"></i><span>留言讯息</span></a>
                   </div>
                </div>
                <div class="clr"></div>
                <div class="profileInterest full-width box-vmarg-sm box-pad-t">
                    <div class="full-width">
                        <div class="pink font-lg neighbour-bottom profile-get-noticed-header">我在寻找甚麽:</div>
                        <p class="get-noticed-data"></p>
                        <div id="desires_other" class="translate_me get-noticed-data" translated="no"></div>
                        <div id="desires_abstract" class="translate_me get-noticed-data" translated="no">
                            {$habbys|default="暂无设定"}
                        </div>
                    </div>
                    <div class="full-width">
                        <div class="pink font-lg neighbour-bottom profile-get-noticed-header">甚麽真正打动我:</div>
                        <p class="get-noticed-data"></p>
                        <div  class="translate_me get-noticed-data" translated="no">
                            {$pairing|default="暂无设定"}
                        </div>
                    </div>
                </div>
                <if condition="!empty($photolist)">
                    <div class="section-public yourPhoto"  id="photolist"><br/><br/>
                        <h2 class="pink" >您的相片</h2>
                        <volist name="photolist" id="vo">
                            <if condition="$vo['status'] eq 1">
                                <div class="photo_item fl relative" style="margin: 10px 5px;" id="row_{$vo.id}">
                                    <img src="__PUBLIC__{$vo.img}" width="200" alt=""/>
                                </div>
                            </if>
                        </volist>
                        <div class="clr"></div>
                        <br/>
                    </div>
                </if>

            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
</body>
</html>