<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔馆--{$user.nickname}</title>
    <include file="Index:wap_js_css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
    <style>
        .subnav-elements.subnav-inverse.flex.btn-group a.btn-inverse.nav-item{width: 25%;min-width: 50px;}
        .modifyuser li label {width: 60px;}
    </style>
<body pagename="friends" style="overflow-x:hidden;" class="bodyf" data-cuid="{$cuid}">
<include file="User:uhead"/>
<div class=" profile-view" style="margin-top: 47px;;">
    <div class="subnav-elements subnav-inverse flex btn-group tc clof" >
        <a id="inboxBtn" href="/user/index.html" data-tit="chat" class="btn btn-inverse nav-item "><i class="fa fa-user"></i></a>
        <a id="SavedBtn" href="/user/friends.html" data-tit="topic" class="btn btn-inverse nav-item active"><i class="fa fa-heart"></i></a>
        <a id="SentBtn" href="/user/photo.html" data-tit="news" class="btn btn-inverse nav-item"><i class="fa fa-photo"></i></a>
        <a id="SystemBtn" href="/user/utopic.html" data-tit="news" class="btn btn-inverse nav-item"><i class="fa fa-file-text-o"></i></a>
    </div>
    <div class="line10"></div>
    <ul class="container"  id="friendlist">

    </ul>
    <div onclick="getFriend()" id="loadmore" class="tc clo9 font13 loadmore" >加载更多</div>
</div>
<script>

    function delFriend($fuid){
        $.post('/user/delFriend.html',{fuid:$fuid}, function (data) {
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

    function acceptFriends($fuid){
        $.post('/user/acceptFriends.html',{fuid:$fuid}, function (data) {
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

    $(function(){
        $('#friendlist .uinfo').css({'width':($('#friendlist li').width()-40)+'px','overflow-x':'hidden'})
        $('#friendlist .uinfo .item-nickname a').eq(0).css({'width':($('#friendlist li').width()-150)+'px','overflow-x':'hidden'})
    })

    getFriend();
    var page = 0;
    function getFriend(){
        var byw = $('body').width()-30-40;
        $.post('/user/getFriends.html',{page:page},function(data){
            if(data.code == 200){
                var $html = '',obj=data.data;
                if(obj){
                    for(var i in obj){
                    $html+='<li class="reply-item borderb-d"style="margin-bottom: 5px;">';
                    $html+='<div class="fl picture" > <a href="/index/uinfo.html?uid='+obj[i]['f_uid']+'">';
                    if(obj[i]['picture']){
                        $html+='<img src="'+(PUBLIC+obj[i]['picture'])+'" width="40" alt="" style="margin-top: 4px;"/>';
                    }else{
                        $html+='<img src="'+(STATIC)+'/static/image/noavatar_middle.gif" width="40" style="margin-top: 4px;" alt=""/>';
                    }
                    $html+='</a></div>';
                    $html+='<div class="fr uinfo " style="width: '+byw+'px;">';
                    $html+='<a href="/index/uinfo.html?uid='+obj[i]['f_uid']+'"><div class="item-nickname fontb clo3 rl" style="height: 17px;" >';
                    $html+='<p style="margin: 0 0 0 5px;;"><a href="/index/uinfo.html?uid=1">'+obj[i]['nickname']+'</a></p>';
                    $html+='<i class="dred  relative">年龄：'+obj[i]['age']+'</i>';
                    $html+='</div></a>';
                    $html+='<div class="fr font24 relative" style="top:-5px; ">';
                    if(obj[i]['status'] ==1){ //待回复的
                        if( $('body').data('cuid') ==obj[i]['uid']){ //我主动加的好友
                            $html+='<i style="color: #999999;margin-right: 20px;" class="font14"  >待回复</i>';
                            $html+=' <a href="/index/chat.html?uid='+obj[i]['f_uid']+'" style="margin-right: 20px;" class="link-icon icon-mail-alt" title=" :: 留言讯息"><i class="fa fa-comments"></i></a>';
                        }else{ //申请成为我的好友
                            $html+=' <a href="/index/chat.html?uid='+obj[i]['f_uid']+'" style="margin-right: 20px;" class="link-icon icon-mail-alt" title=" :: 留言讯息"><i class="fa fa-comments"></i></a>';
                            $html+='<i style="color: #64c37e;" title="申请成为好友" onclick="acceptFriends('+obj[i]['f_uid']+');" class="fa fa-check"></i>';
                        }
                        $html+='<i style="color: #999999;" title="删除好友" onclick="delFriend('+obj[i]['f_uid']+');" class="fa fa-close"></i>';
                    }else{
                        $html+=' <a href="/index/chat.html?uid='+obj[i]['f_uid']+'" style="margin-right: 20px;" class="link-icon icon-mail-alt" title=" :: 留言讯息"><i class="fa fa-comments"></i></a>';
                        $html+='<i style="color: #e43774;"  title="我的好友" onclick="delFriends('+obj[i]['f_uid']+');" class="fa fa-heart"></i>';
                    }

                    $html+='</div>';
                    $html+='</div>';
                    $html+='<div class="clr"></div>';
                    $html+='</li>';
                }
                page++;
                $('#friendlist').append($html);
                }else{
                    clearpop('没有更多了');
                    $('#loadmore').hide();
                }
            }
        })
    }


</script>
</body>
</html>
