<!DOCTYPE html>
<html>
<include file="Index:wap_js_css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
<style>
    .controls.full-field, .controls .full-field {
        width: 100%;
        padding-left: 5px;
        margin-bottom: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: 0;
        top: 0;
    }
    .controls .full-field {
        height: auto;
        min-height: 34px;
    }

    .control-group {
        margin-bottom: 10px;
    }

    .flatten select, .public-view .flatten select {
        top: 0px;
        width: 100%;
    }
</style>
</head>
<body class="bodyf">
<div class="clearfix header">
    <ul class="user_header top-head ">
        <li class="fl tc fontb clof" style="max-width: 50px;" onclick="window.history.back(-1)"><i
                class="fontb fa fa-angle-left"></i></li>
        <li class="tc fl top-htit">
            <span class="font24 clof">{$headtitle|default='个人中心'}</span>
        </li>
        <li class="fr" style="width: 20%">
            <button id="saveProfileSubmit" onclick=" sub()" type="submit"
                    style="background: #DCDCDC;max-width: 70px;height: 40px;line-height: 40px;border-radius: 4px;;"
                    name="saveProfileSubmit" class=" btn-primary ">保存
            </button>
        </li>
    </ul>
    <div class="clr"></div>
</div>

<div id="content" class="is-fadein is-shown" style="margin-bottom: 30px;">
<form id="formEditProfile" name="formEditProfile" onsubmit="return false;" style="margin-top: 47px;"
      class="form-vertical">
<div class="subnav-elements subnav-alt box-padding">
    <div class="title-label">基本信息</div>
</div>
<div id="summary_section" class="box-padding sections">
    <div class="control-group">
        <label for="input_nickname" class="control-label">昵称</label>
        <input name="nickname" id="input_nickname" type="text" value="{$user.nickname}" class="form-control">
    </div>
    <div class="control-group">
        <label for="input_greeting" class="control-label">签名介绍</label>
        <input name="describe" id="input_greeting" type="text" value="{$user.describe}"
               placeholder="您的签名档将会显示给其他会员看到。发挥您的创意！" class="form-control">
    </div>
    <div class="control-group">
        <label for="input_addr" class="control-label">所在城市</label>

        <div>
            <div style="width: 48%"
                 class="controls flatten full-field icon-heart-empty icon-overlay select manage-form-el fl"
                 id="input_addr">
                <select name="proivce" onchange="checkeSupsort($(this).val(), $('#formEditProfile select[name=city]'));"
                        style="width:90%;  top: 0;">
                    <volist name="proivce" id="vo">
                        <option
                        <if condition="$user['proivce'] eq $vo['aid']">selected</if>
                        value="{$vo.aid}">{$vo.name}</option>
                    </volist>
                </select>
            </div>
            <div style="width: 48%"
                 class="controls flatten full-field icon-heart-empty icon-overlay select manage-form-el fr">
                <select name="city" style="width:90%;  top: 0;">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="control-group">
        <label for="birthdate" class="control-label">出生日期</label>
        <input name="birthdate" id="birthdate" type="text" value="{$user.birthdate}" class="form-control">
    </div>
    <div class="control-group">
        <label for="seeking" class="control-label">性别</label>

        <div class="controls flatten full-field icon-heart-empty icon-overlay select manage-form-el">
            <select id="seeking" class="full-field " readonly>
                <if condition="$user['sex'] eq 1">
                    <option value="1">女</option>
                    <else/>
                    <option value="2" selected>男</option>
                </if>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="height" class="control-label">身高</label>

        <div class="controls flatten full-field icon-resize-vertical icon-overlay select manage-form-el">
            <select name="height" id="height" class="full-field ">
                <option value="">请选择</option>
                <?php
                for($i=125;$i<220;$i++){
                ?>
                <option value="{$i}"
                <if condition="$user['height'] eq $i">selected</if>
                >{$i}cm</option>
                <?php
                }
                ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="weight" class="control-label">体重</label>

        <div class="controls flatten full-field icon-dashboard icon-overlay select manage-form-el">
            <select name="weight" id="weight" class="full-field ">
                <option value="">请选择</option>
                <?php
                for($i=36;$i<140;$i++){
                ?>
                <option value="{$i}"
                <if condition="$user['weight'] eq $i">selected</if>
                >{$i}kg</option>
                <?php
                }
                ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="smoking" class="control-label">吸烟习惯</label>

        <div class="controls flatten full-field icon-dashboard icon-overlay select manage-form-el">
            <select id="smoking" name="smoking">
                <option value="1" <if condition="$user['shape'] eq 1">selected</if>>保密</option>
                <option value="2" <if condition="$user['shape'] eq 2">selected</if>>从不</option>
                <option value="3" <if condition="$user['shape'] eq 3">selected</if>>偶尔</option>
                <option value="4" <if condition="$user['shape'] eq 4">selected</if>>经常</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="marriage" class="control-label">婚姻状况</label>

        <div class="controls flatten full-field icon-dashboard icon-overlay select manage-form-el">
            <select id="marriage" name="marriage">
                <option value="0">保密</option>
                <option
                <if condition="$user['marriage'] eq '未婚'">selected</if>
                value="未婚">未婚</option>
                <option
                <if condition="$user['marriage'] eq '离异'">selected</if>
                value="离异">离异</option>
                <option
                <if condition="$user['marriage'] eq '丧偶'">selected</if>
                value="丧偶">丧偶</option>
                <option
                <if condition="$user['marriage'] eq '非单身'">selected</if>
                value="非单身">非单身</option>
            </select>
        </div>
    </div>


    <div class="control-group">
        <label for="body_type" class="control-label">体型</label>

        <div class="controls flatten full-field icon-group icon-overlay select manage-form-el">
            <select name="body_type" id="body_type" class="full-field ">
                <option value="1"
                <if condition="$user['shape'] eq 1">selected</if>
                >苗条</option>
                <option value="2"
                <if condition="$user['shape'] eq 2">selected</if>
                >匀称</option>
                <option value="3"
                <if condition="$user['shape'] eq 3">selected</if>
                >肌肉发达</option>
                <option value="4"
                <if condition="$user['shape'] eq 4">selected</if>
                >平均/中等</option>
                <option value="5"
                <if condition="$user['shape'] eq 5">selected</if>
                >结实有型</option>
                <option value="6"
                <if condition="$user['shape'] eq 6">selected</if>
                >微胖</option>
                <option value="7"
                <if condition="$user['shape'] eq 7">selected</if>
                >魁梧</option>
                <option value="8"
                <if condition="$user['shape'] eq 8">selected</if>
                >丰满(性感/曲线动人)</option>
            </select>
        </div>
    </div>
</div>

<div class="subnav-elements subnav-alt box-padding">
    <div class="title-label">兴趣</div>
</div>
<div id="summary_section1" class="box-padding sections">
    <div id="interests_section" class="box-padding sections">
        <div class="control-group">
            <label for="perfect_match_text" class="control-label">完美配对</label>
            <input name="pairing_note" id="perfect_match_text" type="text"value="{$user.pairing_note}"
                   placeholder="完美配对" class="form-control">
        </div>
        <div class="control-group">
            <label for="personal_interests_text" class="control-label">个人兴趣</label>
            <input name="hobby_note" id="personal_interests_text" type="text" value="{$user.hobby_note}"
                   placeholder="个人兴趣" class="form-control">
        </div>
    </div>
</div>
<div class="subnav-element subnav-alt box-padding">
    <div class="title-label">联络方式</div>
</div>
<div id="summary_section2" class="box-padding sections">
    <div class="control-group">
        <label for="input_tel" class="control-label">电话</label>
        <input name="tel" id="input_tel" type="text" value="{$user.tel}" class="form-control">
    </div>
    <div class="control-group">
        <label for="input_qqid" class="control-label">QQ</label>
        <input name="qqid" id="input_qqid" type="text" value="{$user.qqid}" class="form-control">
    </div>
    <div class="control-group">
        <label for="input_wechat" class="control-label">微信</label>
        <input name="wechat" id="input_wechat" type="text" value="{$user.wechat}" class="form-control">
    </div>
    <div class="control-group">
        <label for="input_email" class="control-label">邮箱</label>
        <input name="email" id="input_email" type="text" value="{$user.email}" class="form-control">
    </div>
</div>
</form>
</div>
<script src="__STATIC__/common/js/jquery.lhgcalendar.min.js"></script>
<script>
    $('#birthdate').calendar({
        format: 'yyyy-MM-dd',
        btnBar: false
    });
    checkeSupsort('{$user.proivce}', $('#formEditProfile select[name=city]'));
    $('#formEditProfile select[name=city] option').each(function(){
        if('{$user.city}' == $(this).val()){
            $(this).attr('selected',true);
        }
    })

    function sub(){
        var data = $('#formEditProfile').serialize();
        $.post('/user/info.html',data,function(data){
            if(data.code ==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }
</script>
</body>
</html>