<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>爱大叔--{$user.nickname}</title>
    <include file="Index:wap_js_css"/>
<body pagename="login" style="overflow-x:hidden;">
<include file="User:uhead"/>
<div class="line10"></div>
    <form class="container" id="infobox" onsubmit="return false;">
        <ul class="modifyuser tr">
            <li class="tl">
                <input type="hidden" name="picture"/>
                <img id="picture" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" width="35" alt=""/>
                &nbsp;&nbsp; 修改头像
                <span class="fr">
                    <img src="__STATIC__/image/page/w_user/c_user_p.png" width="35" onclick="$('#file').click();" alt=""/>
                     <input type="file" id="file" class="hide"/>
                </span>
            </li>
            <li>
                <label for="exampleInputPassword2">用户名</label>
                <input type="text" name="nickname" value="{$user.nickname}" class="form-control" id="exampleInputPassword2" />
            </li>
            <li>
                <label for="exampleInputTel">电话</label>
                <input type="text" name="tel" value="{$user.tel}" class="form-control" id="exampleInputTel" />
            </li>
            <li>
                <label for="exampleInputQQ">QQ</label>
                <input type="text" name="qqid" value="{$user.qqid}" class="form-control" id="exampleInputQQ" />
            </li>
            <li>
                <label for="exampleInputEmail">Email</label>
                <input type="text" name="email" value="{$user.email}" class="form-control" id="exampleInputEmail" />
            </li>
            <li>
                <label>城市</label>
                <div class="select_row" >
                    <div class="idealforms_select fl" style="width:50%;min-width: 100px;">
                        <div class="idealforms_select_obj">
                            <input type="hidden" value="" name="proivce">
                            <input type="text" value="" readonly>
                            <span class="icaret"></span>
                        </div>
                        <ul class="idealforms_select_menu">
                            <li data-value="0">请选择省</li>
                            <volist name="priovce" id="vo">
                                <li data-value="{$vo.aid}">{$vo.name}</li>
                            </volist>
                        </ul>
                    </div>
                    <div class="idealforms_select fl" style="width:50%;">
                        <div class="idealforms_select_obj">
                            <input type="hidden" value="" name="city">
                            <input type="text" value="" readonly>
                            <span class="icaret"></span>
                        </div>
                        <ul class="idealforms_select_menu">
                            <li data-value="0">请选择城市</li>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
            </li>
            <if condition="$user['sex'] eq 1">
                <li>
                    <label>三围</label>
                    <div class="select_row" id="bwh" >
                        <input type="text" name="bust" value="{$user.bust}" placeholder="胸围/cm" class="form-control"/>
                        <input type="text" name="waist" value="{$user.waist}" placeholder="腰围/cm" class="form-control" />
                        <input type="text" name="hip"  value="{$user.hip}" placeholder="臀围/cm" class="form-control" />
                    </div>
                </li>
                <li>
                    <label for="exampleInputEmail">体重</label>
                    <input type="text" name="weight" value="{$user.weight}" class="form-control" id="exampleInputweight"/>
                    <span class="relative" style="top: -45px; right: 6px;">kg</span>
                </li>
            </if>
            <li>
                <label>身高</label>
                <div class="idealforms_select select_row tc">
                    <div class="idealforms_select_obj">
                        <input type="hidden" value="" name="height">
                        <input type="text" value=""  readonly>
                        <span class="icaret"></span>
                    </div>
                    <ul class="idealforms_select_menu tc">
                        <?php
                         for($i=145;$i<210;$i++){
                      ?>
                        <li data-value="{$i}">{$i}cm</li>
                        <?php
                           }
                       ?>
                    </ul>
                </div>
            </li>
            <li>
                <label>年龄</label>
                <div class="select_row">
                    <div class="idealforms_select fl" style="width:100%;">
                        <div class="idealforms_select_obj">
                            <input type="hidden" value="" name="age">
                            <input type="text" value="" readonly>
                            <span class="icaret"></span>
                        </div>
                        <ul class="idealforms_select_menu">
                            <?php
                         for($i=15;$i<80;$i++){
                      ?>
                            <li data-value="{$i}">{$i}</li>
                            <?php
                           }
                       ?>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
            </li>
            <li>
                <label>学历</label>
                <div class="idealforms_select select_row tc" style="width:100%;">
                    <div class="idealforms_select_obj">
                        <input type="hidden" value="" name="education">
                        <input type="text" value="" readonly>
                        <span class="icaret"></span>
                    </div>
                    <ul class="idealforms_select_menu tc">
                        <li data-value="">请选择</li>
                        <li data-value="初中及以下">初中及以下</li>
                        <li data-value="中专">中专</li>
                        <li data-value="高中">高中</li>
                        <li data-value="专科">专科</li>
                        <li data-value="本科">本科</li>
                        <li data-value="硕士">硕士</li>
                        <li data-value="博士">博士</li>
                    </ul>
                </div>
            </li>
            <li>
                <label>婚姻</label>
                <div class="idealforms_select select_row tc" style="width:100%;">
                    <div class="idealforms_select_obj">
                        <input type="hidden" value="" name="marriage">
                        <input type="text" value="" readonly>
                        <span class="icaret"></span>
                    </div>
                    <ul class="idealforms_select_menu tc">
                        <li data-value="">请选择</li>
                        <li data-value="未婚">未婚</li>
                        <li data-value="离异">离异</li>
                        <li data-value="丧偶">丧偶</li>
                        <li data-value="非单身">非单身</li>
                    </ul>
                </div>
            </li>
            <li>
                <label class="font13">月收入</label>
                <div class="idealforms_select select_row tc" style="width:100%;">
                    <div class="idealforms_select_obj">
                        <input type="hidden" value="" name="income">
                        <input type="text" value="" readonly>
                        <span class="icaret"></span>
                    </div>
                    <ul class="idealforms_select_menu tc">
                        <li data-value="">请选择</li>
                        <li data-value="3000元以下">3000元以下</li>
                        <li data-value="3001元-5000元">3001元-5000元</li>
                        <li data-value="5001元-8000元">5001元-8000元</li>
                        <li data-value="8001元-12000元">8001元-12000元</li>
                        <li data-value="12001元-20000元">12001元-20000元</li>
                        <li data-value="20001元-50000元">20001元-50000元</li>
                        <li data-value="50001元以上">50001元以上</li>
                    </ul>
                </div>
            </li>
            <li>
                <label for="exampleInputEmail">描述</label>
                <input type="text" name="describe" value="{$user.describe}" class="form-control" id="exampleInputdescribe" />
            </li>
        </ul>
        <div class="form-group tc" style="margin: 20px 0">
            <div class=" next_btn clof" onclick=" submodify();" >修改</div>
        </div>
    </form>
    <div id="pic"  style="display: none;">
        <div class="fullbg" onclick="$('#pic').hide()"></div>
        <div class="pop center">
            <div id="clipArea" style="height: 300px;;"></div>
            <button id="clipBtn" class="btn store_btn " style="width:25%;margin: 2% 0;">完成</button>
        </div>
    </div>
<script type="text/javascript" src="__STATIC__/common/js/hammer.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/iscroll-zoom.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.photoClip.min.js"></script>
<script>

    $("#infobox").idealforms();
    $('.idealforms_select_menu').css({'max-height': '120px'});
    $('.idealforms_select .idealforms_select_obj input[type=text]').css({'text-indent': '0px'});
    $('.idealforms_select .icaret ').css({'top': '13px'});
    $('.select_row').css({'margin-left':'55px','text-indent': '0','width':($('#infobox').width()-55)+'px'});
    $('#bwh input').css({'width':'32%','text-indent': '0'});


    setSelectSelected('#infobox input[name=proivce]',"{$user['proivce']}");
    checkeSupsort("{$user['proivce']}", $('#infobox input[name=city]').parents().siblings('.idealforms_select_menu'));
    setSelectSelected('#infobox input[name=city]',"{$user['city']}");
    setSelectSelected('#infobox input[name=height]',"{$user['height']}");
    setSelectSelected('#infobox input[name=age]',"{$user['age']}");
    setSelectSelected('#infobox input[name=education]',"{$user['education']}");
    setSelectSelected('#infobox input[name=marriage]',"{$user['marriage']}");
    setSelectSelected('#infobox input[name=income]',"{$user['income']}");

    function submodify(){
        $.post('/user/info.html',$('#infobox').serialize(),function(data){
            if(data.code == 200){
                clearpop(data.message,'','/user/index.html') ;
            }else{
                clearpop(data.message) ;
            }
        })
    }

    $('#infobox input[name=proivce]').parents().siblings('.idealforms_select_menu').find('li').click(function(){
        if(parseInt($(this).data('value'))>0){
            checkeSupsort( $(this).data('value'), $('#infobox input[name=city]').parents().siblings('.idealforms_select_menu'));
        }
    })



    $(function() {
        $("#clipArea").photoClip({
            width: 200,
            height: 200,
            file: "#file",
            view: "#view",
            ok: "#clipBtn",
            loadStart: function() {
                console.log("照片读取中");
            },
            loadComplete: function() {
                $('#pic').show()
            },
            clipFinish: function(dataURL) {
                uploadPicByBase64('avatar',dataURL);
            }
        });
    })

    function uploadPicByBase64(scope,stream){
        var uploadPhp = DOMAIN+'/Public/uploadForKindeditor.php';
        var uploadJson = uploadPhp+"?scope="+scope+"&callback="+DOMAIN+"&isbase64=true&isaj=1";
        $.post(uploadJson,{stream:stream},function(data){
            if(data.code==100){
                var img = data.data.url.img;//原图
                var thumb = data.data.url.thumb;//缩略图
                $('input[name=picture]').val(img);
                $('#picture').attr('src',PUBLIC+img);
                $('#pic').hide();
            }else{
                clearpop('上传失败');
            }
        },'json')
    }

</script>
</body>
</html>
