<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>爱大叔--{$user.nickname}</title>
    <include file="Index:wap_js_css"/>

<body pagename="login" style="overflow-x:hidden;">
<include file="User:uhead"/>

<div id="photolist" class="container" style="padding-bottom:80px ">
    <div class="topic_tit clo3 font16 fontb">{$msg.title}</div>
    <div class="topic_content font14">
        {$msg.message|htmlspecialchars_decode}
    </div>
</div>
</body>
</html>
