<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔堂--{$user.nickname}</title>
    <include file="Index:wap_js_css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
    <style>
        .subnav-elements.subnav-inverse.flex.btn-group a.btn-inverse.nav-item{width: 25%;min-width: 50px;}
        .modifyuser li label {width: 60px;}
        select{ width: 100%; height: 34px;color: #333; background-color: #FFffff; border-radius: 4px; border-color: #B8C2CC;margin-top: 5px;}
        select:active{ background-color: #e6e6e6; border-color: #adadad;}
        .content-960.page-content.wide { padding: 30px 20px 65px;  }
        .photo_item{margin-bottom: 10px}
    </style>
<body pagename="friends" style="overflow-x:hidden;" class="bodyf" data-cuid="{$cuid}">
<include file="User:uhead"/>
<div class=" profile-view" style="margin-top: 47px;;">
    <div class="subnav-elements subnav-inverse flex btn-group tc clof" >
        <a id="inboxBtn" href="/user/index.html" data-tit="chat" class="btn btn-inverse nav-item "><i class="fa fa-user"></i></a>
        <a id="SavedBtn" href="/user/friends.html" data-tit="topic" class="btn btn-inverse nav-item "><i class="fa fa-heart"></i></a>
        <a id="SentBtn" href="/user/photo.html" data-tit="news" class="btn btn-inverse nav-item active"><i class="fa fa-photo"></i></a>
        <a id="SystemBtn" href="/user/utopic.html" data-tit="news" class="btn btn-inverse nav-item"><i class="fa fa-file-text-o"></i></a>
    </div>
    <div class="line10"></div>
    <div id="photolist" style="padding-bottom:80px ">
        <volist name="photolist" id="vo">
            <div class="photo_item fl relative" id="row_{$vo.id}" style="margin:5px 5px; width: 47%;">
                <span class="absolute  delimg font24" onclick="delimg('{$vo.id}')" style="top: 0;right: 5px;cursor: pointer" ><i class="fa fa-window-close-o"></i></span>
                <img src="__PUBLIC__{$vo.img}" alt=""/>
                <if condition="$vo['status'] eq 0">
                    <div class="absolute clof tc fontb" style="width: 100%;height: 30px;;background: #000000;opacity: .5;bottom: 0;">审核中</div>
                </if>
            </div>
        </volist>
        <div class="clr"></div>
        <br/>
    </div>

    <input type="file" id="file" class="hide"/>
    <div class="create-topic tc font18 fontb clof" onclick="$('#file').click();">
        上传图片
    </div>

    <div id="pic"  style="display: none;;">
        <input type="hidden" name="img"/>
        <div class="fullbg" onclick="clearUpfailImg();"></div>
        <div class="pop center" style="width: 500px;left: 50%;margin-left: -250px;">
            <div id="clipArea" style="height: 300px;"></div>
            <p class="tc" style="margin: 5px 0">
                <a href="javascript:clearUpfailImg();" class="cloc">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0);" id="clipBtn">下一步</a>
            </p>
            <div id="clipArea2" style="display: none;">
                <div class="pic-containaer tc" style="padding: 5px 10px;">
                    <img  alt="" class="blurify" width="300">
                </div>
                <p class="tc">
                    <a href="javascript:mohu(1);">原图</a>
                    <a href="javascript:mohu(2);">模糊1</a>
                    <a href="javascript:mohu(3);">模糊2</a>
                    <a href="javascript:mohu(4);">模糊3</a>
                    <a href="javascript:mohu(5);">模糊4</a>
                    <a href="javascript:mohu(6);">模糊5</a>
                </p>
                <p class="tc"><a href="javascript:clearUpfailImg();" class="cloc">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="flishbtn"  class="btn btn-primary wide-btn" style="width:25%;margin: 2% 0;">完成</button></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/common/js/hammer.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/iscroll-zoom.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.photoClip.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/blurify.js"></script>
<script>
    /*阻塞标志，防止重复提交；预设不阻塞*/
    window.subBlock=false;
    var bodyw = $(window).width();
    $("#clipArea").photoClip({
        width: 250,
        height: 312,
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function() {
            console.log("照片读取中");
        },
        loadComplete: function() {
            $('#pic .pop.center').css({'width':(bodyw-30)+'px','margin-left':-(bodyw-30)/2+'px','max-width':'400px','min-width':'250px'})
            $('#clipArea .photo-clip-rotateLayer').css({'max-height':'312px'})
            $('#pic').show()
        },
        clipFinish: function(dataURL) {
            $('#clipBtn').attr('onclick',"return false");
            $('#clipBtn').css('color',"#cccccc");
            uploadPicByBase64('photo',dataURL);
        }
    });

    function uploadMhImg(scope){
        loading();
        $('#flishbtn').attr('disabled','disabled');
        subBlock =true;
        var dataURL = $('.pic-containaer img').attr('src');
        uploadPicByBase64(scope,dataURL,'flish');
    }

    function uploadPicByBase64(scope,stream,type){
        if(subBlock){
            clearpop('正在截取中');
        }
        subBlock =true;
        var uploadPhp = DOMAIN+'/Public/uploadForKindeditor.php';
        var uploadJson = uploadPhp+"?scope="+scope+"&callback="+DOMAIN+"&isbase64=true&isaj=1";
        $.post(uploadJson,{stream:stream},function(data){
            subBlock =false;
            if(data.code==100){
                var img = data.data.url.img;
                var thumb = data.data.url.thumb;
                if(type == 'flish'){
                    closeLoad();
                    $.post('/user/uploadPhoto.html',{ture_img:$('#pic input[name=img]').val(),img:img,scope:scope},function(data){
                        if(data.code == 200){
                            $('#flishbtn').removeAttr('disabled');
                            clearpop(data.message,'','self');
                            $('#pic').hide()
                        }else{
                            clearpopj(data.message);
                        }
                    })
                }else{
                    $('.pic-containaer img.blurify').attr('data-src',PUBLIC+img)
                    $('.pic-containaer img').attr('src',PUBLIC+img)
                    $('#pic input[name=img]').val(img);
                    $('#flishbtn').attr('onclick','uploadMhImg("'+scope+'")');
                    $('#clipArea').hide()
                    $('#clipBtn').hide()
                    $('#clipArea2').show()
                }
            }else{
                clearpop('上传失败');
            }
        },'json')
    }


    function mohu($bl){
        new blurify({
            images: document.querySelectorAll('img.blurify'),
            blur: $bl,
            mode: 'auto'
        });
    }
</script>
</body>
</html>
