<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔馆--{$user.nickname}</title>
    <include file="Index:wap_js_css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
    <style>
        .modifyuser li label {width: 60px;}
    </style>
<body pagename="friends" style="overflow-x:hidden;" class="bodyf" data-cuid="{$cuid}">
<include file="User:uhead"/>
<div class=" profile-view" style="margin-top: 47px;;">
    <div class="line10"></div>
    <div class="container">
        <ul class="modifyuser tr">
            <li class="tl relative uppwd" >
                <label style="width: 100%;">修改密码 <span class="right_ico bcol fr"></span></label>
            </li>
            <li id="uppwdbox">
                <ul class="absolute"  style="top: 0;width: 100% " >
                    <li>
                        <label class="fontn" for="exampleInputPwd">原密码</label>
                        <input type="text" name="oldpassword" value="" placeholder="请输入原始密码" class="form-control" id="exampleInputPwd" />
                    </li>
                    <li>
                        <label class="fontn" for="exampleInputPwd1">新密码</label>
                        <input type="password" name="password" value="" placeholder="请输入原始密码" class="form-control" id="exampleInputPwd1" />
                    </li>
                    <li>
                        <label class="fontn" for="exampleInputPwd2">重复密码</label>
                        <input type="password" name="password2" value="" placeholder="请输入原始密码" class="form-control" id="exampleInputPwd2" />
                    </li>
                    <li style="border: none">
                        <div class="tc">
                            <div  class=" next_btn " onclick="submodifyPwd()">修改</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="__STATIC__/common/js/hammer.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/iscroll-zoom.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.photoClip.min.js"></script>
<script>
    function submodifyPwd(){
        var oldpassword = $('#uppwdbox input[name=oldpassword]').val();
        var password = $('#uppwdbox input[name=password]').val();
        var password2 = $('#uppwdbox input[name=password2]').val();
        if(!oldpassword){
            clearpop('请填写原始密码！');
            return false;
        }
        if(!password){
            clearpop('请填写新密码！');
            return false;
        }
        if(password.length<3){
            clearpop('新密码长度不能小于4！');
            return false;
        }
        if(password !=password2){
           clearpop('重复密码不一致！');
           return false;
       }
        $.post('/user/uppwd.html',{oldpassword:oldpassword,password:password,password2:password2,type:'uppwd'},function(data){
            if(data.code == 200){
                clearpop(data.message,'','/login/logout.html') ;
            }else{
                clearpop(data.message) ;
            }
        })
    }
</script>
</body>
</html>
