<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>爱大叔</title>
    <include file="Index:wap_js_css"/>
<body pagename="login" style="overflow-x:hidden;">
<include file="User:uhead"/>
<div class="space_porfile">
    <div class="user_noavatar tc" <if condition="isset($user['uid']) && $user['uid']"> onclick="window.location.href='/user/info.html?uid={$user['uid']}'"</if>>
        <img id="picture" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" class="user_noavatar_img"/>
    </div>
    <div class="user_name clof font16 tc"><span>{$user.nickname}</span>&nbsp;
        <a href="" class="level level_1 clof" tab="usergroup">
            <span>L1</span><em class="size_x" style="">新手上路</em>
        </a>
    </div>
</div>

<div class="recommend bordert-d relative">
    <div class="r_title fontb font16 borderb-d ">个人资料</div>
    <if condition="!$isfriend and !isself">
        <span class="addfriend clo6 absolute" style="right: 5px;top: 8px;" onclick="addFriends('{$user.uid}');">加为好友</span>
    </if>
    <div class="r_box container">
        <div class="form-group">
            <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">城市</span><span class="clo9">{:getAreaByAid($user['proivce'])}-{:getAreaByAid($user['city'])}</span></div>
            <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">身高</span><span class="clo9">{$user['height']}cm</span></div>
            <div> <span class="clo3 iblock" style="width: 100px;text-indent: 20px;">年龄</span><span class="clo9">{$user['age']}</span></div>
            <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">体重</span><span class="clo9">{$user['weight']}kg</span></div>
            <div id="more" class="hide">
                <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">婚姻状况</span><span class="clo9">{$user['marriage']}</span></div>
                <div> <span class="clo3 iblock" style="width: 100px;text-indent: 20px;">学历</span><span class="clo9">{$user['education']}</span></div>
                <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">收入</span><span class="clo9">{$user['income']}</span></div>
                <if condition="$user['sex'] eq 1">
                    <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">胸围</span><span class="clo9">{$user['bust']}cm</span></div>
                    <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">腰围</span><span class="clo9">{$user['waist']}cm</span></div>
                    <div><span class="clo3 iblock" style="width: 100px;text-indent: 20px;">臀围</span><span class="clo9">{$user['hip']}cm</span></div>
                </if>
            </div>
            <div id="showmore" class="tc clo9 font13 loadmore" >显示更多</div>
        </div>
        <div class="topic_count bordert-d">
            <ul class="font13">
                <li onclick="window.location.href='/user/utopic.html?uid={$user.uid}';">ta的帖子</li>
                <li onclick="window.location.href='/user/photo.html?uid={$user.uid}';">ta的相册</li>
                <li onclick="window.location.href='/user/guestbook.html?uid={$user.uid}';">留言</li>
            </ul>
            <div class="clr"></div>
            <div style="border: 1px dashed #cccccc"></div>
        </div>
    </div>

    <div class="clr"></div>
</div>
<script>
$('#showmore').click(function(){
    if($('#more').hasClass('hide')){
        $('#more').removeClass('hide');
    }else{
        $('#more').addClass('hide');
    }
})

function addFriends($uid){
    $.post('/user/addFriends.html',{uid:$uid},function(data){
        clearpop(data.message);
    })
}


</script>
</body>
</html>
