<!DOCTYPE html>
<html>
<head>
    <title>名叔堂</title>
    <include file="Index:wap_js_css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
    <style>
        .subnav-elements.subnav-inverse.flex.btn-group a.btn-inverse.nav-item {
            width: 50%;
            min-width: 50px;
        }
    </style>
</head>
<body class="bodyf">
<include file="Index:head"/>

<div id="content" class="is-fadein is-shown" style="margin-top: 47px;">
    <div id="profile-page" class="profile">
        <div class=" profile-view">
            <div class="subnav-elements subnav-inverse flex btn-group tc clof" style="height: 47px;">
                <a id="SystemBtn" href="/user/utopic.html" data-tit="news" class="btn btn-inverse nav-item active">
                    <i class="fa fa-file-text-o"></i></a>
                <a id="SentBtn" href="/user/postTopic.html" data-tit="news" class="btn btn-inverse nav-item">
                    <i class="fa fa-edit"></i></a>
            </div>
            <div class="line10"></div>
            <div class="r_box container">
                <volist name="topiclist" id="vo">

                    <div class="topic-itme " id="row_{$vo.tid}">
                        <div class="topic_u_info" onclick="window.location.href='/index/topicInfo.html?tid={$vo.tid}'">
                            <div class="fl">
                                <img src="__STATIC__/image/defaultAvatar.png" width="40" alt=""/>
                                <span clo3>{$vo.nickname}&nbsp;</span>
                            </div>
                            <div class="clo9 fr topic-c-time">{:timeTran($vo['createtime'])}</div>
                        </div>
                        <div class="container">
                            <a href="/index/topicInfo.html?tid={$vo.tid}">
                                <div class="topic_tit clo3 font16 fontb">{$vo.title}</div>
                                <div class="topic_content font14 ">
                                    {$vo.message|htmlspecialchars_decode}
                                </div>
                            </a>
                            <div class="topic_count fontb" style="padding: 10px 0;background: #DCD5CF;">
                                <ul class="font12 clo9">
                                    <li>阅读{$vo.read|default=0}</li>
                                    <li>查看{$vo.comments|default=0}</li>
                                    <li style="float: right" class="font14" onclick="deltopic('{$vo.tid}')">删除</li>
                                </ul>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="line10"></div>
                    </div>
                </volist>
            </div>
        </div>
    </div>
</div>
</body>
</html>
