<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version()}"/>
<div class="imui_side b_f" onclick="openside();">
    <div class="side_user font14 clof cl">
        <if condition="!empty($user)">
            <a href="/user/index.html" >
                <if condition="$user['picture']">
                    <img src="__PUBLIC__/{$user['picture']}">
                    <else/>
                    <img src="__STATIC__/image/noavatar_middle.gif">
                </if>
            </a>
            <h3 class="font16">{$user.nickname}</h3>
            <p><a href="/login/logout.html" class="clof fr font12">退出</a></p>
            <else/>
            <p class="font18"><a href="/login/login.html" style="text-decoration: inherit" class="clof fr font20">请登录</a></p>
        </if>
    </div>
    <div class="side_nv size_16">
        <ul id="sidearea">
            <li>
                <a href="/">
                    <div class="font16 fontb">
                        <img src="__STATIC__/image/page/w_index/l_home.png" width="40" style="margin-left: 10px;" />
                        <span class="relative s_rowname" >首页</span>
                    </div>
                    <div class="clr "></div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="font16 fontb">
                        <img src="__STATIC__/image/page/w_index/l_chat.png" width="40" style="margin-left: 10px;"/>
                        <span class="relative s_rowname" >论坛</span>
                    </div>
                </a>
            </li>
            <li>
                <if condition="$user['sex'] eq 1">
                    <a href="/index/rlist.html?cid=1">
                        <img src="__STATIC__/image/page/w_index/f_boy.png" width="40" style="margin-left: 10px;"/>
                        <span class="relative s_rowname" >找大叔</span>
                    </a>
                <else/>
                    <a href="/index/rlist.html?cid=2">
                        <img src="__STATIC__/image/page/w_index/l_girl.png" width="40" style="margin-left: 10px;"/>
                        <span class="relative s_rowname" >找萝莉</span>
                    </a>
                </if>
            </li>
            <li>
                <a href="/">
                    <img src="__STATIC__/image/page/w_index/l_service.png" width="40" style="margin-left: 10px;"/>
                    <span class="relative s_rowname" >服务指南</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="__STATIC__/image/page/w_index/aboutus.png" width="40" style="margin-left: 10px;"/>
                    <span class="relative s_rowname" >联系我们</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="imui_sidebg" onclick="openside();"></div>