<div id="left-nav" class="relative" style="width: 90%;top: 0;left: 0;">
    <div id="optionsMenu">
        <div id="profilePhoto">
            <a href="/profile">
                <img src="https://static-cdn.ashleymadison.com/n/images/left_nav_no_photo_man.jpg">
            </a>
            <div id="addPhotoButton" style="top: 149px;">
                <div id="photoUpload" class="profilePhotoManagerUpload">
                </div><label for="managePhotosButton" class="btn neighbour-top hide-overflow relative"><i class="icon-camera">     </i>增加相片
                <input id="managePhotosButton" type="file" accept="image/*" name="photo" class="fill-area hide cant-see-me offscreen">
            </label>
            </div>
            <a href="/profile">
                <div id="nickname" class="" style="margin-top: -179px;">
                    <div class="box-padding">
                        <div class="title-label">ter80871</div><span>ni hao</span>
                    </div>
                </div>
            </a>
        </div>
        <ul class="content-list nav">
            <li class="list-item">
                <div class="box-padding"><a href="/profile"><i class="icon-ashley-user nav-icon-sm"> </i>简介管理</a></div>
            </li>
            <li class="list-iteli list-item">
                <div class="box-padding"><a href="/logout"><i class="icon-off nav-icon-sm"> </i>登出</a></div>
            </li>
        </ul>
    </div>
</div>
