<div class="header clearfix">
    <ul class=" top-head">
        <li class="avatar fl" <if condition="!empty($user)"> onclick="window.location.href='/user/index.html'"<else/> onclick="window.location.href='/login/login.html'" </if> >
            <img id="picture" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}" class="user_noavatar_img"/>
        </li>
        <li class="tc fl top-htit">
            <span class="fontb font24">名叔馆</span>
        </li>
        <li class="fl search_ico" onclick="window.location.href='/index/search.html'">
            <span class="search_ico_1">
            <span class="search_ico_2">
            </span>
            </span>
        </li>
    </ul>
    <div class="clr"></div>
</div>
<div style="height: 50px;"></div>
