<style>
    .navbar-inner { background-color: #e43774;}
    .navbar{width: 100%;height: 47px;line-height: 47px;position: fixed;top: 0;left: 0;margin-bottom: 0 }
    .is-fadein {webkit-animation: fadeIn .3s 1 ease-in-out; -moz-animation: fadeIn .3s 1 ease-in-out; -ms-animation: fadeIn .3s 1 ease-in-out;-o-animation: fadeIn .3s 1 ease-in-out; animation: fadeIn .3s 1 ease-in-out; }
    .nav-item{ -moz-box-align: center;-webkit-box-align: center;-webkit-align-items: center; -ms-flex-align: center;align-items: center; -moz-box-flex: 1;-webkit-box-flex: 1;-webkit-flex: 1; -ms-flex: 1;flex: 1; display: block;font-size: 2em;color: #FFffff}
    .nav-elements a{color: #FFffff}
    .nav-logo{width: 50px;}
    .nav-elements .selected { background-color: #b63057;}
    #left-nav{ height: 100%;width: 84%;max-width: 540px; position: fixed; top: 0;left: -90%;background-color: #000;color: #eee;z-index: 55}
    #topNav{z-index: 500}
    #left-nav .list-item {
        background-color: #000;
        border-color: #222;
        line-height: 2.2;
    }
</style>
<php>
    $currentuser = Common\Model\UserModel::getUser();$currentuid=$currentuser['uid'];
    $msgcount = Common\Model\MessageModel::getNewMsgNumByUid($currentuid);
</php>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
<div id="topNav" class="navbar navbar-inner  is-fadein">
    <div id="returnToMessengerBar"></div>
    <div class="navbar-inner">
        <div class="nav-elements tc flex">
            <div id="logoutLink" class="nav-logo fl" style="font-size: 2em">
                <a href="javascript:void(0);">
                    <i class="fa fa-navicon "> </i>
                </a>
            </div>
            <div class="nav-item relative fl nav-search " onclick="window.location.href='/index/ulist.html'" id="index">
               <i class="fa fa-search"></i>
            </div>
            <div class="nav-item relative fl nav-messaging" onclick="window.location.href='/index/news.html'" id="news">
                <i class="fa fa-comments-o"></i>
                <if condition="$msgcount gt 0">
                    <if condition="$msgcount gt 9">
                        <span class="badge badge-warning conversations-unread-count badge-top-left">9+</span>
                    <else/>
                        <span class="badge badge-warning conversations-unread-count badge-top-left">{$msgcount}</span>
                    </if>
                </if>
            </div>
            <div class="nav-item relative fl nav-profile" onclick="window.location.href='/user/index.html'" id="user">
                <i class="fa fa-user-o "></i>
            </div>
            <div class="nav-item relative fl nav-packages" onclick="window.location.href='/index/topic.html'" id="topic">
                <i class="fa fa-newspaper-o"></i>
            </div>
        </div>
    </div>
    <div id="topNavBanner"></div>
</div>

<div id="left-nav" class="" data-flag="false" >
    <div id="optionsMenu">
        <if condition="!empty($currentuser)">
            <div id="profilePhoto">
                <if condition="$currentuser['picture']">
                    <a href="/user/index.html" class="absolute"  style="top: 15px;left: 50%;margin-left: -100px;">
                        <img src="__PUBLIC__{$currentuser.picture}">
                    </a>
                </if>
                <div id="profilePhoto2">
                    <a href="/user/index.html">
                        <img src="__STATIC__/image/page/w_index/left_nav_no_photo_man.jpg">
                    </a>
                </div>
                <a href="/user/index.html">
                    <div id="nickname" class="" style="margin-top: -105px;">
                        <div class="box-padding">
                            <div class="title-label">{$currentuser.nickname}</div><span>{$currentuser.describe}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clr"></div>
            <ul class="content-list nav">
                <li class="list-item" style="">
                    <div class="box-padding"><a href="/user/index.html"><i class="icon-ashley-user nav-icon-sm"> </i>简介管理</a></div>
                </li>
                <li class="list-iteli list-item">
                    <div class="box-padding"><a href="/login/logout.html"><i class="icon-off nav-icon-sm"> </i>登出</a></div>
                </li>
            </ul>
        <else/>
            <div id="profilePhoto1">
                <a href="/user/index.html">
                    <img src="__STATIC__/image/page/w_index/left_nav_no_photo_man.jpg">
                </a>
            </div>
            <ul class="content-list nav">

                <li class="list-iteli list-item">
                    <a href="/login/logout.html"><div class="box-padding"><i class="icon-off nav-icon-sm"> </i>登录</div></a>
                </li>
            </ul>
    </if>

    </div>
</div>

<script>
    var bodywidth = $(window).width();
    var pathinfo =(window.location.pathname).toLowerCase();
    $('#returnToMessengerBar .navbar-inner div.nav-item').removeClass('selected');
    if(pathinfo.indexOf('/news')>0){
        $('#news').addClass('selected');
    }else if(pathinfo.indexOf('user/')>0){
        $('#user').addClass('selected');
    }else if(pathinfo.indexOf('topic') >0){
        $('#topic').addClass('selected');
    }else{
        $('#index').addClass('selected');
    }


    $('#topNav .nav-item').css({'width':(bodywidth-52)/4+'px','height':$('#signupOverlay').height()+'px'});
    $('#left-nav').css({'height':($('body').height())+'px'});
    $('#logoutLink').click(function (){
        if(false ==$('#left-nav').data('flag')){
            $('#left-nav').animate({ left: '0' }, 250);
            $('#topNav,#signupOverlay').animate({ left: $('#left-nav').width() }, 250);
            $('#left-nav').data('flag',true);
        }else{
            $('#left-nav').animate({ left: '-90%' }, 250);
            $('#topNav,#signupOverlay').animate({ left: '0'}, 250);
            $('#left-nav').data('flag',false);
        }
    })
</script>