<!DOCTYPE html>
<html class="no-js webkit safari safari9 iphone">
<head>
    <title>名叔馆</title>
    <include file="Index:wap_js_css"/>
</head>
<body>
<div class="public mobile-content">
    <div id="staticLandingPage" class="startup">
        <header class="logoHeight" id="headerContainer" style="">
            <div class="backTransparent logoHeight" id="backLayer"></div>
            <div class="backLogo logoHeight" id="logoBack" style="">
                <span class="font24 relative clof" style="top: 15px;">名叔馆</span>
                <small id="tagLineText" class="clof tagline center " style="">寻找心动瞬间</small></div>
        </header>
        <div class="center neighbour-top" id="centerImg" style="">
            <div id="mainImgContainer" class="hero-image-wrapper inline position-relative" style="width: auto">
                <img id="mainImg" class="top-minus-6" src="__STATIC__/image/page/home/indexbg2.jpg" style="height: 446px;">
            </div>
        </div>
        <div id="landingView">
            <div id="buttonSection">
                <div id="memberText" class="center side-padding">超过 53,175,000 会员*</div>
                <div class="side-padding center neighbour-top">
                    <div id="promoteSignup" class="">
                        <a id="registerButtonMobile" href="/login/reg.html" class="btn btn-ashley btn-large btn-fullwidth">免费加入</a>
                        <a id="goToLogin" href="/login/login.html" class="btn btn-large neighbour-top btn-fullwidth">登入</a>
                    </div>
                </div>
                <div><p class="disclaimer member-legal">*自2002年起加入名叔馆的会员数量。</p></div>
            </div>
            <form id="nextLoginForm" action="/n/" method="post"><input id="access_token" type="hidden" name="access_token"></form>
        </div>
    </div>
</div>



</body>
</html>