<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <include file="Index:wap_js_css"/>
</head>
<body>
    <include file="Index:head"/>
    <div class="top-nav">
        <ul class="tc">
            <volist name="club" id="vo">
                <li onclick="window.location.href='/index/infolist.html?cid={$vo.cid}'">{$vo.clubname}</li>
            </volist>
        </ul>
    </div>
    <div class="clr"></div>
    <div class="clearfix borderb-d bordert-d">
        <div class="column">
            <div class="carousel slide" id="carousel-991335">
                <ol class="carousel-indicators">
                    <volist name="bannerlist" id="vo">
                        <li <if condition="$i eq 1">class="active"</if>data-slide-to="{$i}" data-target="#carousel-991335">
                        </li>
                    </volist>
                </ol>
                <div class="carousel-inner">
                    <volist name="bannerlist" id="vo">
                        <div <if condition="$i eq 1">class="item active"<else/>class="item" </if>>
                            <img alt="" src="__PUBLIC__{$vo.indexpic}" />
                        </div>
                    </volist>
                </div>
                <a class=" hide carousel-control" href="#carousel-991335" id="next" data-slide="next"></a>
            </div>
        </div>
    </div>
    <div class="area_item borderb-d">
        <ul class="tc">
            <volist name="proivce" id="vo">
                <if condition="$i eq 1">
                    <li onclick="window.location.href='/index/infolist.html?aid={$vo.aid}'"><img src="__STATIC__/image/page/w_index/music.png" width="40" alt=""/><div>{$vo.name}</div></li>
                    <elseif condition="$i eq 2"/>
                    <li onclick="window.location.href='/index/infolist.html?aid={$vo.aid}'"><img src="__STATIC__/image/page/w_index/note.png" width="40" alt=""/><div>{$vo.name}</div></li>
                    <elseif condition="$i eq 3"/>
                    <li onclick="window.location.href='/index/infolist.html?aid={$vo.aid}'"><img src="__STATIC__/image/page/w_index/chat.png" width="40" alt=""/><div>{$vo.name}</div></li>
                    <elseif condition="$i eq 4"/>
                    <li onclick="window.location.href='/index/infolist.html?aid={$vo.aid}'"><img src="__STATIC__/image/page/w_index/yes.png" width="40" alt=""/><div>{$vo.name}</div></li>
                    <elseif condition="$i eq 5"/>
                    <li onclick="window.location.href='/index/infolist.html?aid={$vo.aid}'"><img src="__STATIC__/image/page/w_index/picture.png" width="40" alt=""/><div>{$vo.name}</div></li>
                </if>
            </volist>
        </ul>
    </div>
    <div class="line10"></div>
    <div class="recommend bordert-d ">
        <div class="r_title fontb font16 borderb-d">推荐图片 <span class="fr">...</span></div>
        <div class="r_box container">
            <div class="r-b-l fl r-b"><img src="__STATIC__/image/b2.png" alt=""/></div>
            <div class="r-b-r fr r-b"><img src="__STATIC__/image/b3.png" alt=""/></div>
        </div>
        <div class="clr"></div>
    </div>
    <include file="Index:footer"/>
    <script>
        $(function(){
            $('.recommend .r_box img').attr('width',$('.recommend .r_box .r-b').width());
        })
        setInterval(function(){ $('#next').click();},3000);
    </script>
</body>
</html>