<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <include file="Index:wap_js_css"/>
</head>
<body data-keyword="{$_REQUEST['keyword']}" data-type="{$_REQUEST['type']}" data-aid="{$_REQUEST['aid']}" data-cid="{$_REQUEST['cid']}">
<php>$user = Common\Model\UserModel::getUser();$currentuid=$user['uid']</php>
<include file="User:uhead"/>
<div class="postitle container b_f bo_bl bo_tl mt10">
    <if condition="isset($_REQUEST['type'])">
        <if condition="$_REQUEST['type'] eq 1">
            <span class="font15 cloc">结果: 找到 “<span class="font14">{$_REQUEST['keyword']}</span>” 相关内容 <span id="count"></span> 个</em></span>
        <else/>
            <span class="font15 cloc">结果: 匹配到<span id="count"></span> 个会员</span>
        </if>
    </if>
</div>
<div id="content" class="container">

</div>
<div onclick="loadmore(this);" class="tc clo9 font13 loadmore" >加载更多</div>
<if condition="isset($_REQUEST['cid']) && $_REQUEST['cid']">
    <div class="create-topic tc font18 fontb clof" onclick="window.location.href='/index/postTopic.html?cid={$_REQUEST.cid}'"><img src="__STATIC__/image/create-topic.png" alt=""/>&nbsp;&nbsp;在{$headtitle}发帖</div>
</if>


<script>
    var page =0;
    function getinfolist(){
        $.post('/index/getinfolist.html',{page:page,keyword:$('body').data('keyword'),aid:$('body').data('aid'),cid:$('body').data('cid')},function(data){
            if(data.code ==200){
                $('#count').html(data.data.count);
                var obj = data.data.list,$hmtl = '';
                if(!obj){
                    clearpop('没有更多了！');
                    return false;
                }
                $hmtl = topichtml(obj);
                $('#content').append($hmtl);
            }
        })
    }
    function getUserinfolist(data){
        $.get('/index/getUserinfolist.html',data,function(data){
            if(data.code ==200){
                $('#count').html(data.data.count);
                var obj = data.data.list,$hmtl = '';
                if(!obj){
                    clearpop('没有更多了！');
                    return false;
                }
                $hmtl = userhtml(obj);
                $('#content').append($hmtl);
            }
        })
    }
    $(function(){
        var type = $('body').data('type')
        if(type ==2){
            var url = (window.location.search+"&page="+page).substr(1);
            getUserinfolist(url);
        }else{
            getinfolist();
        }
    })

    function loadmore(obj){
        page++;
        var type = $('body').data('type')
        if(type == 2){
            var url = (window.location.search+"&page="+page).substr(1);
            getUserinfolist(url);
        }else{
            getinfolist();
        }
    }

    function userhtml(obj){
        var $html='';
        for(var i in obj){
            $html+='<li class="reply-item borderb-d" onclick="window.location.href=\'/user/userinfo.html?uid='+obj[i]['uid']+'\'" style="margin-bottom: 5px;">';
            $html+='<div class="fl">';
            if(obj[i]['picture']){
                $html+='<img src="'+(PUBLIC+obj[i]['picture'])+'" width="40" alt="" style="margin-top: 4px;"/>';
            }else{
                $html+='<img src="'+(STATIC)+'/static/image/noavatar_middle.gif" width="40" style="margin-top: 4px;" alt=""/>';
            }
            $html+='</div>';
            $html+='<div class="fl uinfo ">';
            $html+='<div class="item-nickname fontb clo3 " style="height: 17px;" >';
            if(obj[i]['nickname'].length){
                $html+='<a style="padding-right: 10px;">'+(obj[i]['nickname']).substring(0,18)+'</a>';
            }
            $html+='<a href="" class="level level_1 fr clof relative" style="top: 5px;">';
            $html+='<span>L1</span><em class="size_x" style="">新手上路</em>';
            $html+='</a>';
            $html+='</div>';
            if(obj[i]['describe']){
                $html+='<span class="clo9 font12">'+(obj[i]['describe'])+'</span>';
            }else{
                $html+='<span class="iblock clo9 font12" style="width: 100%;overflow: hidden; height: 25px;" >暂无消息</span>';
            }
            $html+='</div>';
            $html+='<div class="clr"></div>';
            $html+='</li>';
        }
        return $html;
    }

    function topichtml(obj){
        var $hmtl = '',keyword = $('body').data('keyword');
        for(var i in obj){
            $hmtl+='<div class="container">';
            $hmtl+='<div class="topic-itme " onclick="window.location.href=\'/index/topicInfo.html?tid='+obj[i]['tid']+'\'">';
            $hmtl+='<div class="container">';
            $hmtl+='<div class="topic_tit clo3 font16 fontb">';
            $hmtl+='<span class="red">#'+obj[i]['clubname']+'#</span>';
            $hmtl+=obj[i]['title'];
            $hmtl+='</div>';
            $hmtl+='<div class="topic_content font14 clo6 ">';
            $hmtl+=obj[i]['message'];
            if(obj[i]['sex'] !=1){ // 女生图片不展示
                if(obj[i]['img']){
                    for(var j in obj[i]['img']){
                        $hmtl+='<img src="__PUBLIC__/'+ obj[i]['img'][j]+'" style="max-width: 100%"  alt=""/>';
                    }
                }
            }else{
                $hmtl+='<i>想看美女照片,请联系客服!</i>';
            }
            $hmtl+='</div>';
            $hmtl+='<div class="topic_u_info">';
            $hmtl+='<div class="fl">';
            if(obj[i]['avatar']){
                $hmtl+='<img src="'+(PUBLIC+obj[i]['avatar'])+'" width="30" alt=""/>';
            }else{
                $hmtl+='<img src="__STATIC__/image/defaultAvatar.png" width="30" alt=""/>';
            }
            $hmtl+='<span clo3>'+obj[i]['nickname']+'&nbsp;</span>';
            $hmtl+='<a href="" class="level level_1 clof" tab="usergroup">';
            $hmtl+='<span>L1</span><em class="size_x" style="">新手上路</em>';
            $hmtl+='</a>';
            $hmtl+='</div>';
            $hmtl+='<div class="clo9 fr topic-c-time font12"> <span>阅读'+ (parseInt(obj[i]['read'])+0)+'</span>';
            $hmtl+='&nbsp;<span>评论'+ (parseInt(obj[i]['comments'])+0)+'</span></div>';
            $hmtl+='</div>';
            $hmtl+='</div>';
            $hmtl+='</div>';
            $hmtl+='</div>';
            $hmtl+='<div class="line10"></div>';
        }
        return $hmtl;
    }
</script>
</body>
</html>