<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔堂--{$info.title}</title>
    <include file="Index:wap_js_css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/font-awesome.min.css?version={:version()}"/>
    <style>
        .modifyuser li label {width: 60px;}
    </style>
<body pagename="friends" style="overflow-x:hidden;" class="bodyf" data-cuid="{$cuid}">
<include file="User:uhead"/>

<div style="margin: 50px 0;padding: 0 10px;">
    <div id="content">
        <div id="container" class="box-pad-lg light-bg">
            <if condition="isset($_REQUEST['type']) && $_REQUEST['type'] eq 'sm'">
                <div style="height: 50px;line-height: 50px;text-indent: 10px;" class="font24">{$info.title}<span class="font12 clo9">&nbsp;&nbsp;{$info.createtime}</span></div>
                <div>{$info.message}</div>
                <else/>
                <div style="height: 50px;line-height: 50px;text-indent: 10px;" class="font24">{$info.title}<span class="font12 clo9">&nbsp;&nbsp;{$info.addtime}</span></div>
                <div>{$info.content|htmlspecialchars_decode}</div>
                <!--<p><span class="font14 clo3">阅读：{$info.hits}</span></p>-->
            </if>
        </div>
    </div>
</div>
</body>
</html>
