
<!DOCTYPE html>
<html dir="ltr">
<head>
    <title>名叔堂</title>
    <include file="Index:wap_js_css"/>
</head>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/component.css"/>
<body class="bodyf" >
<div id="page" style="height: auto; overflow: visible; width: 95%;margin: 0 auto ">
    <include file="Index:head"/>
    <div id="signupOverlay" class="absolute" >
        <div class="topic-itme" style="margin-top: 50px;">
            <if condition="$plan['uid']">
                <div class="topic_u_info">
                    <div class="fl">
                        <img src="__STATIC__/image/defaultAvatar.png" width="40" alt=""/>
                        <span clo3>{$plan.nickname}</span>
                    </div>
                    <div class="clo9 fr topic-c-time">{:timeTran($plan['createtime'])}</div>
                    <div class="clr"></div>
                </div>
                <div class="topic_tit clo3 font16 fontb">{$plan.title}</div>
            <else/>
                <div class="topic_tit clo3 font16 fontb">{$plan.title}</div>
                <div class="clo9  topic-c-time">{:timeTran($plan['createtime'])}</div>
            </if>

            <div class="topic_content font14">
                {$plan.contentcn|htmlspecialchars_decode}
            </div>
        </div>
        <div style="border: 1px dashed #cccccc"></div>
    </div>
</div>
</body>
</html>