<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Robots" content="noindex,nofollow,noarchive" />
    <title>名叔馆</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="__STATIC__/common/css/common.css?version={:version()}"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/common/css/idealforms.css?version={:version()}"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/common/css/animation.css?version={:version()}"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/wap.css?version={:version()}"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version()}"/>

    <script type="text/javascript" src="__STATIC__/common/js/jquery.2.2.1.min.js?version={:version()}"></script>
    <script type="text/javascript" src="__STATIC__/common/js/jquery.idealforms.js?version={:version()}"></script>
    <script type="text/javascript" src="__STATIC__/common/js/common.js?version={:version()}"></script>
    <script type="text/javascript" src="__STATIC__/page/js/wap.js?version={:version()}"></script>
    <style>
        span.back:before{ height: 15px;width: 15px;display: block;border: 3px solid #fff;border-right-width: 0;border-bottom-width: 0;transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);-o-transform: rotate(-45deg); -ms-transform: rotate(-45deg);position: absolute;top: 16px; left: 5px;}
        span.menu:before {content: '';height: 4px;width: 30px;background: #fff;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;display: block;position: absolute;top: 13px; left: 7px; box-shadow: 0 12px #fff, 0 24px #fff; -webkit-box-shadow: 0 10px #fff, 0 20px #fff;-moz-box-shadow: 0 12px #fff, 0 24px #fff;}
        span.search_sico:before, span.search_sico:after {content: '';height: 10px;display: block;position: absolute;top: 9px;left: 0;}
        span.search_sico:after { width: 4px; height: 10px;background: #ccc;transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); top: 19px; left: 13px;}
        span.search_sico:before {width: 10px;border: 2px #ccc solid; border-radius: 100%; -webkit-border-radius: 100%;-moz-border-radius: 100%;}
    </style>
    <script type="text/javascript">
        var URL="__URL__";
        var PUBLIC = '__PUBLIC__';
        var STATIC = '__STATIC__';
        var UPLOAD = '__UPLOAD__';
        var DOMAIN ="{:C('DOMAIN')}";
    </script>
<body pagename="search" style="overflow-x:hidden;">
<div class="clearfix">
    <ul class="container top-head">
        <li class="fl" onclick="window.history.back(-1)"><span class="back"></span></li>
        <li class="tc fl top-htit relative" id="search">
            <div class="clof font24 tc top_st_row" style="height: 50px;line-height: 50px;width: 100%"><span class="top_st_tit"> <if condition="isset($_REQUEST['type']) &&  $_REQUEST['type'] eq 2">搜索会员<else/>搜索帖子</if></span><span class="down_ico down_f_ico fr relative" style="top: 7px;"></span></div>
            <div class="bodyf absolute searchtypebox hide">
                <div class="borderb-d" data-value="1">搜索帖子</div>
                <div class="borderb-d" data-value="2" >搜索会员</div>
            </div>
        </li>
        <li class="fr" onclick="openside();"><span class="menu fr"></span></li>
    </ul>
    <div class="clr"></div>
</div>
<php>$user = Common\Model\UserModel::getUser();$currentuid=$user['uid']</php>
<include file="Index:_side"/>
<div <if condition="isset($_REQUEST['type']) && $_REQUEST['type'] eq 2"> class="user_box"<else/> class="user_box hide"</if>>
    <form action="/index/infolist.html" class="container" id="usersearchform">
        <input type="hidden" value="2" name="type">
        <div class="form-group">
            <div>城市&nbsp;&nbsp;</div>
            <div class="idealforms_select fl" style="width:50%;min-width: 100px;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="proivce">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu">
                    <li data-value="0">请选择省</li>
                    <volist name="priovce" id="vo">
                        <li data-value="{$vo.aid}">{$vo.name}</li>
                    </volist>
                </ul>
            </div>
            <div class="idealforms_select fl" style="width:50%;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="city">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu">
                    <li data-value="0">请选择城市</li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>

        <div class="form-group">
            <div>婚姻状况</div>
            <div class="idealforms_select fl tc" style="width:100%;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="marriage">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu tc">
                    <li data-value="">不限</li>
                    <li data-value="未婚">未婚</li>
                    <li data-value="离异">离异</li>
                    <li data-value="丧偶">丧偶</li>
                    <li data-value="非单身">非单身</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div>月收入</div>
            <div class="idealforms_select fl tc" style="width:100%;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="income">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu tc">
                    <li data-value="">不限</li>
                    <li data-value="3000元以下">3000元以下</li>
                    <li data-value="3001元-5000元">3001元-5000元</li>
                    <li data-value="5001元-8000元">5001元-8000元</li>
                    <li data-value="8001元-12000元">8001元-12000元</li>
                    <li data-value="12001元-20000元">12001元-20000元</li>
                    <li data-value="20001元-50000元">20001元-50000元</li>
                    <li data-value="50001元以上">50001元以上</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div>身高</div>
            <div class="idealforms_select fl" style="width:50%;min-width: 100px;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="height_s">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu tc">
                    <li data-value="">不限</li>
                    <?php
                         for($i=145;$i<210;$i++){
                      ?>
                    <li data-value="{$i}">{$i}cm</li>
                    <?php
                           }
                       ?>
                </ul>
            </div>
            <div class="idealforms_select fl" style="width:50%;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="height_e">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu tc">
                    <li data-value="">不限</li>
                    <?php
                         for($i=145;$i<210;$i++){
                      ?>
                    <li data-value="{$i}">{$i}cm</li>
                    <?php
                           }
                       ?>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
        <div class="form-group">
            <div>年龄</div>
            <div class="idealforms_select fl" style="width:50%;min-width: 100px;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="age_s">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu">
                    <li data-value="">不限</li>
                    <?php
                         for($i=15;$i<80;$i++){
                    ?>
                    <li data-value="{$i}">{$i}</li>
                    <?php
                           }
                       ?>
                </ul>
            </div>
            <div class="idealforms_select fl" style="width:50%;">
                <div class="idealforms_select_obj">
                    <input type="hidden" value="" name="age_e">
                    <input type="text" value="" readonly>
                    <span class="icaret"></span>
                </div>
                <ul class="idealforms_select_menu">
                    <li data-value="">不限</li>
                    <?php
                       for($i=15;$i<80;$i++){
                    ?>
                    <li data-value="{$i}">{$i}</li>
                    <?php
                           }
                       ?>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
        <div class="form-group tc">
            <br/>
            <div class=" next_btn clof" onclick=" $('#usersearchform').submit();" >搜索</div>
        </div>
    </form>
</div>
<div  <if condition="isset($_REQUEST['type']) && $_REQUEST['type'] eq 2">class="topic_box hide"<else/> class="topic_box "</if> >
    <form class="container formSearch bodyg relative " id="formSearch" name="formSearch" method="get" action="/index/infolist.html" >
        <input type="hidden"  name="type" value="{$_REQUEST['type']}"/>
        <input type="search" results="s" class="input_keywrod" name="keyword" placeholder="搜索帖子"/>
        <div class="absolute tc search_tag bodyf"  style="top: 15px;width: 90%;height: 40px;margin-left: 5%;border-radius: 4px;"> <span class="search_sico " style=" left: 50%; margin-left: -20px;"></span><span class="relative cloc " style="top: -36px;left: 23px;">搜索</span></div>
        <input type="submit" value=" " class="hide "/>
    </form>
    <div class="borderg-d"></div>
    <div class="container" style="height: 50px;line-height: 50px;">
        <div class="container borderg-d r_title fontb font18">热门搜索</div>
        <ul class="hotsearch ">
            <volist name="gotword" id="vo">
                <li class="tc fl col{:rand(1,7)}">{$vo.name}</li>
            </volist>
        </ul>
    </div>
</div>
<script>
    $("#usersearchform").idealforms();
    $("#searchbox").idealforms();

    $('#usersearchform input[name=proivce]').parents().siblings('.idealforms_select_menu').find('li').click(function(){
        if(parseInt($(this).data('value'))>0){
            checkeSupsort( $(this).data('value'), $('#usersearchform input[name=city]').parents().siblings('.idealforms_select_menu'));
        }
    })

    $('#search .top_st_row').click(function(){
        if($('#search .searchtypebox').hasClass('hide')){
            $('#search .searchtypebox').removeClass('hide')
        }else{
            $('#search .searchtypebox').addClass('hide')
        }
    })
    $('#search .searchtypebox div').click(function(){
        window.location.href='?type='+$(this).data('value');
//        $('#search .searchtypebox').addClass('hide');
//        $('#search .top_st_row .top_st_tit').html($(this).html());
    })

    $('#formSearch .search_tag').click(function(){
        $(this).hide();
        $('#formSearch input[name=keyword]').focus();
    })
    $('#formSearch input[name=keyword]').blur(function(){
        if(!$(this).val()){
            $('#formSearch .search_tag').show();
        }
    });

    $('.hotsearch li').click(function(){
        $('#formSearch .search_tag').hide();
        $('#formSearch input[name=keyword]').val($(this).html());
        $('#formSearch').submit();
    })
</script>
</body>
</html>

