<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>消息编辑</title>
<include file="Index:_js_css" />
<style>
.Msg{ display:none;}
</style>
<script language="javascript">

$(function(){
	$("#MsgType").val('{$db.MsgType}');
	$("#MsgType").change(function(){
		var v=$(this).val();
		$(".Msg").hide();
		$(".Msg-"+v).show();
		if(v=="image" || v=="voice" || v=="video"){ 
			$(".Msg-MediaId").show();
		}else{
			$(".Msg-MediaId").hide();
		}
	}).change();
	 
});</script>
</head>
<body>
<form action="__URL__/editMsg" method="post" name="form1" id="form1">
  <input type="hidden" id="id" name="id" value="{$db.id}" />
  <table border="0" cellspacing="1" cellpadding="3" class="MainTbl">
    <tr class="toolbar">
      <td colspan="2" class="tc">【 查看消息 】</td>
    </tr>
    <tr class="row0">
      <td  class="col1" >发送者：</td>
      <td><input type="text" class="inputText1 w350" readonly="readonly" id="FromUserName" name="FromUserName" maxlength="100" value="{$db.FromUserName}" />  </td>
    </tr>
    <tr class="row0">
      <td  class="col1" >接收者：</td>
      <td><input type="text" class="inputText1 w350" readonly="readonly" id="ToUserName" name="ToUserName" maxlength="100" value="{$db.ToUserName}" />  </td>
    </tr>
    <tr class="row0">
      <td  class="col1" >消息类型：</td>
      <td><select name="MsgType" id="MsgType">  
          <option value="text">文本</option>
          <option value="image">图片</option>
          <option value="voice">语音</option>
          <option value="video">视频</option>
          <option value="location">位置</option>
          <option value="link">链接</option>  
          <option value="event">事件</option>    
        </select>
        <span class="fc_red">* </span></td>
    </tr>
    <tr class="row0">
      <td  class="col1" >消息ID：</td>
      <td><input type="text" class="inputText1 " readonly="readonly" id="MsgId" name="MsgId" maxlength="100" value="{$db.MsgId}" /></td>
    </tr>
    <tr class="row0">
      <td class="col1" >发送时间：</td>
      <td>{$db.CreateTime|time_format}</td>
    </tr>
     <tr class="row0 Msg Msg-text">
      <td class="col1" >内容：</td>
      <td><textarea   class="inputText1 editor1" id="Content" name="Content">{$db.Content}</textarea></td>
    </tr>
    
    <tr class="row0 Msg Msg-MediaId">
      <td class="col1" >媒体Id：</td>
      <td><input type="text"   class="inputText1 " id="MediaId" name="MediaId" value="{$db.MediaId}" /></td>
    </tr>
    
    <tr class="row0 Msg Msg-image">
      <td class="col1" >图片地址：</td>
      <td><input type="text"   class="inputText1 w350 " id="PicUrl" name="PicUrl" value="{$db.PicUrl}" /></td>
    </tr> 
    
    <tr class="row0 Msg Msg-voice">
      <td class="col1" >格式：</td>
      <td><input type="text"   class="inputText1" id="Format" name="Format" value="{$db.Format}" /></td>
    </tr>
    
    <tr class="row0 Msg Msg-video">
      <td class="col1" >缩略图：</td>
      <td><input type="text"   class="inputText1 w350 " id="ThumbMediaId" name="ThumbMediaId" value="{$db.ThumbMediaId}" /></td>
    </tr>
    
    <tr class="row0 Msg Msg-location">
      <td class="col1" >纬度：</td>
      <td><input type="text"   class="inputText1 " id="Location_X" name="Location_X" value="{$db.Location_X}" /></td>
    </tr>
    <tr class="row0 Msg Msg-location">
      <td class="col1" >经度：</td>
      <td><input type="text"   class="inputText1 " id="Location_Y" name="Location_Y" value="{$db.Location_Y}" /></td>
    </tr>
    <tr class="row0 Msg Msg-location">
      <td class="col1" >缩放：</td>
      <td><input type="text"   class="inputText1 " id="Scale" name="Scale" value="{$db.Scale}" /></td>
    </tr>
    <tr class="row0 Msg Msg-location">
      <td class="col1" >位置信息：</td>
      <td><input type="text"   class="inputText1 w350 " id="Label" name="Label" value="{$db.Label}" /></td>
    </tr>
    
    <tr class="row0 Msg Msg-link">
      <td class="col1" >标题：</td>
      <td><input type="text"   class="inputText1 w350 " id="Title" name="Title" value="{$db.Title}" /></td>
    </tr>
    <tr class="row0 Msg Msg-link">
      <td class="col1" >链接：</td>
      <td><input type="text"   class="inputText1 w350 " id="Url" name="Url" value="{$db.Url}" /></td>
    </tr>
    <tr class="row0 Msg Msg-link">
      <td class="col1" >描述：</td>
      <td><input type="text"   class="inputText1 w350 " id="Description" name="Description" value="{$db.Description}" /></td>
    </tr>
    <tr class="row0 Msg Msg-event">
      <td class="col1" >事件：</td>
      <td><input type="text"   class="inputText1 w350 " id="Event" name="Event" value="{$db.Event}" /></td>
    </tr>
    
    <tr class="footer">
      <td colspan="2" class="tc"><input type="submit" class="btn1" value="保存" disabled="disabled" />
        <input type="button" class="btn1" value="返回" onclick="history.back();" /></td>
    </tr>
  </table>
</form>
<include file="Index:footer" />
</body>
</html>