<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>消息列表</title>
<include file="Index:_js_css" />
</head>
<body>
	<form action="" method="get" name="form1" id="form1">
		<input type="hidden" name="status" id="status" value="{:I('status')}" />
		<table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
			<tr>
				<td>关 键 词： <input type="text" class="inputText1" id="keyword"
					name="keyword" value="{$keyword}" /> <select id="searchtype"
					name="searchtype">
						<option value="0">关键词</option> 
				</select> <input type="submit" class="btn1" value="查询" /></td>
			</tr> 
		</table>
	</form>
	<div class="dot"></div>
	<table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
		<tr class="toolbar">
			<td colspan="6" class="tc">【 管理消息 】</td>
		</tr> 
		<tr class="header">
			<td width="50">ID</td>
			<td width="120">发送者</td>
			<td>内容</td>
			<td width="100">类型</td>
			<td width="120">发送时间</td>
			<td width="150">操作</td>
		</tr>
        <?php 
        $now = time();
        ?>
		<volist id="vo" name="list">
		<tr class="row{$i % 2+1}">
			<td><input type="checkbox" name="SelectIDs" value="{$vo.id}" />
				{$vo.id}</td>
			<td>{$vo.FromUserName|cutstring}</td>
			<td>{$vo.Content}&nbsp;</td> 
			<td>{$vo.MsgType}</td>
			<td>{$vo.CreateTime|time_format}</td> 
			<td> 
        <?php 
        $CreateTime = $vo['CreateTime'];
        ?>
         <if condition="($now - $CreateTime)  lt 48*3600" >
         <a href="{:U('Wechat/addMsg','openid='.$vo['FromUserName'])}"class="btnAdd">回复</a> 
         </if>
 
            <a href="{:U('Wechat/editMsg','id='.$vo['id'])}"
				class="btnEdit">查看</a> <a class="btnDel" href="javascript:void(0);"
				onclick="var url='{:U("Wechat/deleteMsg","id=".$vo['id'])}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a></td>
		</tr>
		</volist>
		 
		<tr class="row0">
			<td colspan="8" class="tr"><input type="hidden" value="wechat_msg"
				id="ConstTbl" name="ConstTbl" /> <input type="button" class="btn2"
				value="批量删除" id="AllDel" /> <input type="button" class="btn1"
				value="全选" id="AllCheck" /> <input type="button" class="btn1"
				value="反选" id="ReverseCheck" /></td>
		</tr>
		<tr class="footer">
			<td colspan="8"><div class="page">{$page}</div></td>
		</tr>
	</table>
	<include file="Index:footer" />
</body>
</html>