<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容列表</title>
<include file="Index:_js_css" />
</head>
<body>
	<form action="" method="get" name="form1" id="myform" style="width: 95%;margin: 0 auto;">
        <span  class="fl" >关 键 词：</span>
        <input type="text" class="fl" style="width: 220px;" id="keyword" name="keyword" placeholder="帖子标题、内容、用户名、用户ID等关键字" value="{$_REQUEST['keyword']}"/>
        <span style="margin:0 10px;" class=" fl">类型</span>
        <div class="idealforms_select fl"style="width:125px;">
            <div class="idealforms_select_obj" >
                <input type="hidden" value="" name="type">
                <input type="text" value="" readonly>
                <span class="icaret"></span>
            </div>
            <ul class="idealforms_select_menu">
                <li data-value="">请选择</li>
                <li data-value="1">帖子</li>
                <li data-value="3" >富豪包养</li>
            </ul>
        </div>
        <span style="margin-left: 10px;" class="fl">状态:&nbsp;</span>
        <ul style="margin:0" >
            <li><label for="radio11" class="fontn clo3"><input type="radio" id="radio11" name="status" value=""/>全部</label></li>
            <li><label for="radio12" class="fontn clo3"><input type="radio" id="radio12" name="status" value="1"/>启用</label></li>
            <li><label for="radio13" class="fontn clo3"><input type="radio" id="radio13" name="status"  value="-1" />禁用</label></li>
        </ul>
        <input type="submit" class="sure_btn" value="查询"  />
	</form>
	<div class="dot"></div>
	<table border="0" class="mytables" style="width: 95%;margin: 0 auto">
		<tr class="toolbar">
			<td colspan="7" class="tc">【 管理内容 】</td>
		</tr>
		<tr class="row0 hide">
			<td colspan="7"><a href="{:U('Admin/Cms/addContent')}"
				class="btnAdd">添加</a></td>
		</tr>
		<tr class="header">
			<th width="60">ID</th>
            <th width="70">用户</th>
            <th width="100">分类</th>
            <th width="100">类型</th>
			<th>标题</th>
			<th width="70">排序</th>
			<th width="50">推荐</th>
			<th width="50">状态</th>
			<th width="110">操作</th>
		</tr>
		<volist id="vo" name="list">
		<tr class="row{$i % 2+1}" data="{$vo.indexpic}">
			<td>{$vo.tid}</td>
			<td>{$vo.nickname}</td>
			<td>{:getClubnameByCid($vo['cid'])}</td>
			<td><if condition="$vo['type'] eq 1">帖子<else/>悬赏</if></td>
			<td>{$vo.title}</td>
			<td><input name="Item_1" onchange="setVal('topic','rank','{$vo.tid}',$(this).val())"
				class="inputText1 numeric w50" value="{$vo.rank}" />
            </td>
			<td>
                <if condition="($vo.recommend eq 1)">
                    <a href="javascript:void(0);" onclick="setVal('topic','recommend','{$vo.tid}',0)" class="red">推荐</a>
				<else />
                    <a href="javascript:void(0);" onclick="setVal('topic','recommend','{$vo.tid}',1)">未推荐</a>
                </if>
            </td>
			<td>
                <if condition="($vo.status eq 1)">
                    <a href="javascript:void(0);" onclick="setVal('topic','status','{$vo.tid}',-1,this,'禁用')"  class="fc_red">启用</a>
                <else />
				    <a href="javascript:void(0);" onclick="setVal('topic','status','{$vo.tid}',1,this,'启用')">禁用</a>
                </if>
            </td>
			<td>
                <a href="/admin/cms/topicinfo.html?tid={$vo['tid']}" >修改</a>&nbsp;&nbsp;
                <!--<a  href="javascript:void(0);" onclick="if(confirm('您确定删除该记录吗？'))location='/admin/Cms/delContent.html?id={$vo.id}';">删除</a>-->
            </td>
		</tr>
		</volist>

		<!--<tr align="right">-->
			<!--<td colspan="6"> <a href="/admin/cms/topicinfo.html" type="button" class="btn btn-default" >添加</a></td>-->
		<!--</tr>-->
		<tr class="footer">
			<td colspan="8"><div class="page">{$page}</div></td>
		</tr>
	</table>
	<include file="Index:footer" />
<script language="javascript" type="text/javascript">
$(function(){
    $("#myform").idealforms();
    setRadioCheck('#myform input[name=status]',"{$_REQUEST['status']}");
    setSelectSelected('#myform input[name=type]',"{$_REQUEST['type']}");
    $('.idealform .idealradio .radio, .idealform .idealcheck .radio').css({'top':'0'});
});
</script>
</body>
</html>