<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔馆&reg; | 忘记密码</title>
    <include file="Index:_js_css"/>
    <style>
        .col-centered {float: none;margin: 20px auto 120px; background: #f6f8f8;  min-width: 260px; height: auto;padding: 50px 60px; border-radius: 3px;box-shadow: 0 12px 15px 0 rgba(0,0,0,.3); }
        .main-header .menu-nav-section .public-nav li a{font-size: 14px;;}
        .landing-footer-section{ border-top: 1px solid #eee; padding: 20px 20px 50px; bottom: 0; height: 100px; width: 100%;}
        .landing-footer-section span, .landing-footer-section .copyright-section p a , .landing-footer-section .footer-navs li a{font-size: 12px; font-family: Helvetica,Arial,sans-serif; font-weight: 100;color: #454545; margin-bottom: 8px;}
    </style>
</head>
<body class="lang-zh_SG country-CN date-06-03 ">
<header class="navbar navbar-default main-header public-pages">
    <div class="menu-nav-section pull-right">
        <div class="navbar-collapse" id="main-public-nav">
            <ul class="nav navbar-nav public-nav pull-left">
                <li class="pull-left"><a href="/" title="首页">首页</a></li>
                <li class="pull-left"><a href="/login/register.html" class="footerRegLink" title="注册">注册</a></li>
                <li class="pull-left"><a href="/login/index.html" title="登录">登录</a></li>
                <li class="pull-left"><a href="/index/newinfo.html?id=3" title="常见问题">常见问题</a></li>
                <li class="pull-left"><a href="/index/newinfo.html?id=1" rel="nofollow" title="联络我们">联络我们</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="main-content container">
    <div id="content" >
        <div class="content">
            <div class="col-centered  col-centered col-xs-5 login-extra-padding">
                <h1 class="text-center">忘记密码？</h1>
                <form role="form" onsubmit="return false;" name="lost-pass-form" class="forgotpwd-form">
                    <div class="form-group pure-g">
                        <label class="form_label">电邮地址</label>
                        <br/>
                        <input type="text" name="email" value="" size="35" class="amFormInputHilite" style="width:266px;margin: 10px 0;"	 >
                        <br/>
                        <div id="msgError" class="error-text red hidden">您必须输入一个有效的地址。</div>
                        <button id="btnSend" type="submit" onclick="findpwd();" style="width:266px;" class="btn btn-primary wide-btn">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
<script>
    window.subBlock = false;
   function findpwd(){
       if(subBlock){
           return false;
       }
       var email = $('.forgotpwd-form input[name=email]').val();
       if(!regex(email,'email')){
           $('#msgError').removeClass('hidden');
           subBlock = false;
           return false;
       }
       subBlock = true;
       $.post('/login/findpwdAction.html',{email:email},function(data){
           subBlock = false;
           if(data.code == 200){
               window.location.href = '/login/index.html';
           }else{
               clearpopj(data.message, "error",true);
           }
       })
   }
</script>
</body>
</html>
