<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱大叔--登录</title>
    <include file="Index:_js_css" />
</head>
<body style="background: url('__STATIC__/image/page/home/loginbg.jpg') #e1e1e1 ">
<div class="container">
    <div class="row clearfix absolute"  style="width: 300px;height: 300px;left: 50%; top: 20%;margin: 0px 0 0 -170px;; background: #FFffff;border: 1px solid #CCCABA">
        <form role="form" onsubmit="return false;" style="width: 250px;margin: 0 auto; ">
            <div class="form-group" style="margin-top: 15px;">
                <label class="font24 clo6">账号登录</label>
            </div>
            <div class="form-group">
               <input type="text" name="username" class="form-control" placeholder="用户名" />
            </div>
            <div class="form-group">
                <input type="password" name="userpwd" class="form-control"  placeholder="密码" />
            </div>
            <div class="form-group">
                <input type="text"  placeholder="验证码"  class="form-control" name="verify" style="width: 120px;" maxlength="6"  />

                <img class="fr relative" style="cursor:pointer; top: -34px; width:100px; height:34px;" title="看不清楚?换一张!" alt="" onclick="this.src='/home/index/verify.html?random='+Math.random()" src="/home/index/verify.html" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" style="position: relative;top: 2px;" name="autologin" />记住登录</label>
                <span class="fr borderb-d font12 cloc"><a href="/login/register.html">去注册！</a></span>
                <div class="clr"></div>
            </div>
            <button type="submit" class="btn clof btn-blue" onclick="login();">登录</button>

        </form>
    </div>
</div>
<script>
    function login(){
        var username =$.trim($("form input[name=username]").val());
        var pwd =$.trim($("form input[name=userpwd]").val());
        var verify =$.trim($("form input[name=verify]").val());
        if(username==""){
            clearpop('账号不能为空');
            $("form input[name=username]").focus();
            return false;
        }
        if(pwd==""){
            clearpop('密码不能为空');
            $("form input[name=userpwd]").focus();
            return false;
        }
        if(verify==""){
            clearpop('验证码不能为空');
            $("form input[name=verify]").focus();
            return false;
        }
        $.post('/home/login/login.html',{username:username,password:pwd,verify:verify},function(data){
            if(data.code==200){
                clearpop(data.message,'',data.data);
            }else{
                clearpop(data.message);
            }
        })
    }
</script>
</body>
</html>
