<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/idealforms.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/common.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/animation.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/admin.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/style.css?version={:version()}"/>

<script type="text/javascript" src="__STATIC__/common/js/jquery.2.2.1.min.js?version={:version(2)}"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.idealforms.js?version={:version()}"></script>
<script type="text/javascript" src="__STATIC__/common/js/common.js?version={:version()}"></script>
<script type="text/javascript" src="__STATIC__/page/js/admin.js?version={:version()}"></script>

<script type="text/javascript">
    var URL="__URL__";
    var APP_PATH="__APP__";
    var PUBLIC = '__PUBLIC__';
    var STATIC = '__STATIC__';
    var UPLOAD = '__UPLOAD__';
    var DOMAIN ="{:C('DOMAIN')}";
</script>

