<script>
var APP_PATH="__APP__";
var CONST_PUBLIC="__PUBLIC__";
var CONST_UPLOAD="{:U('Admin/File/upload')}";
</script>
<js href="__PUBLIC__/js/jquery.2.2.1.min.js,__PUBLIC__/Admin/js/jquery.page.js,__PUBLIC__/Admin/js/jquery.lhgcalendar.min.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/js/sweetalert.min.js?1,__PUBLIC__/js/jquery.idealforms.js?1,__PUBLIC__/js/common.js?{:version()},__PUBLIC__/Admin/js/admin.js?{:version()}" />
<css href="__PUBLIC__/Admin/images/style.css?{:version()},__PUBLIC__/css/sweetalert.css,__PUBLIC__/css/idealforms.css?1,__PUBLIC__/css/common.css?{:version()},__PUBLIC__/Admin/css/admin.css?{:version()}" />

<script>
    if(document.getElementById("telephone")){
        document.getElementById("telephone").onkeyup =function() {
            this.value =this.value.replace(/\s/g,'').replace(/(\d{4})(?=\d)/g,"$1-");;
        };
    }
</script>