<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>名叔堂--后台管理</title>
<include file="Index:_js_css" />
<style>
html {
	overflow: hidden;
}
</style>
</head>
<body class="MainBody">
	<div id="Header">
		<div class="topBar">
			<span class="fl">
                <a href="./"><span style="font-size: 35px;">名叔堂</span></a>
            </span>
            <span class="fr" style="padding:6px 20px 0px 40px; background:url(__STATIC__/image/page/admin/home.gif) no-repeat left 6px;">
                <a href="/" style="display: inline-block" target="_blank">网站首页</a>
            </span>
		</div>
		<div class="location">
			<span class="fl" id="Location"></span>
            <span class="fr">
            <!--<a href="javascript:void(0);" id="ClrCache">更新缓存</a> -->
            当前用户：{:Session('adminname')} <a href="javascript:void(0);" onclick="var url='{:U('Admin/Login/logout')}';if(confirm('您确定要退出登录吗？')){location=url;};" class="fc_red">安全退出</a>&nbsp;<a href="javascript:showUpPwdBox();">【修改密码】</a>
        </span>
		</div>
	</div>
	<div id="Lefter">
		<div id="LeftMenu">
			<ul>
				<volist id="vo" name="list"> <if
					condition="($supper eq true) Or ($vo.access eq 1)">
				<li><span>{$vo.title}</span>
					<ul>
						<volist id="son" name="vo.child"> 
						<if condition="($supper eq true) Or ($son.access eq 1)">
						<li><a href="{:isN($son['url'])?U($vo['name'].'/'.$son['name']):U($son['url'])}">{$son.title}</a></li>  </if> </volist>
					</ul></li>
				</if> </volist>
			</ul>
			<div class="copyright">
				版权所有：<a href="http://www.mingshut.com" target="_blank">名叔堂</a>
			</div>
		</div>
	</div>
	<div id="Spliter" class="spliterLeft"></div>
	<div id="Righter">
		<div class="container">
			<iframe src="{:U('Index/index?sys=1')}" width="100%" height="100%" frameborder="0"
				class="MainFrame" id="MainFrame" name="MainFrame"></iframe>
		</div>
	</div>
    <form onsubmit="return false" id="upPwdBox" style="display: none">
        <input type="text" style="width: 300px" placeholder="请输入原始密码" name="oldpwd"/><br/><br/>
        <input type="text" style="width: 300px" placeholder="请输入新密码" name="pwd"/><br/>
        <p>
            <input type="button" class="sure_btn" onclick="upPwd()"  value="修改"/>
            <input type="button" class="cancel_btn" onclick="closeMask();"  value="取消"/>
        </p>
    </form>
<script>
    function showUpPwdBox(){
        $("#upPwdBox").idealforms();
        getMask().maskShow({"tit": "修改密码","width":350, "cont": "#upPwdBox"});
    }

    function upPwd(){
        var old = $('#upPwdBox input[name=oldpwd]').val(),pwd = $('#upPwdBox input[name=pwd]').val();
        $.post('/admin/login/uppwd',{old:old,pwd:pwd},function(data){
            if(data.code == 200){
                clearpop(data.message, "",'Admin/Login/index');
            }else{
                clearpopj(data.message, "error",true);
                return  false;
            }
        })
    }
</script>
</body>
</html>
