<div class="form-group font20 r_nav_tit">联系方式 <span class="clof">Basic Information</span></div>
<form class="regform" id="contactway" onsubmit="return false;" style="padding-bottom: 50px;">
    <input type="hidden" name="uid" value="{$user.uid}"/>
    <div style="margin-top: 50px;"></div>
    <div class="form-group">
        <div class="fg-l tr fl">手机号码：</div>
        <div class="fg-r fr"><input type="text" value="{$user.tel}" class="form-control fr" name="tel" /></div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">邮箱：</div>
        <div class="fg-r fr"><input type="text" value="{$user.email}" class="form-control fr" name="email" /></div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">QQ：</div>
        <div class="fg-r fr"><input type="text" value="{$user.qqid}" class="form-control fr" name="qqid" /></div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">微信：</div>
        <div class="fg-r fr"><input type="text" value="{$user.wechat}" class="form-control fr" name="wechat" /></div>
        <div class="clr"></div>
    </div>
    <button type="submit" style="margin-left: 100px;" class=" fl btn clof btn-blue" onclick="contactway();">修改</button>
</form>
<script>
    window.subBlock = false;
    function contactway(){
        if(subBlock){
            return false;
        }
        var $data={
            uid:$("#contactway input[name=uid]").val(),
            email:$("#contactway input[name=email]").val(),
            tel:$("#contactway input[name=tel]").val(),
            qqid:$("#contactway input[name=qqid]").val(),
            wechat:$("#contactway input[name=wechat]").val()
        }
        subBlock = true;//阻塞
        $.post('/home/member/modifyuser.html', $data, function (data) {
            subBlock = false;//解除阻塞
            if (data.code == 200) {
                clearpop(data.message);
            } else {
                clearpop(data.message);
            }
        })
    }
</script>