<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔馆</title>
    <include file="Index:_js_css"/>
</head>
<body>
<include file="Index:bar"/>
    <div class="container ">
        <div class="fl" style="width: 200px;">
            <include file="left" />
        </div>
        <div class="fr" style="width: 980px;border: 1px solid #F1F1F1">
            <ul class="right_top_nav fontb clo3">
                <li onclick="window.location.href='?u=info'" <if condition="(!isset($_REQUEST['u']) || $_REQUEST['u'] eq 'info') and !isset($_REQUEST['f'])"> class="selected"</if> >基本资料</li>
                <li>|</li>
                <li onclick="window.location.href='?u=photo'" <if condition="(isset($_REQUEST['u']) and $_REQUEST['u'] eq 'photo') or isset($_REQUEST['f'])"> class="selected"</if>>照片管理</li>
                <li>|</li>
                <li onclick="window.location.href='?u=chatway'" <if condition="isset($_REQUEST['u']) && $_REQUEST['u'] eq 'chatway'"> class="selected"</if>>联系方式</li>
                <!--<li>|</li>-->
                <!--<li>隐私设置</li>-->
            </ul>
            <div class="clr"></div>
            <div class="content">
                <if condition="isset($_REQUEST['u']) and $_REQUEST['u'] eq 'chatway'">
                    <div id="contactways">
                        <include file="Member:contactway"/>
                    </div>
                </if>
                <if condition="(isset($_REQUEST['u']) and $_REQUEST['u'] eq 'photo') or isset($_REQUEST['f'])">
                    <div id="photos">
                        <include file="Member:photo"/>
                    </div>
                </if>
                <if condition="(!isset($_REQUEST['u']) and !isset($_REQUEST['f'])) or $_REQUEST['u'] eq 'info'">
                    <div id="myinfos">
                        <include file="Member:info"/>
                    </div>
                </if>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</body>
</html>
