<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔馆</title>
    <include file="Index:_js_css"/>
</head>
<body>
<include file="Index:bar"/>
<div class="container ">
    <div class="fl" style="width: 200px;">
        <include file="left" />
    </div>
    <div class="fr" style="width: 980px;border: 1px solid #F1F1F1">
        <ul class="right_top_nav fontb clo3">
            <li onclick="window.location.href='?tp=post'" <if condition="(!isset($_REQUEST['tp']) || $_REQUEST['tp'] eq 'post') and !isset($_REQUEST['f']) and !isset($_REQUEST['u'])"> class="selected"</if> >发帖子</li>
            <li>|</li>
            <li onclick="window.location.href='?tp=topic'" <if condition="(isset($_REQUEST['tp']) and $_REQUEST['tp'] eq 'topic')"> class="selected"</if>>我的帖子</li>
        </ul>
        <div class="clr"></div>
        <div class="content">
            <if condition="(isset($_REQUEST['tp']) and $_REQUEST['tp'] eq 'topic')">
                <div id="topic">
                    <include file="Member:_topic"/>
                </div>
            </if>

            <if condition="!isset($_REQUEST['tp']) or $_REQUEST['tp'] eq 'post'">
                <div id="posttopic">
                    <div class="form-group font20 r_nav_tit fontb" >帖子编辑 <span class="clof">Post editor</span></div>
                    <form role="form" class="regform" id="myform" onsubmit="return false;" style="padding-bottom: 50px;">
                        <input type="hidden" name="tid" value="{$topic.tid}"/>
                        <div class="form-group">
                            <div class="fg-l tr fl">分类：</div>
                            <div class="fg-r fr">
                                <select name="cid" style="width: 100px;">
                                    <option value="">请选择</option>
                                    <volist name="club" id="vo">
                                        <option value="{$vo.cid}" <if condition="$topic['cid'] eq $vo['cid']">selected</if>>{$vo.clubname}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="form-group">
                            <div class="fg-l tr fl">标题：</div>
                            <div class="fg-r fr"><input type="text" name="title" style="width: 670px;" value="{$topic.title}" class="form-control fl" /></div>
                            <div class="clr"></div>
                        </div>
                        <div class="form-group" >
                            <div class="fg-l tr fl">详情：</div>
                            <div class="fg-r fr">
                                <textarea name="message"  id="contentcn">{$topic.message}</textarea>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <button type="submit" style="margin-left: 100px;" class=" fl btn clof btn-success " onclick="subPost();">立即提交</button>
                    </form>
                </div>
            </if>
        </div>
    </div>
    <div class="clr"></div>
</div>
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/upload.js?{:version()}"></script>
<script>
    upload.prototype.createContent("#contentcn",'pyplan',670);
    function subPost(){
        var cid = $('#posttopic select[name=cid]').val();
        var tid = $('#posttopic input[name=tid]').val();
        var title = $('#posttopic input[name=title]').val();
        var message = $('#posttopic textarea[name=message]').val();
        if(!cid){
            clearpop("请选择分类！");
            return false;
        }
        if(!title){
            clearpop("请填写分类！");
            return false;
        }
        if(!message){
            clearpop("请填写内容！");
            return false;
        }
        $.post('/member/subPost.html',{cid:cid,tid:tid,title:title,message:message},function(data){
            if(data.code == 200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }
</script>
</body>
</html>
