
/*弹出可拖拽的功能型遮罩层*/
.maskWrap{position:fixed;z-index:10000;top:0;left:0;width:100%;background:#000;filter:alpha(opacity=00);-moz-opacity:0.00;opacity:0.00}
.homepop{position:absolute;z-index:10001;min-height:150px;background:#fff;display:none}
.move{padding-left:15px;border-bottom: 1px solid #E0E0E0; cursor:move;text-align:left;font-size:16px;color:#212121;font-weight:bold;margin-top: 15px;padding-bottom: 12px;}
.move a{float:right;color:#757575;padding-right:15px;cursor:pointer}
.move a:hover{color: red}
.inside{padding:16px;}

/*遮罩弹出框*/
.fullbg{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;background:#000;filter:Alpha(Opacity=60);-moz-opacity:0.6;opacity:0.7}
.pop{position:fixed;left:5%;width:90%;top:15%;z-index:101;border:1px solid #666;border-radius:5px;background:#FFF}

/*拖拽*/
.drag_module_box {position:relative;display:block;width:100%;height:auto;text-align:center}/*包含框*/
.drag_module_box2{position:relative;display:block;width:100%;max-height:465px;overflow-x:hidden;overflow-y:auto;text-align:center}/*包含框*/
.drag_module_main,.drag_module_main2{cursor:pointer}/*普通一共元素*/
.drag_module_maindash{position:absolute;display:table;width:100%;border:1px dotted black;z-index:22;background:#EEE}/*被拖拽对象*/
.drag_module_maindash td{border-bottom:1px dotted #000000;border-right:1px dotted #ccc;position:relative}
.drag_module_dash{line-height:28px;position:static;border:1px solid green}/*临时填充对象*/
.haulingBtn{}/*拖拽触发对象*/

/*自动消失的提示框*/
#clearpop{position:fixed;left:10%;right:10%;bottom:65%;z-index:999;text-align:center}
#clearpop p{display:inline-block;min-width:100px;max-width:90%;padding: 10px 20px;font-size:16px;font-weight:bold;line-height:22px;border-radius:4px;background:#333;color:#fff;opacity:0.7}
@media screen and (max-height:685px){
    #clearpop p{padding:5px 10px;font-size:14px;line-height:18px;opacity:0.7}
}

/**************************************************/


@charset "utf-8";
hr{height: 1px;width: 100%}
.hide{display: none}
.container{width:100%; margin:0 auto;}
.bg_white{background: #FFffff}
.page_title{ font-size: 18px; font-weight: bold;color: #333333;padding: 5px 0 5px 30px;}
.tab_box{height: 40px;line-height: 40px;padding: 0 0 0 30px;border-bottom: 1px solid #EEEEEE}
.tab_box li{margin-right: 35px;font-size: 16px;color: #333333;font-weight: bold;cursor: pointer}
.tab_box li.onselect{border-bottom: 3px solid #108ee9;line-height: 37px;}
input.input_text150{width: 150px;}
input.input_text3{width: 105px;}
input.input_text4{width: 80px;}
input.input_text1{width: 747px}
input.input_text2, textarea.textarea_text2{width: 308px}
.rtop5{position: relative;top: 5px;}
.rtop2{position: relative;top: 2px;}
.rtop8{position: relative;top: 8px;}

/****************************table*****************************/
.mytables{ font-size:14px;color: #333333 table-layout:fixed;empty-cells:show; border-collapse: collapse;border: 1px solid #EEEEEE}
.mytables td{ height:47px;}
.mytables tr:hover{background:#e7f4fd }
.mytables th {background: #f8f8f8;background-repeat:repeat-x;height:40px; }
.mytables td,.mytables th{border:1px solid #EEEEEE; }

/******************************添加商品***************************/
#goods_box{ margin:15px 0 0 0;}
#goods_box td{ height:34px; line-height: 35px;padding: 0;margin:0}
.contentform{margin-top: 5px;padding: 0}
.contentform .idealselect li{width: 313px;}
.goods_status_sel .idealselect li{width: 85px;}
.contentform .idealselect li ul,.contentform .idealselect li ul li{float: none}
.contentform textarea.textarea_text2{height: 70px;resize: none}
.contentform table tr,.contentform table tr td{padding-top: 12px;}
.language_tab{font-size: 14px;}
.language_tab ul li{font-size: 14px;padding: 0 15px;}
#picform .indexpic{width: 200px; height: 200px; border:1px solid #EEEEEE }
#picform .mytables td {height: 92px;}
#picform .mytables td img {width: 74px; height: 74px; border: 1px solid #EEEEEE}
#picform .mytables td a {color: #108ee9}

/**************************产地**************************************/
#origin_form  .idealselect ,#origin_form  .idealselect li{width: 100px; padding-left: 2px;}
#origin_form label{width: 60px;}
#origin_form input.input_text2{width: 300px}
/******************************折扣优惠*******************************************/
#discount_box .idealselect {width: 305px;}
#discount_box .idealselect li{width: 307px;}
.discount_table th,.discount_table td{padding: 0}
.js_edittable:focus{background: #F1F1F1;}

.height35 tr,.height35 td{height: 35px;}
/***************order*************************/
.panle_itme{width: 90%;margin: 0 auto; margin-top: 10px;}
.panle_itme tr,.panle_itme td{height: 25px;font-size: 14px}
.panel_title{font-size: 16px;font-weight: bold;width: 100%;padding-left: 30px;border-bottom: 1px solid #EEEEEE}
.panel_title span{font-size: 12px;font-weight: normal}
.usera_panle{border: 1px solid #EEEEEE;}
.usera_panle td{width: 33%}
.showmore{width: 100%; height: 35px; line-height: 35px; font-size: 12px;color: #999999;cursor: pointer}
.order_panle{border: none;margin: 12px 0 0 24px;}
.order_panle .address span{width: 75px;display: inline-block}
.order_panle .address input{width: 96%;max-width: 888px}
.order_panle .info span{width: 75px;display: inline-block}
.order_panle .info textarea{width:75%;max-width: 400px; height: 100px;resize: none}
.order_panle .in_info span{width: 75px;display: inline-block}
.order_panle .in_info textarea{width:90%;max-width: 888px;height: 80px;resize: none}
/*.order_panle .textarea2{height: 100px;width: 400px; border: 1px solid #EEEEEE;resize: none}*/
/*.order_panle .textarea1{height: 80px;border: 1px solid #EEEEEE;resize: none}*/

























