/*home*/
.home_ico span{height:40px; width:40px; display:block; position:relative;}
.home_ico .home_ico1{width:40px; height:40px; display:block;left: 12px;}
.home_ico .home_ico1:before{content:''; height:0px; width:0px; display:block; position:absolute; top:12px; left:6px; border:14px solid transparent;border-top:0; transform:scale(1,0.8);-webkit-transform:scale(1,0.8);-moz-transform:scale(1,0.8);-o-transform:scale(1,0.8);-ms-transform:scale(1,0.8);}
.home_ico .home_b_ico1:before{  border-bottom-color:#333; }
.home_ico .home_r_ico1:before{ border-bottom-color: #900 ;}
.home_ico .home_ico1:after{content:''; height:12px; width:26px; display:block; position:absolute; top:24px; left:7px; border:8px solid; border-top-width:4px; border-bottom:0;}
.home_ico .home_b_ico1:after{ border-color: #333;}
.home_ico .home_r_ico1:after{ border-color: #900 ;}
.home_b_ico2:before{ background:#333;}
.home_r_ico2:before{  background:#900;}
.home_ico .home_ico2:before{content:''; height:10px; width:5px; display:block; position:absolute; top:6px; left:8px;}
.home_b_ico2:after{border-right:5px #333 solid; border-top:5px #333 solid;}
.home_r_ico2:after{border-top:5px #900 solid;border-right:5px #900 solid;}
.home_ico .home_ico2:after{content:''; height:24px; width:23px;  position:absolute; top:6px; left:9px; transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);}

/*mues*/
span.menu{height:40px; width:40px; display:block; position:relative;}
span.menu{width:35px; height:40px;left: 5px;margin-right: 10px;}
span.menu:before{content:''; height:6px; width:35px; background:#fff; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; display:block; position:absolute; top:10px; left:0; box-shadow:0 12px #fff, 0 24px #fff;-webkit-box-shadow:0 12px #fff, 0 24px #fff;-moz-box-shadow:0 12px #fff, 0 24px #fff;}

/*back&left*/
span.back{height:40px; width:40px; display:block; position:relative;}
span.back{overflow:hidden; width:25px;}
span.back:before{content:''; height:20px; width:20px; display:block; border:5px solid #fff; border-right-width:0; border-bottom-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); position:absolute; top:15px; left:5px;}

/*right_ico*/
span.right_ico{height:40px; width:40px; display:block; position:relative;}
span.right_ico{overflow:hidden; width:25px;}
span.right_ico:before{content:''; height:15px; width:15px; display:block; border:3px solid #EEEEEE ; border-left-width:0; border-top-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); position:absolute; top:12px; right:7px;}
/*down_ico*/
span.down_ico{height:40px; width:40px; display:block; position:relative;}
span.down_ico{overflow:hidden; height:25px;}
span.down_f_ico{border-color: #fff;}
span.bcol:before{border-color: #cccccc;}
span.down_ico:before{content:''; height:15px; width:15px; display:block; border:3px solid ; border-right-width:0; border-top-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); position:absolute; bottom:3px; left:20px;}


/*del x*/
span.del_ico{height:40px; width:40px; display:block; position:relative;}
span.del_ico{border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; border:2px solid #333; width:28px; height:28px; }
span.del_red_ico{ border-color: red;}
span.del_ico:before, span.del_ico:after{content:''; height:3px; width:21px; display:block; background:#333; border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; position:absolute; top:10.5px; left:1.5px; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
span.del_red_ico:before, span.del_red_ico:after{background:red;}
span.del_ico:after{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/*search-ico */
span.search_ico{height:40px; width:40px; display:block; position:relative;}
span.search_ico_1{position:relative;}
span.search_ico_1:before, span.search_ico_1:after{content:''; height:20px; display:block; position:absolute; top:10px; left:0; }
span.search_ico_1:before{width:20px; border:3px #fff solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}
span.search_ico_1:after{width:5px;height: 15px; background:#fff; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:27px; left:22px;}
span.search_ico_2{position:absolute; top:15px; left:4px}
span.search_ico_2:before{content:''; border-top: 2px solid #fff; width:12px;height: 12px; display:block;  border-radius:20px;-webkit-border-radius:10px;-moz-border-radius:10px; position:absolute; top:-2px; left:2px;transform: rotate(-106deg);}
/*search-ico */
span.search_sico{height:40px; width:30px; display:block; position:relative;}
span.search_sico:before, span.search_sico:after{content:''; height:15px; display:block; position:absolute; top:8px; left:0; }
span.search_sico:before{width:15px; border:2px #ccc solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}
span.search_sico:after{width:4px;height: 10px; background:#ccc; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:19px; left:15px;}
/* add-ico*/
span.add_ico{height:40px; width:40px; display:block; position:relative;}
span.add_ico{border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; background:#333;}
span.add_ico:before, span.add_ico:after{content:''; height:6px; width:28px; display:block; background:#fff; border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; position:absolute; top:17px; left:6px;}
span.add_ico:after{height:28px; width:6px; top:6px; left:17px;}
/* locate_ioc*/
span.locate_ioc{height:40px; width:40px; display:block; position:relative;}
span.locate_ioc{width:22px;}
span.locate_ioc:before{content:''; height:12px; width:12px; border:5px solid #333; display:block; position:absolute; top:2px; left:0px; z-index:1; background:#fff; line-height:26px; border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px; color:#fff; text-align:center;}
span.locate_ioc:after{content:''; height:0px; width:0px; display:block; position:absolute; bottom:15px; left:1px; border:10px transparent solid; border-top-color:#333; border-width:15px 5px 0px 5px; }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../font/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../font/MaterialIcons-Regular.woff) format('woff'),
    url(../../font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.icon-text {
    vertical-align: middle;
    display: inline-block;
}