
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="description" content="名叔馆">
<meta name="keywords" content="名叔馆">
<meta property="og:title" content="名叔馆">
<meta property="og:description" content="名叔馆">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.adsvip.cn/">
<meta name="copyright" content="名叔馆. 2013-2017">
<meta name="type" content="adsvip.com">
<meta name="robots" content="index,follow">
<meta name="distribution" content="global">

<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/sweetalert.css"/>
<script type="text/javascript" src="__STATIC__/common/js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/site-public.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/common.css?version={:version()}"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/home.css?version={:version(2)}"/>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/cent-ie7.css"/>
<![endif]-->
<script type="text/javascript" src="__STATIC__/common/js/jquery.2.2.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.browser.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.cookies.2.2.0.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="__STATIC__/page/js/home.js"></script>
<script type="text/javascript">
    var URL="__URL__";
    var APP_PATH="__APP__";
    var PUBLIC = '__PUBLIC__';
    var STATIC = '__STATIC__';
    var UPLOAD = '__UPLOAD__';
    var DOMAIN ="{:C('DOMAIN')}";
</script>

