<php>$user = Common\Model\UserModel::getUser();$currentuid=$user['uid'];</php>
<header class="navbar public-pages" style="min-height: 35px;margin: 0">
    <div class="topbar navbar-default" style="border-bottom:#e7e7e7;">会员等级: <span class="fontb clo6">访客会员</span><span class="fr"><a href="/index/newinfo.html?id=5">说明</a>&nbsp;&nbsp;&nbsp;<a>登出</a>&nbsp;&nbsp;</span><div class="clr"></div></div>
    <div class="collapse maincontainer navbar-collapse ">
        <a href="/">
            <span class="fontb clo6" style="font-size: 50px;line-height: 65px;">名叔馆</span>
        </a>
    </div>
</header>
<header class="navbar navbar-default main-header public-pages" style="min-height: 40px;">
    <div class="maincontainer main-nav">
        <ul id="menu" class="menu  text-center white">
            <li class="menuItem"><a class="box-hpad box-pad-t inline selected" id="nav-search" target="main" href="https://www.ashleymadison.com/app/private/member/search/autosearch.p?"><span>搜寻</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-manage-profile" target="main" href="https://www.ashleymadison.com/app/private/member/manage/index.p?"><span>简介管理</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-lists" target="main" href="https://www.ashleymadison.com/app/private/member/lists/favorites.p?"><span>名单</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-view-profile" target="main" href="https://www.ashleymadison.com/app/private/member/profile.p?id=54137400"><span>阅览简介</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-viewed-me" target="main" href="https://www.ashleymadison.com/app/private/member/search/whoviewedme.p?"><span>访客</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-mailbox" target="main" href="https://www.ashleymadison.com/app/private/member/message/inbox.p?"><span>信箱</span></a></li>
            <li class="menuItem"><a class="box-hpad box-pad-t inline" id="nav-traveling" target="main" href="https://www.ashleymadison.com/app/private/paymentredirect.p?payment_url_label=travelingman_url&amp;payment_url_fragment="><span>异地旅游？</span></a></li>
        </ul>
    </div>
    <div class="clr"></div>

</header>