<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔馆--发布悬赏任务</title>
    <include file="Index:_js_css"/>
    <style>
        table{border: 1px solid #E4E4E4}
        table tr th:first-child,table tr td:first-child{text-indent: 10px;}
    </style>
</head>
<body>
<style>
    a:hover{text-decoration: none}
</style>
<include file="Index:bar"/>
<div class="container" style="margin-top: 30px;padding: 0 0 50px 0 ;">
    <div class="fl column" style="width: 910px;height: 80%; padding-bottom: 150px;;">
        <ul class="helplist" id="helplist">
            <volist name="list" id="vo">
                <li class="borderb-d">
                    <a href="/index/newinfo.html?id={$vo.id}">
                        <h2 class="helplist_tit clo3">{$vo.title}</h2>
                        <p class="font16 helplist_desc clo6">{$vo.description|msubstr=0,45}</p>
                        <p class="clo9">发布时间：{:timeTran($vo['createtime'])}&nbsp;&nbsp;&nbsp;&nbsp;<span class="fr">阅读量：{$vo.read|default=0}人次</span></p>
                    </a>
                    <span class="clr"></span>
                </li>
            </volist>
        </ul>
    </div>
    <div class="fr column" style="width: 295px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #7EE0D9" >
                <span class="panel-title fontb clo3">热门文章</span>
                <div class="clr"></div>
            </div>
            <div class="panel-body" style="background: #F9F9F9">
                <ul class="clo6">
                    <volist name="content" id="vo">
                        <if condition="!empty($vo)">
                            <li class="borderb-d" style="padding: 5px 0;">
                                <a href="/index/newinfo.html?id={$vo.id}" class="clo6">
                                    <span style="display: inline-block;width: 10px;height: 10px ;background: #ffff00;border-radius: 10px;;"></span>&nbsp;
                                    <if condition="isset($vo['title']) && $vo['title']">{$vo['title']|msubstr=0,12}<else/>{$vo['message']|htmlspecialchars_decode|msubstr=0,12}</if>
                                </a>
                            </li>
                        </if>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="tc qr-index">
            <img src="__STATIC__/image/page/home/qr.png" width="200" alt=""/>
        </div>
    </div>
    <div class="clr"></div>
</div>
<div class="clr"></div>
<include file="Index:footer"/>
</body>
</html>