<div class="content">
    <div class="landing-footer-section">
        <div class="full-width">
            <div class="half-width footer-links-section">
                <ul class="footer-navs pull-left">
                    <!--<li class="pull-left"><a href="http://media.ashleymadison.com" title="Press">媒体中心</a></li>-->
                    <li class="pull-left"><a href="/app/public/faq.p" title="常见问题">常见问题</a></li>
                    <!--<li class="pull-left"><a id="bloglink" href="https://ashleymadison.com/blog/" title="Ashley Madison Blog">部落格</a></li>-->
                    <li class="pull-left"><a href="/index/newinfo.html?id=3" rel="nofollow" class="legal-link" title="Terms &amp; Conditions">条款</a></li>
                    <li class="pull-left"><a href="/index/newinfo.html?id=4" rel="nofollow">隐私</a></li>
                    <li class="pull-left"><a href="/app/public/contact.p" rel="nofollow" title="联系我们">联系我们</a></li>
                    <!--<li class="pull-left"><a id="sitemap" href="http://www.adsvip.cn/cms/sitemap">网站地图</a></li>-->
                    <li class="pull-left"><a id="safetytips" href="/security-privacy/" title="Safety Tips" target="_blank">安全贴士</a></li>
                </ul>
            </div>
            <div class="half-width copyright-section">
                <p class="legal pull-right box-pad-r-lg text-right box-marg-r">
                    <span class="memberFooterCopyright force-ltr"> &copy; 2013 - 2017.  - <a href="http://www.adsvip.cn/" class="nopadding">名叔馆官方网站</a></span>
                    <span class="age-restriction">所有会员均年满18岁或以上</span>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var $pathname = window.location.pathname.toLowerCase();
        if($pathname !='/' || $pathname.length>2){

        }
    })
</script>