<!DOCTYPE html>
<html class="webkit safari chrome win">
<head>
    <title>名叔馆</title>
    <include file="Index:_js_css"/>
</head>
<include file="Index:bar"/>

<link rel="stylesheet" href="https://static-cdn.ashleymadison.com/v4/fonts/material-icons/material-icons.css" />
<body style="background: #f6f8f8">
<div class="go-to-z-top fix-top-left simple-box-filled box-pad-xsm box-bdr-b text-center" style="background: #f6f8f8;border-bottom: 2px solid #D9D9D9">
    <form id="frmQuickSearch2" name="frmQuickSearch2" action="https://www.ashleymadison.com/app/private/member/search/result.p" method="POST" target="main" class=''>
        <input type="hidden" name="sid" value="">
        <input type="hidden" name="" value="1">
            <span id="tdAgeMin">
                <select class="selectpicker col-1 search-select" name="datab-s">
                    <?php
                    for($i=18;$i<70;$i++){
                    ?>
                    <option value="{$i}">{$i}</option>
                    <?php
                    }
                    ?>
                    <option value="70">70+</option>
                </select>
            </span>
        <span class="inline searchText">到</span>
        <span id="tdAgeMax">
             <select class="selectpicker col-1 search-select" name="datab-e">
                 <?php
                    for($i=18;$i<70;$i++){
                 ?>
                 <option value="{$i}">{$i}</option>
                 <?php
                }
                ?>
                 <option value="70">70+</option>
             </select>
        </span>
        <span id="tdLocation">
            <span id="dLocation">
            <select id="area" name="area" class="selectpicker col-1 search-select">
                <volist name="priovce" id="vo">
                    <option value="{$vo.aid}">{$vo.name}</option>
                </volist>
            </select>
            </span>
        </span>

        <span id="tdLoginStatus">
            <select id="loginstatus" name="loginstatus" class="selectpicker col-1 search-select">
                <option value="2">目前在线</option>
                <option value="1">过去8小时</option>
                <option value="3">过去24小时</option>
                <option value="4">过去48小时</option>
                <option value="7">新 &lt;10天</option>
                <option value="0">任何时候</option>
            </select>
        </span>
        <button class="btn btn-default search-btn" id="quickSearchButton" type="submit">搜寻</button>
    </form>
</div>

<div class="container page-content profile light-bg" style="width: 960px;">
    <style>
        .material-icons {font-size: 19px;}
    </style>
<div class="box-center tc ">
    <div id="resultsTable" class="light-bg content-700">
        <div class="search-results box-pad-sm results-profile block relative full-width " style="border-bottom: 1px solid #cccccc">
            <div class="fl profile-img-links pull-left" style="width: 167px">
                <div class="relative inline search-thumb-container tc light-bg">
                    <div class="fix-bottom-right icon-private-showcase">
                        <a href="#" data-p="47192327" class="request_showcase"><div class="material-icons md-light">&#xE897;</div></a>
                    </div>
                    <a href="/index/uinfo.html?uid={$vo.uid}">
                        <img alt="按一下了解简介详细资料" width="140px;" title=" : 按一下了解简介详细资料" src="https://photo-cdn.ashleymadison.com/4719232760718690S7410CB5E97DC563" class="search-thumb middle" data-toggle="tooltip" data-placement="right">
                    </a>
                </div>

            </div>
            <div class="fl profile-details box-marg-b" style="width:510px">
                <div class="full-width">
                    <h2>
                        <a class="display-name" href="/index/uinfo.html?uid={$vo.uid}">无忧无虑的大鱼</a>
                        <div class=" status-online middle inline" data-toggle="tooltip" data-placement="right" title="  此会员目前在线上。">&nbsp;</div>
                    </h2>
                </div>
                <div class="full-width">
                    <p class="caption-msg">
                        <span class="profile-details-data">38岁</span>
                        <span class="profile-details-data">成都市, 四川省</span>
                        <span class="profile-details-data">1.63m</span>
                        <span class="profile-details-data">55kg - 匀称</span>
                    </p>
                </div>
                <div class="full-width">
                    <p style="margin:10px 0 20px 0; ">签名介绍:holle</p>

                    <div class="media-box fl">
                        <div class="pull-left material-icons md-dark md-18">&#xE0E1;</div>
                        <a class='media-content tm_ad_trigger search-mail-text profile-left-links' href="https://www.ashleymadison.com/app/private/member/contact/contact.p?o=0&key=quicksearch.54137400&id=47192327&from=search">留言讯息</a>
                    </div>

                    <div class="media-box fl" style="margin-left: 20px;">
                        <div class="pull-left material-icons md-dark md-18">&#xE0E1;</div><a class='media-content tm_ad_trigger search-mail-text profile-left-links' href="https://www.ashleymadison.com/app/private/member/contact/contact.p?o=0&key=quicksearch.54137400&id=47192327&from=search">加为好友</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="full-width tc box-pad-lg">
    &nbsp;&nbsp;
    <a class="tm_ad_trigger btn btn-default search-pagination" >下一个</a>      </div>

</div>
</body>
</html>