<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<include file="Index:_js_css" />
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/upload.js?{:version()}"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/require.js" charset="utf-8"></script>
<style>
pre { margin:0;}
.param-ul { float:none;}
.param-ul li { display:block; float:none; margin:5px 0;}
.param-ul li label { width:100px; float:left; text-align:right;}
</style>
</head>
<body>
	<form action="__URL__/{:ACTION_NAME}" method="post" name="form1" id="form1"> 
		<input type="hidden" id="id" name="id" value="{$db.id}" /> 
		<table border="0" cellspacing="1" cellpadding="3" class="MainTbl">
			<tr class="toolbar">
				<td colspan="2" class="tc">【专题 】</td>
			</tr>
			<tr class="row0">
				<td colspan="2">
					<div class="tab">
						<ul class="idTabs">
						<li><a href="{:U('Special/edit', 'id='.$db['id'])}" class="selected">基本设置</a></li>
						<li><a href="{:U('Special/editSetting', 'id='.$db['id'])}" class="">高级配置</a></li>	
						</ul>
					</div>
				</td>
			</tr>
			<tr class="row0">
				<td class="col1" >专题名称：</td>
				<td><input type="text" class="inputText1 w350" id="name" name="name" maxlength="100" value="{$db.name}" /> <span class="fc_red">* </span></td>
			</tr>
			<tr class="row0">
				<td class="col1">页面标题：</td>
				<td><input type="text" class="inputText1 w350" name="page_title" maxlength="100" value="{$db.page_title}" /></td>
			</tr>
			<tr class="row0">
				<td class="col1">页面关键词：</td>
				<td><input type="text" class="inputText1 w350" name="page_keywords" maxlength="100" value="{$db.page_keywords}" /></td>
			</tr>
			<tr class="row0">
				<td class="col1">页面描述：</td>
				<td><textarea class="inputText1 editor1" name="page_desc" style="height:40px;">{$db.page_desc}</textarea></td>
			</tr>
			
			<if condition="$params neq null">
			<tr class="row0">
				<td colspan="2">参数：</td>
			</tr>
			
			<foreach name="params" key="key" item="item">
			<tr class="row0">
				<td class="col1" id="ttt">{$item.name}：</td>
				<td>
					<php>$field_type = isset($item['type']) ? $item['type'] : 0;</php>
					<switch name="field_type">
						<case value="2">
							<textarea class="inputText1 editor1" name="p_{$key}" style="height:40px;">{$item.value}</textarea>
						</case>
						<case value="3">{$item.value}</case>
						<default />
							<input type="text" class="inputText1 w350" name="p_{$key}" maxlength="100" value="{$item.value}" />
					</switch>
				</td>
			</tr>
			</foreach>
			</if>
			<tr class="footer">
				<td colspan="2" class="tc">
					<input type="submit" class="btn1" value="保存" />
					<input type="button" class="btn1" value="返回" onclick="history.back();" />
				</td>
			</tr>
		</table>
	</form>
	<include file="Index:footer" />
	<script>
        upload.prototype.createContent("#content",'info');
	require.config({ paths: { "ace" : "__PUBLIC__/Admin/js/ace" } });
	require(["ace/ace"], function(ace) {
		var contentEditor = ace.edit("contentEditor");
		contentEditor.setTheme("ace/theme/eclipse");
		contentEditor.session.setMode("ace/mode/html");
		contentEditor.setOption("maxLines", 50);
		
		var phpEditor = ace.edit("phpEditor");
		//phpEditor.setTheme("ace/theme/tomorrow_night_eighties");
		phpEditor.session.setMode("ace/mode/php");
		phpEditor.setOption("maxLines", 50);
		
		var styleEditor = ace.edit("styleEditor");
		//styleEditor.setTheme("ace/theme/tomorrow_night_eighties");
		styleEditor.session.setMode("ace/mode/css");
		styleEditor.setOption("maxLines", 50);
		
		var scriptEditor = ace.edit("scriptEditor");
		//scriptEditor.setTheme("ace/theme/tomorrow_night_eighties");
		scriptEditor.session.setMode("ace/mode/javascript");
		scriptEditor.setOption("maxLines", 50);
		
		$('form').submit(function(){
			$('textarea[name="content"]').val( contentEditor.getValue() );
			$('textarea[name="php"]').val( phpEditor.getValue() );
			$('textarea[name="style"]').val( styleEditor.getValue() );
			$('textarea[name="script"]').val( scriptEditor.getValue() );
		});
	});
    </script>
</body>
</html>