<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header" />
</head>

<body pagename="order" style="background: #f8f8f8">
<include file="Index:nav2" />
<div class="container">
    <div class="path clr"><a href="/">Home</a> &gt; <a href="/member/index.html">My Account</a> </div>
    <div class="content">
        <div class="left fl">
            <include file="left" />
        </div>
        <div class="right fr order-list">
            <div class="ostatus" style="padding: 20px 0 0 0">
                <a href="?type=1#favorites" <if condition="!isset($_REQUEST['type']) || $_REQUEST['type'] eq 1"> class="selected"</if>>My Favorites</a> |
                <a href="?type=2#buying" <if condition="$_REQUEST['type'] eq 2"> class="selected"</if>>Frequently Buying</a>
            </div>
            <table width="965px" style="margin: 0 auto" border="0" cellspacing="0" id="good_cart" cellpadding="0">
                <tr class="thead">
                    <th width="90">
                        <div class="checkboxFive" onclick="selectAll();">
                            <label for="checkboxFiveInput" style="width: 90px;left: 0;top: -6px;line-height: 17px;">
                                <input type="checkbox" value="1" id="checkboxFiveInput"  name="" />
                                <span class="fl cbox"></span>  Select All
                            </label>
                        </div>
                    </th>
                    <th width="630">Product Name</th>
                    <th width="125" >Unit Price</th>
                    <th width="120">Action</th>
                </tr>
                <if condition="empty($list)">
                    <tr>
                        <td colspan="4">not found.</td>
                    </tr>
                    <else/>
                    <volist name="list" id="vo">
                        <tr align="center" class="order_row"  class="goods"  id="js_goods_{$vo['productid']}" data-id="{$vo['productid']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}" data-negative="{$vo['negative']}" data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                            <td align="left">
                                <div class="checkboxFive" onclick="getGoodCartInfo();">';
                                    <label style="width: 60px;left: 0;top: -6px;line-height: 17px;">
                                        <input type="checkbox" value="{$vo['productid']}" data-id="{$vo.id}" name="id" />
                                        <span class="fl cbox"></span>
                                    </label>
                                </div>
                            </td>
                            <td align="left"><a href="/product/view.html?id={$vo.productid}"><img src="{$vo.indexpic}" style="vertical-align:middle;"  width="60" alt=""/>&nbsp;&nbsp;&nbsp;{$vo.title}</a></td>
                            <td>{$vo.price}</td>
                            <td>
                                <a href="javascript:void(0);" onclick="addgood('{$vo.productid}',event,'list')" class="order_btn view">Add to cart</a>
                                <if condition="!isset($_REQUEST['type']) || $_REQUEST['type'] eq 1">
                                    <br/>
                                    <a href="javascript:void(0)" onclick="delFavorites('{$vo.id}','{$vo.productid}')" class="order_btn cancel">Delete</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                </if>
            </table>

                <div class="tc">
                    <button class="addtocart cart_btn"  onclick="addAllgood()" >Add to cart</button>
                    <if condition="!isset($_REQUEST['type']) || $_REQUEST['type'] eq 1">
                        <button class="buynow cart_btn" style="margin-left: 35px;" onclick="delAll();">Delete</button>
                    </if>
                </div>
            <div class="pagelist">{$page}</div>
            <div style="height: 60px;"></div>
        </div>
    </div>
</div>
<div class="clr"></div>
<include file="Index:footer" />
<script>
    function addAllgood(){
        $('#good_cart  input[type=checkbox]').each(function() {
            if($(this).is(':checked')){
                var $id = $(this).val();
                if($id > 1){
                    addgood($id,event,'fav');
                }
            }
        });
    }

    function delAll(){
        $('#good_cart  input[type=checkbox]').each(function() {
            if($(this).is(':checked')){
                var $id = $(this).data('id');
                if($id > 0){
                    delFavorites($id,$(this).val());
                }
            }
        });
    }

    //删除单个收藏，
    function delFavorites(id,pid){
        $.post('/shop/member/delFavorites',{id:id},function(data){
            if(data.code ==200){
                $("#js_goods_"+pid).hide();
            }else{
                clearpopj(data.message, "error",true);
            }
        })
    }
</script>
</body>
</html>
