<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔堂</title>
    <include file="Index:_js_css"/>
    <style>
        table tr th{background: #f6f8f8}
    </style>
</head>
<body style="background: #f6f8f8">

<include file="Index:bar"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version(3)}"/>
<div class="content-960 light-bg page-content wide">
    <div id="settingsContainer">
        <include file="Member:left"/>
        <div class="fr settings-content " style="width: 670px;text-indent: 10px;">
            <table style="width: 100%;left:-30px;top: 20px;" class="relative">
                <tr>
                    <th>会员</th>
                    <th>操作</th>
                    <th><i class="material-icons md-18 md-dark"></i></th>
                </tr>
                <if condition="!empty($friended)">
                    <tr>
                        <td colspan="3" class="fontb" style="padding: 5px 0;border-bottom: 1px solid #cccccc">申请列表</td>
                    </tr>
                    <volist name="friended" id="vo">
                        <tr style="border-bottom: 1px solid red;">
                            <td>
                                <div class="header-col member-col">
                                    <a href="" class="middle inline" title=" :: 阅览简介" data-toggle="tooltip" data-placement="bottom">
                                        <div class="preview-thumb" style="margin: 5px 0">
                                            <div class="small-image-container">
                                                <img width="60" src="__PUBLIC__{$vo.picture|default='/static/image/noavatar_middle.gif'}" border="0">
                                                <span>{$vo.nickname}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="header-col actions-col">
                                    <a href="/member/chat.html?uid={$vo.f_uid}" class="link-icon icon-mail-alt" title=" :: 留言讯息">
                                        <i class="material-icons md-18 md-dark"></i>
                                    </a>
                                    <a href="javascript:acceptFriends('{$vo.f_uid}');" class="link-icon clo6 icon-mail-alt" title=" :: 该用户申请成为你的好友">
                                        <i class="material-icons md-21"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="header-col remove-col">
                                    <a href="javascript:void(0);" onclick="refuseFriend('{$vo.fid}','{$vo.f_uid}',2);" class="link-icon remove-link" title=" :: 删除好友"><i class="material-icons md-18 md-dark"></i></a>
                                </div>
                            </td>
                        </tr>
                    </volist>
                </if>

                <volist name="friendslist" id="vo">
                    <if condition="$vo['status'] eq 1">
                        <tr style="border-bottom: 1px solid red;" title="申请待回复">
                    <else/>
                        <tr style="border-bottom: 1px solid #cccccc;">
                    </if>
                        <td>
                            <div class="header-col member-col">
                                <a href="" class="middle inline" title=" :: 阅览简介" data-toggle="tooltip" data-placement="bottom">
                                    <div class="preview-thumb" style="margin: 5px 0">
                                        <div class="small-image-container">
                                            <img width="60" src="__PUBLIC__{$vo.picture|default='/static/image/noavatar_middle.gif'}" border="0">
                                            <span>{$vo.nickname}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="header-col actions-col">
                                <a href="/member/chat.html?uid={$vo.f_uid}" class="link-icon icon-mail-alt" title=" :: 留言讯息">
                                    <i class="material-icons md-18 md-dark"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="header-col remove-col">
                                <if condition="$vo['status'] eq 1">
                                    <a href="javascript:void(0);" onclick="refuseFriend('{$vo.fid}','{$vo.f_uid}',1);" class="link-icon remove-link" title=" :: 删除好友"><i class="material-icons md-18 md-dark"></i></a>
                                <else/>
                                    <a href="javascript:void(0);" onclick="delFriend('{$vo.f_uid}');" class="link-icon remove-link" title=" :: 删除好友"><i class="material-icons md-18 md-dark"></i></a>
                                </if>
                            </div>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
        <div class="clr"></div>
    </div>
</div>
<script>
    function acceptFriends($fuid){
        $.post('/member/acceptFriends.html',{fuid:$fuid}, function (data) {
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

    function delFriend($fuid){
        $.post('/member/delFriend.html',{fuid:$fuid}, function (data) {
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

    function refuseFriend($fid,$fuid,type){
        $.post('/member/refuseFriend.html',{fid:$fid,$fuid:$fuid,type:type}, function (data) {
            if(data.code==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }

</script>

</body>
</html>
