<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔堂</title>
    <include file="Index:_js_css"/>
    <style>
        select{ width: 100%; height: 34px;color: #333; background-color: #FFffff; border-radius: 4px; border-color: #B8C2CC;margin-top: 5px;}
        select:active{ background-color: #e6e6e6; border-color: #adadad;}
        .content-960.page-content.wide { padding: 30px 20px 65px;  }
    </style>
</head>
<body style="background: #f6f8f8">

<include file="Index:bar"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version(3)}"/>
<div class="content-960 light-bg page-content wide">
    <div id="settingsContainer">
        <include file="Member:left"/>
        <div class="settings-content light-bg  fr" style="width: 670px;">
            <div id="manageInformation_container" class="is-hidden" style="display: block;">
                <form onsubmit="return false;" id="myform">
                    <div id="profileInfo">
                        <div class="h1">简介资料</div>
                        <div class="form-group">
                            <label for="input_nickname" class="form_label collapse-margin">昵称</label>
                            <input name="nickname" id="input_nickname" type="text" value="{$user.nickname}" class="form-control"><div class="help-block">别人将通过这个昵称知道您。(不要使用您的真名)</div>
                        </div>
                        <div class="form-group">
                            <label for="input_greeting" class="form_label collapse-margin">签名介绍</label>
                            <input name="describe" id="input_greeting" type="text" value="{$user.describe}" class="form-control">
                            <div class="help-block">您的签名档将会显示给其他会员看到。发挥您的创意！</div>
                        </div>
                        <div class="form-group">
                            <label for="input_greeting" class="form_label collapse-margin">出生日期</label>
                            <input name="birthdate" id="birthdate" type="text" value="{$user.birthdate}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="height" class="form_label collapse-margin block">身高</label>
                            <select id="height" name="height">
                                <?php
                            for($i=125;$i<220;$i++){
                            ?>
                                <option value="{$i}" <if condition="$user['height'] eq $i">selected</if>>{$i}cm</option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="weight" class="form_label collapse-margin block">所在城市</label>

                            <select name="proivce" onchange="checkeSupsort($(this).val(), $('#myform select[name=city]'));" style="width: 49%;">
                                <volist name="proivce" id="vo">
                                    <option <if condition="$user['proivce'] eq $vo['aid']">selected</if>  value="{$vo.aid}">{$vo.name}</option>
                                </volist>
                            </select>
                            <select name="city" style="width: 49%;">
                                <option value="">请选择</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="weight" class="form_label collapse-margin block">体重</label>
                            <select id="weight" name="weight">
                                <?php
                            for($i=36;$i<140;$i++){
                            ?>
                                <option value="{$i}" <if condition="$user['weight'] eq $i">selected</if>>{$i}kg</option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="shape" class="form_label collapse-margin block">体型</label>
                            <select id="shape" name="shape">
                                <option value="1" <if condition="$user['shape'] eq 1">selected</if>>苗条</option>
                                <option value="2" <if condition="$user['shape'] eq 2">selected</if>>匀称</option>
                                <option value="3" <if condition="$user['shape'] eq 3">selected</if>>肌肉发达</option>
                                <option value="4" <if condition="$user['shape'] eq 4">selected</if>>平均/中等</option>
                                <option value="5" <if condition="$user['shape'] eq 5">selected</if>>结实有型</option>
                                <option value="6" <if condition="$user['shape'] eq 6">selected</if>>微胖</option>
                                <option value="7" <if condition="$user['shape'] eq 7">selected</if>>魁梧</option>
                                <option value="8" <if condition="$user['shape'] eq 8">selected</if>>丰满(性感/曲线动人)</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="smoking" class="form_label collapse-margin block">吸烟习惯</label>
                            <select id="smoking" name="smoking">
                                <option value="1" <if condition="$user['shape'] eq 1">selected</if>>保密</option>
                                <option value="2" <if condition="$user['shape'] eq 2">selected</if>>从不</option>
                                <option value="3" <if condition="$user['shape'] eq 3">selected</if>>偶尔</option>
                                <option value="4" <if condition="$user['shape'] eq 4">selected</if>>经常</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="marriage" class="form_label collapse-margin block">婚姻状况</label>
                            <select id="marriage" name="marriage">
                                <option value="0">保密</option>
                                <option <if condition="$user['marriage'] eq '未婚'">selected</if> value="未婚">未婚</option>
                                <option <if condition="$user['marriage'] eq '离异'">selected</if> value="离异">离异</option>
                                <option <if condition="$user['marriage'] eq '丧偶'">selected</if> value="丧偶">丧偶</option>
                                <option <if condition="$user['marriage'] eq '非单身'">selected</if> value="非单身">非单身</option>
                            </select>
                        </div>
                    </div>
                    <div id="accountInfo">
                        <div class="h1">帐户资料</div>

                        <div class="panel panel-note">
                            <div class="panel-body">
                                <span class="uppercase">备注：&nbsp;</span><span>*</span>标出的栏位未在您的简介中公开，将永远不会向其他会员公开。
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_account" class="form_label collapse-margin">用户账号<span class="pink">*</span></label>
                            <input name="account" id="input_account" type="text" value="{$user.account}" class="form-control">
                            <div class="help-block">这是您登录网站使用的用户名称。</div>
                        </div>
                        <div class="form-group">
                            <label class="form_label collapse-margin">手机号<span class="pink">*</span></label>
                            <input name="tel" value="{$user.tel}" id="input_tel" type="text" class="form-control" placeholder=>
                        </div>
                        <div class="form-group">
                            <label class="form_label collapse-margin">QQ<span class="pink">*</span></label>
                            <input  value="{$user.qqid}" id="input_qq" type="text" name="qqid" class="form-control" placeholder=>
                        </div>
                        <div class="form-group">
                            <label class="form_label collapse-margin">微信<span class="pink">*</span></label>
                            <input  value="{$user.wchat}" id="input_wx" type="text" name="wchat" class="form-control" placeholder=>
                        </div>

                        <div class="form-group">
                            <label for="input_existing_pw" class="form_label">现有密码<span class="pink">*</span></label>
                            <input name="oldpassword" id="input_existing_pw" type="password" value="{$user.password|msubstr=0,12}" class="form-control">
                            <div class="help-block">更新密码请求</div>
                        </div>
                        <div class="form-group">
                            <label for="input_password" class="form_label collapse-margin">密码<span class="pink">*</span></label>
                            <input name="password" id="input_password" type="password" value="" class="form-control">
                            <div class="help-block">必须至少5个字符长</div>

                            <label for="input_confirm_pw" class="form_label collapse-margin">密码确认<span class="pink">*</span></label>
                            <input name="confirm_pw" id="input_confirm_pw" type="password" value="" class="form-control">
                            <div class="help-block">请重新输入您的密码</div>
                        </div>
                    </div>
                    <div id="footerInfo">
                        <div class="update_button">
                            <div class="pull-left padding-top-30">
                                <button type="submit" class="submitButton btn btn-primary btn-med uppercase" onclick="sub();">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
<script src="__STATIC__/common/js/jquery.lhgcalendar.min.js"></script>
<script>
    $('#birthdate').calendar({
        format: 'yyyy-MM-dd',
        btnBar: false
    });
    checkeSupsort('{$user.proivce}', $('#myform select[name=city]'));
    $('#myform select[name=city] option').each(function(){
        if('{$user.city}' == $(this).val()){
            $(this).attr('selected',true);
        }
    })

    function sub(){
        var data = $('#myform').serialize();
        $.post('/member/modifyuser.html',data,function(data){
            if(data.code ==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }
</script>
</body>
</html>