<div class="left-menu-nav">
    <ul class="nav nav-pills nav-stacked list-left-nav">
        <li class=" active">
            <a id="my_information" href="/member/index.html"><i class="material-icons"></i> 个人资料</a>
        </li>
        <li class="">
            <a id="profile_options" href="/member/topic.html"><img src="__STATIC__/image/page/home/topic.png" alt=""/> 帖子管理</a>
        </li>
        <li class="">
            <a id="perfect_match" href="/member/pairing.html"><i class="material-icons"></i> 完美配对</a>
        </li>
        <li class="">
            <a id="personal_interests" href="/member/hobby.html"><i class="material-icons"></i> 个人兴趣</a>
        </li>

        <li class="">
            <a id="contact_options" href="/member/news.html"><i class="material-icons"></i> 消息管理
                <if condition="$newscount gt 0">
                    <span id="newsCount" class="label badge inline pull-right">{$newscount}</span>
                </if>
            </a>
        </li>
        <li class="">
            <a href="/member/friends.html">
                <i class="material-icons md-21"></i>
                我的好友
                <if condition="$friendcount gt 0">
                    <span id="favoritesCount" class="label badge inline pull-right">{$friendcount}</span>
                </if>
            </a>
        </li>
        <li class="">
            <a id="manage_photos" href="/member/photos.html"><i class="material-icons"></i> 相片管理</a>
        </li>
    </ul>

</div>
<script>
    $(function(){
        var hash =(window.location.hash).substring(1);
        $('.member-lfet li a').each(function(){
            if($(this).attr('id') == hash){
                $('.member-lfet li a').removeClass('selected');
                $(this).addClass('selected');
            }
        })
    });
</script>
