<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔馆</title>
    <include file="Index:_js_css"/>
    <style>
        select{ width: 100%; height: 34px;color: #333; background-color: #FFffff; border-radius: 4px; border-color: #B8C2CC;margin-top: 5px;}
        select:active{ background-color: #e6e6e6; border-color: #adadad;}
        .content-960.page-content.wide { padding: 30px 20px 65px;  }
        .photo_item{margin-bottom: 10px}
        a:hover,a:active{text-decoration: none}
    </style>
</head>
<body style="background: #f6f8f8">

<include file="Index:bar"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version(3)}"/>
<div class="content-960 light-bg page-content wide">
    <div id="settingsContainer">
        <include file="Member:left"/>
        <div class="fr settings-content " style="width: 670px;text-indent: 10px;">
            <table id="inboxDatagrid" style="width: 100%;border-bottom:1px solid #cccccc" class="table table-hover">
                <tr class="table-heading-text">
                    <th width="95">用户名称</th>
                    <th >讯息</th>
                    <th width="15"><i class="material-icons md-18" style="padding-left: 3px;"></i></th>
                </tr>
                <volist name="list" id="vo">
                    <tr>
                        <td>{:msubstr(getUsername($vo['operator']),0,6)}</td>
                        <td>
                            <span <if condition="$vo['isread'] eq 1"> class="clo3 fontb" <else/>  class="clo9"</if>>
                                <if condition="$vo['type'] eq 5">
                                    <a href="/index/newinfo.html?id={$vo.mid}&type=sm"><span class="clo6">【系统消息】{$vo.title|msubstr=0,26}</span></a>
                                    <elseif condition="$vo['type'] eq 2 || $vo['type'] eq 3"/>
                                    <span class="clo6">【好友申请】{$vo.message|msubstr=0,26}</span>
                                    <elseif condition="$vo['type'] eq 4"/>
                                    <a href="/member/chat.html?uid={$vo['operator']}"><span class="clo6">【聊天消息】{$vo.message|msubstr=0,26}</span></a>
                                    <elseif condition="$vo['type'] eq 1"/>
                                    <a href=""><span class="clo6">【帖子评论】{$vo.message|msubstr=0,26}</span></a>
                                </if>
                            </span>
                        </td>
                        <td>
                            <div class="header-col remove-col">
                                <a href="javascript:void(0);" onclick="javascript:deleteRowItem(this, 360987597,41152234,1)" class="link-icon remove-link" title=" :: 删除密友"><i class="material-icons md-18 md-dark"></i></a>
                            </div>
                        </td>
                    </tr>
                </volist>
            </table>
            <p class="tc"><span>{$page}</span></p>
        </div>
        <div class="clr"></div>
    </div>
</div>
</body>
</html>



