<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>名叔馆</title>
    <include file="Index:_js_css"/>
    <style>
        select{ width: 100%; height: 34px;color: #333; background-color: #FFffff; border-radius: 4px; border-color: #B8C2CC;margin-top: 5px;}
        select:active{ background-color: #e6e6e6; border-color: #adadad;}
        .content-960.page-content.wide { padding: 30px 20px 65px;  }
        .photo_item{margin-bottom: 10px}
    </style>
</head>
<body style="background: #f6f8f8">

<include file="Index:bar"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/page/css/icon.css?version={:version(3)}"/>
<div class="content-960 light-bg page-content wide">
    <div id="settingsContainer">
        <include file="Member:left"/>
        <div class="fr settings-content " style="width: 670px;text-indent: 10px;">
                <div class="margin-bottom-20">
                    <h1 class="margin-top-0">让你的照片增加保密性</h1>
                    <div class="row margin-top-20">
                        <div class="col-xs-3">
                            <img class="pull-left" src="https://static-cdn.ashleymadison.com/v4/build/images/man-tiny.27515b00.png">
                        </div>
                        <div class="col-xs-9">
                            <p>我们深知您对私隐的需要，因此我们增加了一些工具来协助您隐藏身份。当您上传新的照片，您将可选择裁剪它或对照片进行模糊化！</p>
                            <div id="ashley-next-button-hack" class="text-right">
                                <button onclick="upphotob()" type="button" class="btn btn-primary wide-btn" >增加保密相片</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-note">
                    <div class="panel-body">
                        <span class="note-text">备注：</span>
                        所有相片都要经过审核。相片不能包括任何裸照。我们的网站不接受未满18岁的儿童相片。
                    </div>
                </div>
                <div id="manage-photos">
                    <div id="photo-upload-view">
                        <div>
                            <div class="progressBar" style="display: none;">
                                <div class="progress progress-success progress-striped active" style="margin: 9px 0;">
                                    <div class="bar" style="width: 80%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="photo-message-view"></div>
                    <div id="photo-list-view">
                        <div>
                            <div class="section-public"><h2 class="pink">你的头像</h2><ul>
                                <li class="">
                                    <div class="fl">
                                        <if condition="empty($inauditAvatar)">
                                            <img class="avater" width="150" style="border: 1px solid #D1D1D1" src="__PUBLIC__{$user.picture|default='/static/image/noavatar_middle.gif'}"/>
                                        <else/>
                                            <img class="avater" width="150" style="border: 1px solid #D1D1D1" src="__PUBLIC__{$inauditAvatar.img}"/>
                                            <div class="relative clof tc fontb" style="width: 150px;height: 30px;;background: #000000;opacity: .5;bottom: 30px;left: 10px;">审核中</div>
                                        </if>
                                    </div>
                                    <div class="fl" style="line-height: 38px;">
                                        <br/>
                                        <if condition="empty($inauditAvatar)">
                                            <p></p>
                                        <else/>
                                            <p><button onclick="delimg('{$inauditAvatar.id}')" type="button" class="btn wide-btn" >删除头像</button></p>
                                        </if>
                                        <br/>
                                        <p><button onclick="$('#file').click();upavatar();" type="button" class="btn btn-primary wide-btn" >上传头像</button></p>
                                    </div>
                                    <div class="clr"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="section-public yourPhoto" id="photolist">
                            <h2 class="pink" style="margin: 5px 0">您的相片</h2>
                                <volist name="photolist" id="vo">
                                    <div class="photo_item fl relative" id="row_{$vo.id}">
                                        <span class="absolute hide delimg" onclick="delimg('{$vo.id}')" style="top: 0;right: 5px;cursor: pointer" ><span class="del_ico "></span></span>
                                        <img src="__PUBLIC__{$vo.img}" width="200" alt=""/>
                                        <if condition="$vo['status'] eq 0">
                                            <div class="absolute clof tc fontb" style="width: 200px;height: 30px;;background: #000000;opacity: .5;bottom: 0;left: 10px;">审核中</div>
                                        </if>
                                    </div>
                                </volist>
                            <div class="clr"></div>
                            <br/>
                        </div>
                    </div>
                </div>
                <h2 class="pink">指引方针</h2>
                <p>所有照片均需经过审核。我们可能会拒绝您的照片。</p>
                <p class="margin-bottom-30">相片不能包括未成年人和个人联络资料，必须合理地描述在广简介中说明的个人形象。</p>
                <h2 class="pink">相簿相片</h2>
                <p class="margin-bottom-30"><em>相簿相片</em> 不会在公开显示，只有高级会员才能查看您的私人相片。</p>
        </div>
    </div>
    <div class="clr"></div>
</div>
<style>
    .clipArea{
        position: relative;
    }
    .pic-containaer span{
        display: block;
        position: absolute;
        width: 100px;
        height: 30px;
        top: 0;
        left: 0;
        background: #2d3e50;
        line-height: 26px;
        padding: 2px;
    }
</style>
</div>
<input type="file" id="file" class="hide"/>
    <input type="file" id="pfile" class="hide"/>
<include file="Index:footer"/>
<div id="pic"  style="display: none;;">
    <input type="hidden" name="img"/>
    <div class="fullbg" onclick="clearUpfailImg();"></div>
    <div class="pop center" style="width: 500px;left: 50%;margin-left: -250px;">
        <div id="clipArea" style="height: 300px;"></div>
        <p class="tc" style="margin: 5px 0">
            <a href="javascript:clearUpfailImg();" class="cloc">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);" id="clipBtn">下一步</a>
        </p>
        <div id="clipArea2" style="display: none;">
            <div class="pic-containaer tc" style="padding: 5px 10px;">
                <img  alt="" class="blurify" width="300">
            </div>
            <p class="tc">
                <a href="javascript:mohu(1);">原图</a>
                <a href="javascript:mohu(2);">模糊1</a>
                <a href="javascript:mohu(3);">模糊2</a>
                <a href="javascript:mohu(4);">模糊3</a>
                <a href="javascript:mohu(5);">模糊4</a>
                <a href="javascript:mohu(6);">模糊5</a>
            </p>
            <p class="tc"><a href="javascript:clearUpfailImg();" class="cloc">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="flishbtn"  class="btn btn-primary wide-btn" style="width:25%;margin: 2% 0;">完成</button></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="__STATIC__/common/js/hammer.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/iscroll-zoom.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/jquery.photoClip.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/js/blurify.js"></script>
<script>
    $(function() {
        $('.photo_item').mouseover(function(){
            $('.photo_item .delimg').removeClass('hide');
        })
        $('.photo_item ').mouseout(function(){
            $('.photo_item .delimg').addClass('hide');
        })
        $('.photo_item .delimg span').mouseover(function(){
            $(this).addClass('del_red_ico');
            $('.photo_item .delimg').removeClass('hide');
        })
        $('.photo_item .delimg span').mouseout(function(){
            $(this).removeClass('del_red_ico');
        })
    })

    function upphotob(){
        if($('#photolist .photo_item').length>=12){
            clearpop('对不起，您已达到相片限额。您只能有12 张相片。');
            return false;
        }
        $('#pfile').click();upphoto();
    }

    function mohu($bl){
        new blurify({
            images: document.querySelectorAll('img.blurify'),
            blur: $bl,
            mode: 'auto'
        });
    }

    function upavatar(){
        $("#clipArea").photoClip({
            width: 300,
            height: 300,
            file: "#file",
            view: "#view",
            ok: "#clipBtn",
            loadStart: function() {
                console.log("照片读取中");
            },
            loadComplete: function() {
                $('#pic').show()
            },
            clipFinish: function(dataURL) {
                uploadPicByBase64('avatar',dataURL);
            }
        });
    }
    function upphoto(){
        $("#clipArea").photoClip({
            width: 250,
            height: 312,
            file: "#pfile",
            view: "#view",
            ok: "#clipBtn",
            loadStart: function() {
                console.log("照片读取中");
            },
            loadComplete: function() {
                $('#pic').show()
            },
            clipFinish: function(dataURL) {
                uploadPicByBase64('photo',dataURL);
            }
        });
    }

    function uploadMhImg(scope){
        var dataURL = $('.pic-containaer img').attr('src');
        uploadPicByBase64(scope,dataURL,'flish');
    }

    function uploadPicByBase64(scope,stream,type){
        var uploadPhp = DOMAIN+'/Public/uploadForKindeditor.php';
        var uploadJson = uploadPhp+"?scope="+scope+"&callback="+DOMAIN+"&isbase64=true&isaj=1";
        $.post(uploadJson,{stream:stream},function(data){
            if(data.code==100){
                var img = data.data.url.img;
                var thumb = data.data.url.thumb;
                if(type == 'flish'){
                    $.post('/member/uploadPhoto.html',{ture_img:$('#pic input[name=img]').val(),img:img,scope:scope},function(data){
                        if(data.code == 200){
                            clearpop(data.message,'','self');
                            $('#pic').hide()
                        }else{
                            clearpop(data.message);
                        }
                    })
                }else{
                    $('.pic-containaer img.blurify').attr('data-src',PUBLIC+img)
                    $('.pic-containaer img').attr('src',PUBLIC+img)
                    $('#pic input[name=img]').val(img);
                    $('#flishbtn').attr('onclick','uploadMhImg("'+scope+'")');
                    $('#clipArea').hide()
                    $('#clipBtn').hide()
                    $('#clipArea2').show()
                }
            }else{
                clearpop('上传失败');
            }
        },'json')
    }


    function subhobby(){
        var ids = '';
        $('#optionsForm input[type=checkbox]:checked').each(function(){
            ids += $(this).val()+',';
        })
        $.post('/member/hobby.html',{pairingids:ids,pairing_note: $('#optionsForm textarea[name=hobby_note]').val()},function(data){
            if(data.code ==200){
                clearpop(data.message,'','self');
            }else{
                clearpop(data.message);
            }
        })
    }
    function delimg(imgid){
        $.post('/member/delPhoto.html',{imgid:imgid},function(data){
            clearpop(data.message);
            if(data.code ==200){
                $('#row_'+imgid).remove();
            }
        })
    }
</script>
</body>
</html>
