<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header" />
</head>

<body pagename="order" style="background: #f8f8f8">
<include file="Index:nav2" />
<div class="container">
    <div class="path clr"><a href="/">Home</a> &gt; <a href="/member/index.html">My Account</a> </div>
    <div class="content">
        <div class="left fl">
            <include file="left" />
        </div>
        <div class="right fr order-list">
            <div class="order_list">My order</div>
            <table width="965px" style="margin: 0 auto" border="0" cellspacing="0" cellpadding="0">
                <tr class="thead">
                    <th width="125">Create Time</th>
                    <th width="700">Content</th>
                    <th width="125" >Progress</th>
                </tr>
                <if condition="empty($list)">
                    <tr>
                        <td colspan="3">not found.</td>
                    </tr>
                    <else/>
                    <volist name="list" id="vo">
                        <tr align="center" class="order_row" id="order_row_{$vo['id']}">
                            <td>{$vo.addtime}</td>
                            <td align="left">{$vo.ext6}</td>
                            <td>
                                <if condition="$vo['status'] eq 1">
                                    <a href="javascript:void(0)">processed</a>
                                <else />
                                    <a href="javascript:void(0)" class="cancel">undisposed</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                </if>
            </table>
            <div class="pagelist">{$page}</div>
            <div style="height: 60px;"></div>
        </div>
    </div>
</div>
<div class="clr"></div>
<include file="Index:footer" />
<script>
    $(function(){
        if($('#paybox input[name=pay]').val()==4){
            $('.pay_btn').html('Choose');
        }else{
            $('.pay_btn').html('Go to pay');
        }
    })
</script>
</body>
</html>
