<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>表单类型编辑</title>
<include file="Index:_js_css" />
</head>
<body>

	<form action="__URL__/editFormtype" method="post" name="form1"
		id="form1"> 
		<input type="hidden" id="id" name="id" value="{$db.id}" /> 
        <input type="hidden" name="pid" id="pid" value="0" />
		<table border="0" cellspacing="1" cellpadding="3" class="MainTbl">
			<tr class="toolbar">
				<td colspan="2" class="tc">【编辑表单类型 】</td>
			</tr> 
			<tr class="row0">
				<td class="col1" >表单类型名：</td>
				<td><input type="text" class="inputText1" id="name" name="name"
					maxlength="100" value="{$db.name}" /> <span class="fc_red">* </span></td>
			</tr> 
			<tr class="row0">
				<td class="col1">描述：</td>
				<td><input type="text" class="inputText1 w350" name="remark"
					id="remark" maxlength="100" value="{$db.remark}" /></td>
			</tr>
			<tr class="row0">
			  <td class="col1">形象图：</td>
			  <td><input type="text" class="inputText1 w350" name="indexpic"
					id="indexpic" maxlength="100" value="{$db.indexpic}" /> <input type="button" class="btn1 btnUpload" onclick="selectPic(this)" id="btnUpload" value="上传" /></td>
		  </tr>　
			<tr class="row0">
				<td class="col1">字段：</td>
				<td>
                <?php 
                $arr=str2arr($db['fields']);
                $arr = arr2clr($arr);
                
                $fieldArr = get_form_fields();
                for ($i=1;$i<count( $fieldArr)+1;$i++){
                
                if (in_array($i,$arr)){
                ?>
                <input type="checkbox" name="fields[]" id="fields_<?php echo($i)?>" value="<?php echo($i)?>" checked="checked" />
                <label for="fields_<?php echo($i)?>"><?php echo($fieldArr[$i-1])?></label>
                <?php
                }
                else
                {?>
                <input type="checkbox" name="fields[]" id="fields_<?php echo($i)?>"  value="<?php echo($i)?>"  />
                <label for="fields_<?php echo($i)?>"><?php echo($fieldArr[$i-1])?></label>
                <?php
                }
                ?>
                
                <?php
                }
                ?>
                </td>
			</tr>
			<tr class="row0">
				<td class="col1">排序：</td>
				<td><input type="text" class="inputText1 numeric w50"
					name="sort" id="sort" maxlength="10" value="{$db.sort}" /></td>
			</tr>
			<tr class="row0">
				<td class="col1">状态：</td>
				<td><select name="status" id="status">
						<option value="1">启用</option>
						<if condition="($db.status eq 0)">
						<option value="0" selected="selected">禁用</option>
				<else/>
						<option value="0">禁用</option></if>
				</select></td>
			</tr>
			<tr class="footer">
				<td colspan="2" class="tc"><input type="submit" class="btn1"
					value="保存" /> <input type="button" class="btn1" value="返回"
					onclick="history.back();" /></td>
			</tr>
		</table>
	</form>
	<include file="Index:footer" />
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/upload.js?{:version()}"></script>
    <script>
        /**
         * 选择图片
         */
        function selectPic(obj){
            upload.prototype.callback = function(url, path){
                $(obj).siblings('.inputText1').val(path);
            }
            upload.prototype.uploadPic("info");
        }
    </script>
</body>
</html>