<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>反馈编辑</title>
<include file="Index:_js_css" />
    <style>
        .fg-l{width: 120px;}
        .fg-r input[type=text]{width: 400px;}
    </style>
</head>
<body>
<form role="form" action="__URL__/editForm" method="post" style="width: 100%;" id="myform" onsubmit="return false;">
    <input type="hidden" id="id" name="id" value="{$db.id}" />
    <div class="form-group font24" style="width: 600px;height: 60px;color: #53BCB0;line-height: 60px;border-bottom: 1px solid #EDEDED">个人基本信息</div>
    <div class="form-group tc fontb font18">
        【编辑反馈 】
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">反馈类型：</div>
        <div class="fg-r fl"><if condition="$db['type'] eq 1">悬赏发布<else/>意见反馈</if></div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">创建时间：</div>
        <div class="fg-r fl">{$db['addtime']}</div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">联系电话：</div>
        <div class="fg-r fl"><input type="text" name="tel" placeholder="" value="{$db.tel}" class="form-control fl" /></div>
        <div class="clr"></div>
    </div>

    <div class="form-group">
        <div class="fg-l tr fl">备注：</div>
        <div class="fg-r fl"><input type="text" name="note" placeholder="" value="{$db.note}" class="form-control fl" /></div>
        <div class="clr"></div>
    </div>
    <div class="form-group" style="border-top:1px solid #cccccc">
        <strong>管理员</strong>
    </div>

    <div class="form-group">
        <div class="fg-l tr fl">处理备注：</div>
        <div class="fg-r fl"><input type="text" name="remarks" placeholder="" value="{$db.remarks}" class="form-control fl" /></div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">状态：</div>
        <div class="fg-r fl">
            <select name="status" id="status">
                <option value="1" <if condition="$db['status'] eq 1">selected</if>>已处理</option>
                <option value="0" <if condition="$db['status'] eq 0">selected</if>>未处理</option>
            </select>
        </div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">处理时间：</div>
        <div class="fg-r fl">{$db['updatetime']}</div>
        <div class="clr"></div>
    </div>
    <div class="form-group">
        <div class="fg-l tr fl">处理时间：</div>
        <div class="fg-r fl">
            <input type="submit" class="btn1" value="保存" />
            <input type="button" class="btn1" value="返回"	onclick="history.back();" />
        </div>
        <div class="clr"></div>
    </div>
</form>
<include file="Index:footer" />
</body>
</html>