<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>反馈列表</title>
<include file="Index:_js_css" />
</head>
<body>
<form action="" method="get" name="form1" id="form1">
  <input type="hidden" name="status" id="status" value="{:I('status')}" />
  <table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
    <tr>
      <td>提交时间：
          <input type="text" name="stime" id="stime"/> -
          <input type="text" name="etime" id="etime"/>
        <input type="submit" class="btn1" value="查询" /></td>
    </tr>
    <tr>
      <td>反馈状态： <a href="{:U('Form/form')}" >全部</a>
        <if condition="($status eq 1)"> <a 	href="{:U('Form/form','status=1')}" class="fc_red">启用</a>
          <else />
          <a href="{:U('Form/form','status=1')}">未处理</a> </if>
        <if 	condition="($status eq '0')"> <a 	href="{:U('Form/form','status=0')}" class="fc_red">禁用</a>
          <else />
          <a href="{:U('Form/form','status=0')}">已处理</a> </if></td>
    </tr>
  </table>
</form>
<div class="dot"></div>
<table border="0"  class="mytables" style="width: 100%;">
  <tr class="toolbar">
    <td colspan="8" class="tc">【 管理反馈 】</td>
  </tr>
  <tr>
    <th width="50">ID</th>
    <th width="80" >反馈类型</th>
    <th width="" >反馈信息</th>
    <th width="100">电话</th>
    <th width="120">创建时间</th>
    <th width="100">处理时间</th>
    <th width="140">处理备注</th>
    <th width="100">操作</th>
  </tr>
  <volist id="vo" name="list">
    <tr>
      <td>{$vo.id}</td>
      <td><if condition="$vo['type'] eq 1">悬赏发布<else/>意见反馈</if></td>
      <td>{$vo.note}</td>
      <td>{$vo.tel}</td>
      <td>{$vo.addtime}</td>
      <td>{$vo.updatetime}</td>
      <td>{$vo.remarks}</td>
      <td>
          <a href="{:U('Form/editForm','id='.$vo['id'])}">
              <if condition="$vo['status'] eq 1">
                  已处理
                  <else/>
                  待处理
              </if>
          </a>
          <a class="btnDel" href="javascript:void(0);" onclick="var url='/admin/Form/deleteForm.html?id={$vo.id}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a>
      </td>
    </tr>
  </volist>
  <tr class="footer">
    <td colspan="10"><div class="page">{$page}</div></td>
  </tr>
</table>
<include file="Index:footer" />
</body>
</html>